<div id="Record" class="record panel panel-default"  dir="rtl">

	<div class="panel-heading bg-blue" ng-show="display('header')">
		<h4>نقطة التفتيش <span class="color-black">(CP)</span> <!--<span style="text-transform:uppercase;">ABSCH-CP-{{document.government.identifier}}-{{document.info.documentID}}</span> --></h4> </div>

	<div class="record-body panel-body" help schema="ViewCP" >
		 <div name="article17-1-a"></div>

		<legend ng-if="document.government || document.name">معلومات عامة</legend>

		<div ng-show="document.government">
			<label name="country">البلد</label>
			<div class="km-value" >{{document.government|term}} <span ng-party-status government="document.government" id="government"></span></div>
		</div>

		 <div ng-show="display('title') && document.name">
		 <label>اسم نقطة التفتيش</label>
		 	<div class="km-value"><strong>{{document.name | lstring:locale}}</strong></div>
		 </div>



		<div ng-show="document.responsibilities || document.jurisdiction ||
			document.jurisdictionName">
			<legend name="Responsibilities">مسؤوليات نقطة التفتيش</legend>
			<div ng-show="document.responsibilities"><!--<label>Short description of responsibilities</label>--><div class="km-value km-pre" ng-bind-html="document.responsibilities|lstring:locale"></div>
			</div>
			<div ng-show="document.jurisdiction">
				<label>منطقة الولاية القضائية</label>
				<div class="km-value">
					<ul class="list">
						<li>{{document.jurisdiction|term}} <span ng-if="isSubNational() ||isCommunity() || isOthers()">({{document.jurisdictionName | lstring:locale}})</span></li>
					</ul>
				</div>
			</div><!--<div ng-show="document.jurisdictionName">
				<label ng-show="isSubNational()">Name of the sub-national jurisdiction</label>
				<label ng-show="isCommunity()">Name of the community jurisdiction</label>
				<label ng-show="isOthers()">Other jurisdiction</label>
				<div class="km-value">{{document.jurisdictionName | lstring:locale}}</div>
			</div>--></div>

		<div ng-if="document.informAllAuthorities || document.contactsToInform" >
			<legend>تتسلم السلطة (السلطات) نسخًا مجانية من بيانات نقطة التفتيش التي تحتوي على المعلومات التي جمعتها هذه النقطة أو حصلت عليها. </legend>

			<div class="help-info" style="padding-top:10px;">ستتلقى جميع السلطات الوطنية وجهات الاتصال المبينة أدناه نسخًا بالبريد الإلكتروني من بيانات نقاط التفتيش التي تحتوي على المعلومات التي جمعتها هذه النقطة أو استلمتها ونشرتها. يُرجى ملاحظة أن السلطات الوطنية التي تقدم الموافقة المسبقة عن علم سوف تتلقى تلقائيًا نسخًا بالبريد الإلكتروني من جميع البيانات المنشورة لنقاط التفتيش.  لا تضمن غرفة تبادل المعلومات بشأن الحصول وتقاسم المنافع استلام رسائل البريد الإلكتروني أو قراءتها.</div>
			<div class="km-value" ng-show="document.informAllAuthorities"><a translation-url  href="/countries/{{document.government.identifier|uppercase}}" target="_new">جميع السلطات الوطنية المختصة ({{document.government|term}})</a> تم اختيارها لكي تستلم تلقائيًا بالبريد الإلكتروني بيانات نقاط التفتيش التي نشرتها هذه النقطة.</div>
          
			<div ng-show="document.contactsToInform">
				<div class="km-value" ng-repeat="authority in document.contactsToInform">
                    <div view-contact-reference ng-model="authority" locale="locale"></div>
				</div>
			</div><!--<div ng-show="document.contactsToInform" class="row">
				<div ng-repeat="contact in document.contactsToInform">
					<div class="col-xs-12">
						<div view-contact-reference ng-model="contact" locale="locale" class="well"></div>
					</div>
				</div>
			</div>--><div class="km-value" ng-show="!document.informAllAuthorities && !document.authoritiesToInform && !document.contactsToInform"><span >لم يتم تحديد أي سلطات إضافية لكي تتلقى نسخًا تلقائية بالبريد الإلكتروني من بيانات نقاط التفتيش التي نشرتها هذه النقطة.</span></div>

		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>عنوان لموقع إنترنت أو وثائق مرفقة أخرى ذات صلة</label>
				<div class="km-value" ng-repeat="item in document.relevantDocuments"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>
		</div>

	</div>
	
	 <div document-metadata class="panel-footer"></div>

</div>
