<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-orange" ng-show="display('header')">

		<h4>مبادرة بناء القدرات <span class="color-black"> (CBI)</span></h4>
    </div>
	<div class="record-body panel-body">
			
		<document-date></document-date><br><div ng-show="document.title">
			<label>العنوان</label>
			<div class="km-value km-pre">{{document.title | lstring:locale}}</div>
		</div>

		<div ng-show="document.projectNumber">
			<label>رقم أو معرف المشروع</label>
			<div class="km-value km-pre">{{document.projectNumber | lstring:locale}}</div>
		</div>

		<div ng-show="document.geographicScope">
			<label>النطاق الجغرافي</label><span class="km-value">{{document.geographicScope.scope | term:locale}}</span></div>

		<div ng-show="document.geographicScope && (document.geographicScope.regions || document.geographicScope.countries)">
			<label>المجموعة (المجموعات) الجغرافية أو السياسية/الاقتصادية و/أو البلد (البلاد)</label>
			<div class="km-value">
                <ul  class="list" ng-show="document.geographicScope.regions || document.geographicScope.countries">
                    <li ng-repeat="term in document.geographicScope.regions">{{term | term:locale}}</li>
                    <li ng-repeat="term in document.geographicScope.countries">{{term | term:locale}}</li>
                </ul>
            </div>
		</div>

		<div ng-show="document.geographicScope && document.geographicScope.jurisdiction">
			<label>منطقة الاختصاص</label><span class="km-value km-pre">{{document.geographicScope.jurisdiction | lstring:locale}}</span></div>

		<div ng-show="document.geographicScope && document.geographicScope.community">
			<label>المجتمع</label><span class="km-value km-pre">{{document.geographicScope.community | lstring:locale}}</span></div>

		<div>
			<label>نوع مبادرة بناء القدرات</label>
			<div style="padding-left:20px" >
				<div>
					<label>(أ) هل هذا برنامج/مشروع مُخصص لبناء القدرات بشأن الحصول على الموارد وتقاسم المنافع؟</label>
					<div class="km-value km-pre" ng-if="document.capacityBuildingType.isProjectProgramme">نعم</div>
					<div class="km-value km-pre" ng-if="!document.capacityBuildingType.isProjectProgramme">لا</div>
				</div>
				<div>
					<label>(ب) هل هذا نشاط أو عنصر متعلق بالحصول على الموارد وتقاسم المنافع وجزء من مشروع أو برنامج كبير لبناء القدرات؟</label>
					<div class="km-value km-pre" ng-if="document.capacityBuildingType.isBroaderProjectPart">نعم</div>
					<div class="km-value km-pre" ng-if="!document.capacityBuildingType.isBroaderProjectPart">لا</div>
					<div ng-if="document.capacityBuildingType.broaderProjects">
						<label>المشاريع الكبيرة</label>
						<div class="km-value">
							<ul class="list">
								<li ng-repeat="item in document.capacityBuildingType.broaderProjects">
									<div view-default-reference ng-model="item.identifier" locale="locale"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<label>(ج) هل هذا نشاط مستقل متعلق بالحصول على الموارد وتقاسم المنافع وليس جزءًا من مشروع أو برنامج رئيسي لبناء القدرات؟</label>
					<div class="km-value km-pre" ng-if="document.capacityBuildingType.isStandaloneProject">نعم</div>
					<div class="km-value km-pre" ng-if="!document.capacityBuildingType.isStandaloneProject">لا</div>
				</div>
			</div>
		</div>
	
		<div ng-show="document.status">
			<label>Status of the document</label><span class="km-value">{{document.status | term:locale}}</span></div>

		<div ng-show="(document.startDate && document.endDate) || document.durationPeriod || document.durationText">
	  			<div class="row" ng-show="document.startDate && document.endDate">
	  				<div class="col-md-6">
	  					<label>تاريخ البدء</label>
	  					<div class="km-value km-pre">{{document.startDate | date : 'longDate'}}</div>
	  				</div>
	  				<div class="col-md-6">
	  					<label>تاريخ الانتهاء</label>
	  					<div class="km-value km-pre">{{document.endDate | date : 'longDate'}}</div>
	  				</div>
	  			</div>

	  			<div ng-show="document.durationPeriod || document.durationText">
	  				<label>المدة</label>
	  				<div class="km-value km-pre">{{document.durationPeriod}} {{document.durationText | lstring:locale}}</div>
	  			</div>
		</div>

		<div ng-show="document.isImplementedByAgencies || document.isExecutededByAgencies || document.isCollaboratededByPartners">

			<div ng-show="document.isImplementedByAgencies && document.implementingAgencies">
			  	<label>الجهة (الجهات) أو المنظمة (المنظمات) المشرفة على التنفيذ</label>
				<div class="km-value" ng-repeat="contact in document.implementingAgencies">
					<div view-organization-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>

			<div ng-show="document.isImplementedByAgencies && document.executingAgencies">
			  	<label>الجهة (الجهات) أو المنظمة (المنظمات) القائمة بالتنفيذ</label>
				<div class="km-value" ng-repeat="contact in document.executingAgencies">
					<div view-organization-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>

			<div ng-show="document.collaboratingPartners && document.collaboratingPartners">
				<label>الشريك (الشركاء) المتعاونون</label>
				<div class="km-value" ng-repeat="contact in document.collaboratingPartners">
					<div view-organization-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>

		</div>

		<div ng-show="document.contacts">
			<label>جهات الاتصال</label>
			<div class="km-value" ng-repeat="contact in document.contacts">
				<div view-contact-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.projectDocument">
			<label>وثيقة المشروع أو وثيقة وصف المبادرة</label>
			<div class="km-value" ng-repeat="item in document.projectDocument"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
		</div>

	  	<legend>معلومات تفصيلية</legend>

		<div ng-show="document.description">
			<label>وصف مختصر للمبادرة يشمل الأهداف والغايات</label>
			<div class="km-value km-pre">{{document.description | lstring:locale}}</div>
		</div>

		<div ng-show="document.targetGroups">
			<label>المجموعة (المجموعات)/الجهات المستفيدة المستهدفة</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.targetGroups">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<div ng-show="document.categories">
			<label>فئة (فئات) أنشطة بناء القدرات</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.categories">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<legend>معلومات عن التمويل</legend>

		<div ng-show="document.fundingSourceTypes">
			<label>نوع (أنواع) مصدر التمويل</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.fundingSourceTypes">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<div ng-show="document.coreFundingSources">
			<label>مصدر (مصادر) التمويل الأساسية</label>
			<div class="km-value" ng-repeat="contact in document.coreFundingSources">
				<div view-organization-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.coFinancingSources">
			<label>مصدر (مصادر) التمويل المشترك</label>
			<div class="km-value" ng-repeat="contact in document.coFinancingSources">
				<div view-organization-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.totalBudget">
			<label>إجمالي الميزانية (المبلغ بالدولار الأمريكي)</label>
			<div class="km-value km-pre">{{document.totalBudget | currency:"USD$"}}</div>
		</div>


		<div ng-show="document.resultsAchievements || document.resultsOutputs || document.bestPractices">
			<legend>نتائج بناء القدرات</legend>

			<div ng-show="document.resultsAchievements">
				<label>النتائج</label>
				<div class="km-value km-pre">{{document.resultsAchievements | lstring:locale}}</div>
			</div>

			<div ng-show="document.resultsOutputs">
				<label>المخرجات الرئيسية</label>
				<div class="km-value" ng-repeat="item in document.resultsOutputs"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>

			<div ng-show="document.bestPractices">
				<label>تحديد أفضل الممارسات والدروس المستفادة.</label>
				<div class="km-value km-pre">{{document.bestPractices | lstring:locale}}</div>
			</div>
		</div>


		<div ng-show="document.absKeyAreas">
			<legend>غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع</legend>

			<label>المجالات الرئيسية والتدابير الاستراتيجية لبناء القدرات وتطويرها</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.absKeyAreas">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div class="km-value" >
					<ul class="list">
						<li ng-repeat="item in document.relevantDocuments"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
					</ul>
				</div>
			</div>
		</div>
       
	</div>

	<div document-metadata class="panel-footer" ></div>

</div>
