<div dir="rtl">
    <div  ng-show="!user.isAuthenticated" style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">يرجى تسجيل الدخول لنشر المعلومات في غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع</h1>
        <hr>
       <div class="well">
       <h3>كيف يمكنني تسجيل حساب في موقع اتفاقية التنوع البيولوجي؟</h3>
       <p>أي شخص يمكنه إنشاء حساب في موقع اتفاقية التنوع البيولوجي ليتاح له إمكانية تسجيل المعلومات في كل غرف تبادل المعلومات في موقع اتفاقية التنوع البيولوجي بما في ذلك غرفة تبادل معلومات السلامة الأحيائية، وغرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع وآلية غرفة تبادل المعلومات في ظل الاتفاقية. يمكنك تسجيل حساب في موقع اتفاقية التنوع البيولوجي في  <a translation-url  href="http://accounts.cbd.int/signin" class="bold">accounts.cbd.int/signin</a></p>
        <p>احرص على إدخال كل المعلومات المطلوبة كما توضح الاستمارة. ستتلقى رسالة إلكترونية تلقائية على بريدك الإلكتروني بها رابط ينبغي أن تضغط عليه لتأكيد الحساب.</p>
       <h3>هل نسيت كلمة المرور؟</h3>
        <p>اضغط هنا  <a translation-url  href="http://accounts.cbd.int/password/reset" class="bold">accounts.cbd.int/password/reset</a>  لتعيين كلمة مرور جديدة. سيطلب منك إدخال عنوان البريد الإلكتروني، وإذا كنت مُستخدمًا مُسجَّلا، ستُرسل على الفور رسالة بريدية إلى عنوان البريد الإلكتروني المسجل تحتوي على إرشادات ضبط كلمة مرور جديدة.</p>
        <h3>هل لديك مشكلة في عرض غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع؟</h3>
        <p> ينصح بزيارة الموقع الإلكتروني لغرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع من الإصدارات الحديثة لمتصفحات الإنترنت (Firefox أو Chrome أو Internet Explorer 9+).</p>
        <h3 class="color-green">لطلب الدعم الفني، يرجى التواصل مع مكتب المساعدة على: <span class="color-blue">absch@cbd.int</span></h3>
       </div>
      </div>
</div>
