<div id="NotificationsHeaderPanel" style="max-height:600px;overflow: scroll;" dir="rtl">
    <style> .notification-heading{ padding:2px 10px; } .divider { margin:0px!important; } .bg-primary { color: #fff!important; background-color: #428bca!important; border-color: #357ebd!important; } </style>
     <div class="notification-heading">
         <h4 class="menu-title color-grey">الإخطارات</h4><a ng-click="markAllRead($event)" class="color-blue pull-right" style="cursor:pointer;padding-top: 7px;">تمييز الكل كمقروءة</a></div>
    <div class="divider"></div>
    <div style="padding-left:30%;padding-top: 5px;"><a style="cursor:pointer" ng-click="loadRecords($event, 'unread')"><span class="badge" ng-class="{'bg-primary':!activeLink || activeLink=='unread'}" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">غير مقروءة</span></a> <a style="cursor:pointer" ng-click="loadRecords($event, 'all')"><span class="badge" ng-class="{'bg-primary':activeLink=='all'}" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;">كل الرسائل</span></a></div>
    <div style="padding-top:10px" infinite-scroll="loadNotifications()" infinite-scroll-disabled="loading" infinite-scroll-distance="12" infinite-scroll-parent="true">

        <div class="row notification-row" ng-repeat="notification in notifications" ng-class="{'notification-read':notification.state==='read','notification-unread':notification.state==='unread'}"><!--TIMEOUT=======================================--><div class="notification-spacing10" ng-if="notification.data.action==='timedout'">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><span class="notification-title"><i class="fa fa-lg fa-clock-o"></i> انتهت صلاحية طلب النشر</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">التفاصيل:</span> <span class="notification-label">تنتهي صلاحية طلبات النشر في النظام تلقائيًا بعد 90 يومًا</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!--REQUEST=======================================--><div class="notification-spacing10" ng-if="(notification.data.action==='request' || notification.data.action==='delete-request') && (!notification.data.iteration || notification.data.iteration===1)">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-rotate-right"></i> <span class="notification-title" ng-if="notification.data.action==='request'">طلب النشر</span> <span class="notification-title" ng-if="notification.data.action==='delete-request'">حذف الطلب</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">قام بالطلب:</span> <span>{{notification.createdBy_info.firstName}} {{notification.createdBy_info.lastName}}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!--REMINDER=======================================--><div class="notification-spacing10" ng-if="(notification.data.action==='request' || notification.data.action==='delete-request') && notification.data.iteration>1">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-calendar"></i> <span class="notification-title" ng-if="notification.data.action==='request'">تذكير: طلب النشر قيد الموافقة.</span> <span class="notification-title" ng-if="notification.data.action==='delete-request'">تذكير: حذف الطلب قيد الموافقة.</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">قام بالطلب:</span> <span>{{notification.createdBy_info.firstName}} {{notification.createdBy_info.lastName}}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!--RECALLED=======================================--><div class="notification-spacing10" ng-if="notification.data.action==='recalled'">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-rotate-left"></i> <span class="notification-title">تم سحب الطلب</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">سَحَب الطلب:</span> <span>{{notification.createdBy_info.firstName}} {{notification.createdBy_info.lastName}}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!--REJECTED=======================================--><div class="notification-spacing10" ng-if="notification.data.action==='rejected'">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-times-circle"></i> <span class="notification-title">تم رفض الطلب</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">رَفَض الطلب:</span> <span>{{notification.createdBy_info.firstName}} {{notification.createdBy_info.lastName}}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!--APPROVED=======================================--><div class="notification-spacing10" ng-if="notification.data.action==='approved'">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-check-circle"></i> <span class="notification-title">تم اعتماد الطلب</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">اعتمَدَ الطلب:</span> <span>{{notification.createdBy_info.firstName}} {{notification.createdBy_info.lastName}}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!--MESSAGE=======================================--><div class="notification-spacing10" ng-if="notification.type==='message'">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-envelope-o"></i><div class="notification-title notification-spacing5">{{notification.data.message}}</div>
                        <div class="notification-spacing5"><span class="notification-label">أرسلَ الطلب:</span> <span>{{notification.createdBy_info.firstName}} {{notification.createdBy_info.lastName}}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>
            </div><!--Subscription Publish=======================================--><div class="notification-spacing10" ng-if="notification.data.action==='published' && notification.type==='subscriptionNotification'">

                <div class="col-xs-11">
                    <div class="notification-message" ng-click="goto(notification);"><i class="fa fa-lg fa-bolt"></i> <span class="notification-title">تنبيه: {{notification.data.message || 'لقد نُشِر سجلٌ جديد'}}</span><div class="notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.metadata.schema | schemaName}}:</span> <span>{{notification.data.documentInfo.title | lstring:locale }}</span></div>
                        <div class="hidden-xs notification-spacing5"><span class="notification-label">{{notification.data.documentInfo.publisherText }}:</span> <span>{{notification.data.documentInfo.publisher }}</span> <span class="notification-label">في</span> <span>{{notification.createdOn | formatDateWithTime}}</span></div>
                    </div>
                </div>
                <div class="col-xs-1 text-center" class="notification-timer">{{notification.createdOn | moment:'startOf':'minutes' | moment:'fromNow'}}</div>

            </div><!-- <div ng-if="loading" style="maring:auto">
                <i class="fa fa-spin fa-spinner" /> loading..
            </div> --></div>
        <div style="margin-top:10px;" ng-if="!notifications && !loading">
            <div class="col-xs-12 text-center"><span class="color-grey">لا توجد إخطارات</span></div>
        </div>
        <div style="margin-top:10px;" ng-if="loading" class="col-xs-12 text-center"><i class="fa fa-spin fa-spinner" /></div>
    </div>
</div>
