<div><strong>{{currentRealmMessage()}}</strong><div class="row">
        <div class="col-sm-12">
            <div class="well2">
                <div class="alert alert-danger col-xs-12">La funci&oacute;n para cambiar de &aacute;mbito deber&iacute;a emplearse &uacute;nicamente para ver registros de otros &aacute;mbitos, pero no para agregar o editar.<div>    
                        <select class="form-control" ng-model="selectedRealm">
                            <option  ng-repeat="realm in realmList" value="{{realm.identifier}}">{{realm.message}}</option>
                        </select>
                        <button type="button" class="btn btn-default" ng-click="switchRealm()"><i class="glyphicon glyphicon-thumbs-up"></i> Cambiar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
