<div class="row">
    <div class="col-xs-12">

        <span ng-show="lastSaved && hideTimer=='false'" class="color-grey label pull-right" style="background-color:#ddd;text-transform:uppercase;font-size:12px;"><span style="position:relative;top:1px;"><i class="glyphicon glyphicon-time" style="position:relative;top:2px;"></i><span class="color-blue" style="padding:3px;">{{lastSaved}}</span> since last save</span></span>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12">
        <div km-form-languages ng-model="languages" style="padding-top:20px;" class="pull-left btn-xs"></div>

        <ul style="list-style-type:none;margin:0;padding:0;padding-top:20px;" class="pull-right">
            <li style="display: inline;"><button type="button" class="btn btn-warning " ng-click="close()" ng-disabled="loading">
                <i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </li>
            <li style="display: inline;"  ng-show="security.canSaveDraft">
                <button type="button" class="btn btn-default bg-draft" width="50px" ng-click="tab='draft';saveDraft()" ng-disabled="loading">Grabar borrador <i ng-show="tab=='draft' && (loading || security==undefined)" class="fa fa-spinner fa-spin"></i>
                  </button>
            </li>
            <li style="display: inline;" ng-show="security.canSave">
                <button type="button" class="btn btn-danger bg-published " width="50px" ng-click="tab='publish';publish()" ng-disabled="loading">Publicar <i ng-show="tab=='publish' && loading" class="fa fa-spinner fa-spin"></i>
                    </button>
            </li>
            <li style="display: inline;" ng-show="security.canSave!==undefined && (!security.canSave && security.canSaveDraft)">
                <button id="publish_button" type="button" class="btn btn-danger bg-request" ng-href="#" ng-click="tab='publishRequest';publishRequest()" ng-disabled="loading">Solicitar publicaci&oacute;n <i ng-show="tab=='publishRequest' && loading" class="fa fa-spinner fa-spin"></i>
                    </button>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12" style="border-bottom:1px solid #eee;margin-bottom:20px;">
        <ul style="list-style-type:none;margin:0;padding:0;padding-top:20px;" class="pull-left">
            <li class="tab" style="display: inline;" ng-class="{'tab-selected': tab=='edit'}">
                <a translation-url  ng-click="tab='edit'" ng-disabled="loading || security==undefined">Formulario de presentaci&oacute;n</a>
            </li>
            <li class="tab" style="display: inline;" ng-class="{'tab-selected': tab=='review'}">
                <a translation-url  ng-click="tab='review'" ng-disabled="loading || security==undefined">Revisi&oacute;n</a>
            </li>
        </ul>
    </div>

    <div style="display:none" id="msgDraftSaveMessage">
        Su registro fue grabado como borrador.
    </div>

    <div class="row" style="display:none" id="divShowError" ng-show="showError">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" ng-click="showError=false">
                    <span aria-hidden="true">&times;</span> <span class="sr-only">Cerrar</span>
                </button> {{errorMessage}}
            </div>

        </div>
    </div>


    <div id="dialogCancel" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">×</button>
                    <h4>Cancelar cambios</h4>
                </div>
                <div class="modal-body">
                    <p>Si quiere cancelar los cambios que acaba de hacer en este borrador, puede guardar la versi&oacute;n anterior, la cual estar&aacute; disponible en la lista de borradores del Centro de Administraci&oacute;n. Usted o sus colegas pueden continuar editando el registro en la sesi&oacute;n actual o en una sesi&oacute;n posterior.</p>
                </div>
                <div class="modal-footer" style="margin-top:0">
                    <button type="button" ng-click="closeDialog()" class="btn btn-default cancelClose">Cancelar</button>
                    <button type="button" ng-click="close(true)" class="btn btn-warning closeWithoutSaving pull-left">Cerrar sin grabar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divAdditionalInfo" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red color-white">
                    <button type="button" class="close" ng-click="closeAddInfoDialog(false)" aria-hidden="true">×</button>
                    <h2>Publicar una solicitud</h2>
                </div>
                <div class="modal-body">
                    <p>¿Desea agregar informaci&oacute;n para la autoridad publicadora?</p>
                    <textarea class="form-control" rows="5" name="info" ng-model="InfoDoc.additionalInfo"></textarea>
                </div>
                <div class="modal-footer" style="margin-top:0">
                    <button type="button" class="btn btn-default" ng-click="closeAddInfoDialog(false)">Cancelar</button>
                    <button type="button" id="continueRequest" class="btn btn-primary pull-left" ng-disabled="loading">Enviar solicitud</button>
                </div>
            </div>
        </div>
    </div>


</div>