<div>

    <div smooth-scroll duration="100" offset="200"></div>
    <div block-region activate="loading"></div>

    <div class="alert alert-danger text-center" ng-show="error">
        <strong>发生错误...</strong>
        <div>{{error}}</div>
    </div>
    <div class="jumbotron" style="background-color:white;" role="alert" ng-show="documentSuccess">
        <h2>感谢您下载文件 {{documentUID}}。</h2>
        <p>如果该文件未下载，请尝试单击<a href="{{documentUrl}}" class="alert-link">此处...</a></p>
        </br></br></br></br> 本窗口将在 {{timeLaspe}} 秒后自动关闭。
    </div>

    <div class="jumbotron" style="background-color:white;" role="alert" ng-show="documentError">
        <h2>感谢您索要文件 {{documentUID}}。</h2>
        <p>该文件不存在，如果您认为应该提供该文件，请发送报告至<a href="mailto:absch@cbd.int" class="alert-link">absch@cbd.int</a>。</p>
    </div>

    <div id="RecordDetails" ng-if="showDetails">
        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <h3 style="margin:0 0 20px 0;padding:0;">记录信息</h3>
                    <table style="width:100%!important;">
                        <tr>
                            <td><label> 唯一识别码： </label></td>
                            <td class="bold">
                                {{internalDocument | uniqueID}}
                            </td>
                        </tr>
                        <tr>
                            <td><label> 当前状态： </label></td>
                            <td class="bold">
                                <span class="color-grey" ng-if="internalDocument.amendmentIntent!=1 && !internalDocumentInfo.deletedOn && (internalDocumentInfo.latestRevision == 0 || internalDocumentInfo.revision === '0')">草稿</span> <span class="color-green" ng-if="internalDocument.amendmentIntent!=1 && !internalDocumentInfo.deletedOn && internalDocumentInfo.latestRevision > 0 && internalDocumentInfo.revision > 0">已发布</span> <span class="color-red" ng-if="internalDocument.amendmentIntent!=1 && !internalDocumentInfo.deletedOn && internalDocumentInfo.workingDocumentLock">[ 已锁定： 正在等待 {{workflowRequestType}} 请求 ]</span> <span class="color-grey" ng-if="internalDocument.amendmentIntent!=1 && internalDocumentInfo.deletedOn && internalDocumentInfo.revision > 0">已删除</span> <span ng-show="!internalDocument.deletedOn && internalDocument.amendmentIntent==1  && internalDocument.type!='absCheckpointCommunique'"><span class="bold color-red"> 已撤销</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td><label> 记录类型： </label></td>
                            <td class="bold">{{internalDocumentInfo.metadata.schema | schemaName}}</td>
                        </tr>
                        <tr ng-if="docInfo.revision > 0">
                            <td><label> 记录版本： </label></td>
                            <td class="bold">{{internalDocumentInfo.revision}}</td>
                        </tr>
                        <tr ng-if="docInfo.metadata.government">
                            <td><label> 记录管理人： </label></td>
                            <td class="bold"> {{getUserCountry(internalDocumentInfo.metadata.government)}}</td>
                        </tr>
                        <tr>
                            <td><label> 历史：</label></td>
                            <td>
                                <div view-history document-id="internalDocumentInfo.identifier"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="alert alert-danger" role="alert" ng-show="internalDocumentInfo.latestRevision != internalDocumentInfo.revision && revisionNo != 'draft'">
        <h2> 
                <span> 此记录已更新。这不是最新发布的版本。</span><a ng-href="/database/{{internalDocument.header.schema | schemaShortName}}/{{internalDocument | uniqueIDWithoutRevision}}" target="new"> 单击此处查看该记录的最新版本。</a>
			</h2>
    </div>


    <div style="float:right; position:relative;top:1px;right:1px;" ng-if="!isIRCCRevoked && showDetails">
        <div>
            <a title="编辑" ng-show="!internalDocumentInfo.deletedOn && !internalDocumentInfo.workingDocumentLock" type="button" class="btn btn-default" href="/register/{{internalDocument.header.schema|schemaShortName}}/{{internalDocument.header.identifier}}/edit"><i class="fa fa-edit"></i> 编辑 </a>
            <button title="删除" ng-show="!isRequest(record) && showAddButton()" ng-class="{'red':(record.type == 'absPermit' && isPublished(record))}" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>
    <div class="btn-group" ng-show="internalDocument.header.languages.length>1">
        <input type="button" class="btn" ng-class="{'active' : currentLocale==locale, 'btn-info' : currentLocale!=locale}" 
        ng-repeat="locale in internalDocument.header.languages" ng-click="setLocale(locale)" value="{{locale | uppercase}}" />
    </div>
    <div id="schemaView" ng-show="internalDocument"></div>

</div>