<div ng-controller="editBiosafetyDecision" dir="rtl">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()" dir="rtl"></span><div class="registerpage-content">
	
				<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
				 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
				 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
				 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
				 data-container="{{container}}" is-dialog="{{isDialog}}">
					<edit-form>
						<form class="editForm" name="editForm" style="margin-top:10px">
							<div ng-show="tab=='edit'" km-tab="edit">
								
								<section>
									<div class="well no-shadow bg-white">
									<legend>معلومات عامة</legend>
									<div class="row">
										<div class="col-xs-12" >
											<div class="km-control-group" name="languages" required caption="يُرجى اختيار اللغة (اللغات) التي تريد إرسال هذا السجل بها:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="government" required caption="الدولة المرسلة للقرار أو المنشور">
													<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries"
														filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="يُرجى اختيار البلد..."></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="authorities" caption="السلطة (السلطات) الوطنية المختصة المسؤولة عن القرار أو المنشور">											
													<div document-selector ng-model="document.authorities" question="authorities"
														government="document.government" schema="(authority)"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" required name="title" caption="العنوان/الرقم المرجعي للقرار/المنشور">
													<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="date" caption="تاريخ القرار">
													<div km-date placeholder="يوم - شهر - سنة" name="date" required ng-model="document.date"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="takenPriorEntryIntoForce" required caption="هل تم اتخاذ القرار قبل سريان البروتوكول؟">
													<div km-yes-no required ng-model="document.takenPriorEntryIntoForce" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="jurisdictions" caption="منطقة (مناطق) الاختصاص">
													<div class="help-info">اذكر منطقة الاختصاص التي ينطبق عليها القانون أو اللوائح أو الإرشادات أو الاتفاقات إذا كانت مختلفة عن اسم البلد. مثال: البلد: الدنمارك، منطقة الاختصاص: "مع استبعاد الأقاليم فيما يتعلق بجزر الفارو وجرينلاند".</div>
													<div km-select multiple name="jurisdictions" ng-model="document.jurisdictions" items="options.countries()"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-if="document.jurisdictions && document.jurisdictions.length>0">
											<div class="col-xs-12">
												<div class="km-control-group" name="jurisdictionsDetails" caption="تفاصيل منطقة (مناطق) الاختصاص">
													<div km-textbox-ml ng-model="document.jurisdictionsDetails" rows="1" locales="document.header.languages" placeholder="تفاصيل منطقة الاختصاص"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="isAmendment" required caption="هل هذا تعديل على قرار / منشور سابق؟">
													<div km-yes-no required ng-model="document.isAmendment" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row" ng-if="document.isAmendment">
											<div class="col-xs-12">
												<div class="km-control-group" name="amendedDecision" caption="وضح قرار غرفة تبادل معلومات السلامة الأحيائية الذي جرى تعديله" required>											
													<div document-selector ng-model="document.amendedDecisions" question="amendedDecision"
														government="document.government" schema="(biosafetyDecision)"></div>			
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" required name="amendmentReason" caption="اذكر أسباب التعديل">
													<div km-textbox-ml name="amendmentReason" required ng-model="document.amendmentReason" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
	
								<section>
									<div class="well no-shadow bg-white">
									<label for="decisionTypes" style="width:0px;height:0px;display:inline"><span style="display:none">موضوع القرار / الإخطار / المنشور</span></label>
									<legend>موضوع القرار / الإخطار / المنشور</legend>								
									<div class="row">
										<div class="col-xs-12">
											<div block-region activate="decisions.otherDecisions.identifier" skip-loading-icon="true" >
												<div class="km-control-group" name="commonDecisions" required caption="القرارات المشتركة">
														<div km-term-check required ng-model="decisions.commonDecisions" locales="document.header.languages"
														terms="options.commonDecisions()"  binding-type="term[]" ng-change="onCommonDecisionChanged()"  ></div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div block-region activate="decisions.commonDecisions.length > 0" skip-loading-icon="true" >
												<div class="km-control-group" name="otherDecisions" required caption="القرارات والإخطارات والمنشورات الأخرى">
													
													<div km-term-radio required ng-model="decisions.otherDecisions" locales="document.header.languages"
														terms="options.otherDecisions()" binding-type="term" show-other="true"></div>
												</div>		
											</div>		
										</div>
									</div></div>
								</section>
	
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>الكائنات الحية المحورة للإدخال المقصود في البيئة</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="addressesTransboundaryMovement" required caption="هل كان القرار بناء على طلب نقل الكائنات الحية المحورة عبر الحدود إلى بلدك؟">
													<div km-yes-no required ng-model="document.addressesTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
										</div>		
										<div class="row well no-shadow bg-white" ng-if="document.addressesTransboundaryMovement" style="margin-left:1%">
											<div class="col-xs-12">
												<div class="km-control-group" name="intentionDecisions" required caption="نوع القرار">												
													<div km-term-radio required ng-model="decisions.intentionDecisions" locales="document.header.languages"
														terms="options.intentionDecisions()"  binding-type="term" ></div>
												</div>									
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="receiptDate"  caption="تاريخ استلام الإخطار" style="width:40%">
													<div km-date placeholder="يوم - شهر - سنة" name="receiptDate" required ng-model="document.receiptDate"></div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="receiptAcknowledgementDate"  caption="تاريخ إرسال الإقرار باستلام الإخطار إلى المُخطِر." style="width:40%">
													<div km-date placeholder="يوم - شهر - سنة" name="receiptAcknowledgementDate" required ng-model="document.receiptAcknowledgementDate"></div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="communicationDate"  caption="تاريخ إبلاغ المُخطِر بالقرار." style="width:40%">
													<div km-date placeholder="يوم - شهر - سنة" name="communicationDate" required ng-model="document.communicationDate"></div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="exporters" caption="يُرجى إضافة تفاصيل الاتصال بالمُصدّر">											
													<div document-selector ng-model="document.exporters" question="exporters"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="importers" caption="يُرجى إضافة تفاصيل الاتصال بالمستورد/مقدم الطلب">											
													<div document-selector ng-model="document.importers" question="importers"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
										</div>
										<div class="row well no-shadow bg-white" ng-if="document.addressesTransboundaryMovement==false"  style="margin-left:1%">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToTransboundaryMovement" required caption="هل يسري القرار على عمليات نقل الكائنات الحية المحورة عبر الحدود إلى بلدك؟">
													<div km-yes-no required ng-model="document.appliesToTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="importers" required caption="يُرجى إضافة تفاصيل الاتصال بمُقدّم الطلب">											
													<div document-selector ng-model="document.importers" question="importers"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="involvesFieldTrial" caption="هل يتضمن القرار تجارب ميدانية؟">
													<div km-yes-no required ng-model="document.involvesFieldTrial" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="involvesCommercialRelease"  caption="هل يُجيز القرار الإطلاق التجاري؟">
													<div km-yes-no required ng-model="document.involvesCommercialRelease" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToSubsequentIntroductions" required caption="هل يسري القرار على عمليات الإدخال اللاحق للكائنات الحية المحورة نفسها إلى البيئة؟">
													<div km-yes-no required ng-model="document.appliesToSubsequentIntroductions" locales="document.header.languages"></div>
												</div>
											</div>
										</div>							
									</div>
								</section>
								<section ng-if="isLmoDecisionForDirectUse">
									<div class="well no-shadow bg-white">
										<legend>القرار بشأن استخدام الكائنات الحية المحورة كأغذية أو كعلف أو للتجهيز.</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="decisionLMOFFPSubject" required caption="موضوع القرار">
													<div class="km-value">
																<div km-term-check required ng-model="document.decisionLMOFFPSubject" locales="document.header.languages"
														terms="options.decisionLMOFFPSubject()"  binding-type="term[]"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToTransboundaryMovement" required 
												caption="هل تم اتخاذ القرار في غياب إطار تنظيمي محلي وبما يتفق مع المادة 11.6؟">
													<div km-yes-no required ng-model="document.appliesToTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-if="isLmoDecisionForIntentionalIntroduction">
											<div class="col-xs-12">
												<div class="alert alert-danger"><strong>Note:</strong> الفئتان الأوليان في حقل "موضوع القرار/المنشور" في أعلى هذه الصفحة تم تحديدهما مما يوضح أن هذا السجل يشير إلى قرار يتناول الكائنات الحية المُحوَّرة للإدخال المقصود في البيئة (المواد من 7 إلى 10) واستخدام الكائنات الحية المحورة كأغذية أو كعلف أو للتجهيز (المادة 11). وبناء على ذلك، فإن الحقول أدناه، وهي نوع القرار وتفاصيل الاتصال بالمستورد/المصدر أو مقدم الطلب، ليست نشطة لأن المعلومات قد أضيفت بالفعل. إذا لم تكن المعلومات مُضافة، يُرجى إنشاء سجلين منفصلين، واحد لإدخال الكائنات الحية المُحوَّرة المقصود في البيئة وآخر لاستخدام الكائنات الحية المحورة كأغذية أو كعلف أو للتجهيز.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div block-region activate="isLmoDecisionForIntentionalIntroduction" skip-loading-icon="true">
													<div class="row">
														<div class="col-xs-12">
															<div class="km-control-group" name="directUseDecisions" required caption="نوع القرار">
																<div class="km-value">
																	<div km-term-check required ng-model="decisions.directUseDecisions" locales="document.header.languages"
																	terms="options.directUseDecisions()"  binding-type="term[]"></div>
																</div>
															</div>											
														</div>
													</div>
													<div class="col-xs-12" ng-if="'0D0BEEF4-54E4-44C1-ABB2-B89DC145E0B3'">
														<div class="km-control-group" name="exporters"  caption="يُرجى إضافة تفاصيل الاتصال بالمُصدّر">											
															<div document-selector ng-model="document.exporters" question="exporters"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
													<div class="col-xs-12">
														<div class="km-control-group" name="importers" required caption="يُرجى إضافة تفاصيل الاتصال بالمستورد/مقدم الطلب">											
															<div document-selector ng-model="document.importers" question="importers"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
													<div class="col-xs-12">
														<div class="km-control-group" name="importers" required caption="يُرجى إضافة تفاصيل الاتصال بمُقدّم الطلب">											
															<div document-selector ng-model="document.importers" question="importers"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>نتيجة القرار</legend>
										<div class="row">
											<div class="col-xs-12" >
												<div class="km-control-group" name="decisionResult" required caption="نتيجة القرار">												
													<div km-term-radio required ng-model="document.decisionResult" locales="document.header.languages"
														terms="options.decisionResult()" binding-type="term"></div>
												</div>		
											</div>		
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>الكائنات الحية المُحوّرة وتقييم المخاطر</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="modifiedOrganisms" required caption="تحديد هوية الكائنات الحية المحورة">											
													<div document-selector ng-model="document.modifiedOrganisms" question="modifiedOrganisms"
														government="document.government"  schema="(modifiedOrganism)" skip-government="true"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="riskAssessments" required caption="تقييم المخاطر">											
													<div document-selector ng-model="document.riskAssessments" question="riskAssessments"
														government="document.government" schema="(riskAssessments)"></div>			
												</div>
											</div>
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>القرار و/أو أي وثيقة (وثائق) أخرى ذات صلة</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="documents" required caption="الوثيقة (الملف المرفق)">
													<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
	
	
								<section>
									<div class="well no-shadow bg-white">
										<legend>الجدول الزمنى لتأكيد المعلومات أو تحديثها</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="expires" required caption="هل ينبغي تأكيد هذه المعلومات أو تحديثها بعد مضي عامين من تاريخ تقديمها؟">												
													<div km-yes-no required ng-model="document.expires" locales="document.header.languages"></div>
												</div>	
											</div>
										</div>
									</div>
								</section>
		
								<section>
									<div class="well no-shadow bg-white">
										<legend>معلومات إضافية</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="address" caption="أي معلومات أخرى ذات صلة">
													<div class="help-block">يُرجى استخدام هذا الحقل في إضافة أي معلومات أخرى ذات صلة لم تُذكر أو لم تُستخدم في مكان آخر في هذا السجل.</div>
													<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="relevantDocuments" caption="أي وثائق أخرى ذات صلة">
													<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section>
									<legend>ملاحظات</legend>
	
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="notes">
												<div class="help-block">The “Notes” field is for your personal notes or comments and will be hidden when viewing the record. This field is not meant to be used for confidential information.</div>
												<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
											</div>
										</div>
									</div>
								</section>
	
							</div>
						</form>
					</edit-form>
					<review-form>
							<div view-biosafety-decision ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
					</review-form>
				</workflow-arrow-buttons>
			</div>
		</div>
	
</div>
</div>
