<div ng-controller="editOrganism" dir="rtl">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()" dir="rtl"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>معلومات عامة</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption="يُرجى اختيار اللغة (اللغات) التي تريد إرسال هذا السجل بها:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>بيانات الكائنات الحية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="scientificName" caption="الاسم العلمي">
												<div class="help-block">الاسم العلمي للكائن الحي يتكون من اسم الجنس متبوعاً باسم طائفته الخاصة. على سبيل المثال: Oryza sativa هو الاسم العلمي للأرز.</div>
												<input type="text" class="form-control" name="scientificName" required ng-model="document.scientificName"/>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="kingdom" caption="المملكة">
												<input type="text" class="form-control" name="kingdom" ng-model="document.kingdom" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="phylum" caption="الشعبة">
												<input type="text" class="form-control" name="phylum" ng-model="document.phylum" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="_class" caption="الطبقة/الفئة">
												<input type="text" class="form-control" name="_class" ng-model="document._class" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="order" caption="الرتبة">
												<input type="text" class="form-control" name="order" ng-model="document.order" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="family" caption="الفصيلة/العائلة">
												<input type="text" class="form-control" name="family" ng-model="document.family" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="genus" caption="الجنس">
												<input type="text" class="form-control" name="genus" ng-model="document.genus" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="species" caption="النوع">
												<input type="text" class="form-control" name="species" ng-model="document.species" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="subSpecies" caption="النوع الفرعي">
												<input type="text" class="form-control" name="subSpecies" ng-model="document.subSpecies" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="scientificNameSynonyms" caption="الاسم العلمي البديل (مرادفات)">
												<div ng-repeat="synonym in scientificNameSynonyms" style="padding-bottom:5px;">
													<input type="text" class="form-control" name="scientificNameSynonyms{{$index}}" ng-model="synonym.value" />
												</div>
												<button class="btn btn-primary" ng-click="scientificNameSynonyms.push({})">أضف بندًا</button>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="commonNames" caption="الاسم العلمي البديل (مرادفات)">
												<div ng-repeat="commonName in commonNames" style="padding-bottom:5px;">
													<div km-textbox-ml name="commonNames{{$index}}" ng-model="commonName.value" locales="document.header.languages"></div>
												</div>
												<button class="btn btn-primary" ng-click="commonNames.push({})">أضف بندًا</button>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>التصنيف الإضافي</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="plantCultivar" caption="الصنف/النوع (النباتات)">
												<input type="text" class="form-control" name="plantCultivar"  ng-model="document.plantCultivar"/>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="microorganismStrain" caption="السلالة / الفصيلة المعزولة / المصل (الكائنات الدقيقة)">
												<input type="text" class="form-control" name="microorganismStrain" ng-model="document.microorganismStrain" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="bacteriaPathovar" caption="الصفة الإمراضية (في البكتيريا)">
												<input type="text" class="form-control" name="bacteriaPathovar" ng-model="document.bacteriaPathovar" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="virusGroup" caption="مجموعة (الفيروسات)">
												<input type="text" class="form-control" name="virusGroup" ng-model="document.virusGroup" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="organismType"  caption="نوع الكائن الحي">
												<div km-term-radio  ng-model="document.organismType" locales="document.header.languages"
													terms="options.organismType" binding-type="term" show-other="true"></div>
											</div>	
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="domestication"  caption="توطين الكائن الحي">
												<div km-term-radio  ng-model="document.domestication" locales="document.header.languages"
													terms="options.domestication" binding-type="term"></div>
											</div>	
										</div>
									</div>
								</div>
							</section>
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>الصفات المتعلقة بالسلامة الأحيائية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="originCentre" caption="مركز (مراكز) المنشأ">
												<div class="help-block">الحد الأقصى 200 حرف</div>
												<div km-rich-textbox ng-model="document.originCentre" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="diversityCentre" caption="مركز (مراكز) التنوع الجيني">
												<div class="help-block">الحد الأقصى 200 حرف</div>
												<div km-rich-textbox ng-model="document.diversityCentre" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="habitat" caption="حدود الموطن/الموئل">
												<div class="help-block">الحد الأقصى 200 حرف</div>
												<div km-rich-textbox ng-model="document.habitat" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>

										<div class="col-xs-12">
											<div class="km-control-group" name="geographicalDistribution" caption="التوزيع الجغرافي">
												<div class="help-block">مثال: أشجار خشب القطن الشرقي (اسمها العلمي Populus deltoides) تنمو في أمريكا الشمالية من ألبيرتا في الغرب حتى كويبيك في الشرق وفلوريدا وتيكساس وأريزونا وشمال المكسيك في الجنوب. (بحد أقصى 200 حرف)</div>
												<div km-rich-textbox ng-model="document.geographicalDistribution" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="donorOrganism" caption="الأنواع المُهجَّنة بالتكاثر">
												<div class="hel-block">اذكر قائمة بالأنواع المعروفة بالتكاثر المتبادل مع الكائن الحي في السجل وذلك باستخدام جدول التصنيف العلمي (أسماء الأجناس والأنواع).</div>
												<div document-selector ng-model="document.donorOrganism" question="donorOrganism" schema="(organism)"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="pathogenicity" caption="السمة التي يشتهر بها الكائن من حيث إثارة الحساسية و/أو نقل الأمراض">
												<div class="help-block">الحد الأقصى 200 حرف</div>
												<div km-rich-textbox ng-model="document.pathogenicity" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="commonUses" caption="الاستخدام (الاستخدامات) الشائعة:">
												<div km-term-check name="commonUses" required ng-model="document.commonUses" terms="options.commonUses" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</div>
							</section>	
							<section>
								<div class="well no-shadow bg-white">
									<legend>معلومات إضافية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="أي معلومات أخرى ذات صلة">
												<div class="help-block">يُرجى استخدام هذا الحقل في إضافة أي معلومات أخرى ذات صلة لم تُذكر أو لم تُستخدم في مكان آخر في هذا السجل.</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="أي وثائق أخرى ذات صلة">
												<div class="help-block">يُرجى استخدام هذا الحقل في إدخال عناوين أي مواقع إنترنت أخرى ذات صلة و/أو وثيقة أو وثائق أخرى ذات صلة لتخزينها في قاعدة البيانات ليستطيع المستخدمون تنزيلها.</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>ملاحظات</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">The “Notes” field is for your personal notes or comments and will be hidden when viewing the record. This field is not meant to be used for confidential information.</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-organism ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
