<div ng-controller="editLmo" dir="rtl">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()" dir="rtl"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>معلومات عامة</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption="يُرجى اختيار اللغة (اللغات) التي تريد إرسال هذا السجل بها:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>هوية الكائن الحي المحوّر</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="identity" caption="اسم الكائن الحي المحوّر">
												<div class="help-block">الاسم الشائع استخدامه لتحديد الكائن الحى المحوّر، على سبيل المثال الاسم التجارى ( مثل Roundup soy ،NewLeaf® potato, وما إلى ذلك)</div>
												<div km-textbox-ml name="identity"  ng-model="document.identity" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="transformationEvent" caption="حدث التحور">
												<div class="help-block">اسم حدث التحوّر، على سبيل المثال MON810</div>
												<input type="text" class="form-control" name="transformationEvent" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="hasUniqueIdentification" required caption="هل هذا الكائن الحي المحور للكائن له معرف فريد من نوعه؟">
												<div class="help-block">تستخدم غرفة تبادل معلومات السلامة الأحيائية نظاما من المعرفات الفريدة يتوافق مع إرشادات منظمة التعاون الاقتصادي والتنمية لوضع المعرفات الفريدة للنباتات المعدلة وراثيًا (على سبيل المثال: MON-ØØ81Ø-6). لمعرفة المزيد من المعلومات، يُرجى زيارة الرابط <a href="http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml"> http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml</a>.</div>
												<div km-yes-no required ng-model="hasUniqueIdentification" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12" ng-if="hasUniqueIdentification">
											<div class="km-control-group" required name="uniqueIdentification" caption="المُعرِّف الفريد">
												<input type="text" class="form-control" name="uniqueIdentification" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="developers" caption="المطوّر (المطورون)">	
												<div document-selector ng-model="document.developers" question="developers"
													schema="(contact)" caption="نقاط الاتصال"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="description" caption="الوصف">
												<div km-textbox-ml name="description" required ng-model="document.description" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="recipientOrganisms" caption="الكائن المتلقّي أو الكائنات المصدر">	
												<div class="help-block">يشير مصطلح "الكائن المتلقي" إلى الكائن (المُحوَّر بالفعل أو غير المُحوَّر) الذي تعرض للتعديل الوراثي، بينما يشير مصطلح "الكائنات المصدر" إلى الكائنات التي استخدمت في التهجين أو مزج الخلايا.</div>
												<div document-selector required ng-model="document.recipientOrganisms" question="recipientOrganisms"
													schema="(organism modifiedOrganism)" caption="إضافة كائن حي /كائن حي مُحوَّر"></div>			
											</div>
										</div>

										<div class="col-sm-12">
											<div class="km-control-group"  name="recipientOrganismCollectionPoint" caption="نقاط جمع الكائن المتلقّى أو الكائنات الأبوية أو الحصول عليها">
												<div km-textbox-ml name="recipientOrganismCollectionPoint"  ng-model="document.recipientOrganismCollectionPoint" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="linkedModifiedOrganisms" caption="الكائنات الحية المُحوَّرة ذات الصلة">	
												<div class="help-block">يرتبط هذا  الحقل بالكائنات الحية المُحوًّرة الأخرى ذات الخصائص المماثلة.</div>
												<div document-selector ng-model="document.linkedModifiedOrganisms" question="linkedModifiedOrganisms"
													schema="(modifiedOrganism)"></div>			
											</div>
										</div>
									</div>
								</div>
							</section>
							

							<section>
								<div class="well no-shadow bg-white">
									<legend>خصائص عملية التحول</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="vector" caption="Vector">
												<div class="help-block">تستخدم النواقل في احتواء تسلسل الحمض النووي (خاصة في تكوين المحفز-الجين-المثبط) للمساعدة في نقله إلى الكائن المستقبل. أمثلة: Agrobacterium Ti plasmid and pBIN19.</div>
												<div km-textbox-ml name="vector"  ng-model="document.vector" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group"  name="techniqueUsed" caption="التقنيات المستخدمة فى التعديل">
												<div km-term-check name="techniqueUsed" required ng-model="document.techniqueUsed" terms="options.techniqueUsed" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="genes" caption="العناصر الجينية التي تم إدخالها أو تحويرها">	
												<div class="help-block">ومن الأفضل أن يُشار في هذا القسم إلى جميع العناصر الجينية التي تم إدخالها في هذا الكائن الحي المُحوَّر، مثل عناصر التحفيز وتسلسلات ترميز البروتين والمثبطات. على الأقل جميع تسلسلات ترميز البروتين إجبارية.</div>
												<div document-selector ng-model="document.genes" question="genes"
													schema="(dnaSequence)" caption="تسلسل الجينات والحمض النووي"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="geneConstructs" caption="تكوين العناصر الجينية">
												<div class="help-block"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="ملاحظات بشأن العناصر الجينية في هذا الكائن الحي المحور">	
												<div class="help-block">يُرجى تحديد إذا كان أي من هذه العناصر قد تم تعديله من التسلسل المُسجل في "سجل العناصر الجينية في غرفة تبادل معلومات السلامة الأحيائية"، ومدى ارتباطها ببعضها البعض في هذا الكائن الحي المُحوَّر. على سبيل المثال " تسلسل ترميز البروتين epsps تحت تأثير المحفز 35S والمثبط nos".</div>
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
									</div>
								</div>
							</section>
	
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>خصائص الكائن الحى المُحوّر</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="traits" caption="السمات الوراثية المُحوّرة">
												<div km-term-check name="traits" required ng-model="document.traits" terms="options.traits" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="affectedGenes" caption="الجين (الجينات) التي تأثر تعبيرها بالتحول">	
												<div class="help-block">يجب استخدام هذا القسم في تحديد التغيرات التي تطرأ على تعبير الجينات بعيداّ عن تلك التغييرات المدخلة في الكائن الحى المحوّر: على سبيل المثال، إخماد الجين أو تنشيطه.</div>
												<div document-selector ng-model="document.affectedGenes" question="affectedGenes"
													schema="(dnaSequence)" caption="تسلسل الجينات والحمض النووي"></div>			
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="يُرجى وصف مدى التأثير على تعبير الجين (الجينات)">	
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="commonUses" caption="الاستخدام (الاستخدامات) الشائعة للكائن الحى المحوّر">
												<div class="help-block">اختر أكبر عدد ممكن من الخيارات الممكنة.</div>
												<div km-term-check name="commonUses" required ng-model="document.commonUses" terms="options.commonUses" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>طريقة (طرق) الكشف</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethod" caption="الرابط (الروابط) الخارجية">
												<div km-rich-textbox ng-model="document.detectionMethod" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethodLinks" caption="معلومات إضافية">
												<div km-link name="detectionMethodLinks" ng-model="document.detectionMethodLinks" allow-link="true" allow-file="true"
													identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>معلومات إضافية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="أي معلومات أخرى ذات صلة">
												<div class="help-block">يُرجى استخدام هذا الحقل في إضافة أي معلومات أخرى ذات صلة لم تُذكر أو لم تُستخدم في مكان آخر في هذا السجل.</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="أي وثائق أخرى ذات صلة">
												<div class="help-block">يُرجى استخدام هذا الحقل في إدخال عناوين أي مواقع إنترنت أخرى ذات صلة و/أو وثيقة أو وثائق أخرى ذات صلة لتخزينها في قاعدة البيانات ليستطيع المستخدمون تنزيلها.</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>ملاحظات</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">The “Notes” field is for your personal notes or comments and will be hidden when viewing the record. This field is not meant to be used for confidential information.</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-lmo ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
