<div ng-controller="editOrganism" dir="rtl">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()" dir="rtl"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>معلومات عامة</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>بيانات الكائنات الحية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="scientificName" caption="الاسم العلمي">
												<div class="help-block">الاسم العلمي للكائن الحي يتكون من اسم الجنس متبوعاً باسم طائفته الخاص. وعلى سبيل المثال: Oryza sativa هي الاسم العلمي للأرز.</div>
												<input type="text" class="form-control" name="scientificName" required ng-model="document.scientificName"/>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="kingdom" caption="المملكة">
												<input type="text" class="form-control" name="kingdom" ng-model="document.kingdom" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="phylum" caption="الصنف">
												<input type="text" class="form-control" name="phylum" ng-model="document.phylum" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="_class" caption="الشعبة">
												<input type="text" class="form-control" name="_class" ng-model="document._class" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="order" caption="المجموعة">
												<input type="text" class="form-control" name="order" ng-model="document.order" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="family" caption="العائلة">
												<input type="text" class="form-control" name="family" ng-model="document.family" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="genus" caption="الجنس">
												<input type="text" class="form-control" name="genus" ng-model="document.genus" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="species" caption="النوع">
												<input type="text" class="form-control" name="species" ng-model="document.species" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="subSpecies" caption="Sub-species">
												<input type="text" class="form-control" name="subSpecies" ng-model="document.subSpecies" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="scientificNameSynonyms" caption="Alternate scientific name (synonyms)">
												<div ng-repeat="synonym in scientificNameSynonyms" style="padding-bottom:5px;">
													<input type="text" class="form-control" name="scientificNameSynonyms{{$index}}" ng-model="synonym.value" />
												</div>
												<button class="btn btn-primary" ng-click="scientificNameSynonyms.push({})">Add a item</button>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="commonNames" caption="Alternate scientific name (synonyms)">
												<div ng-repeat="commonName in commonNames" style="padding-bottom:5px;">
													<div km-textbox-ml name="commonNames{{$index}}" ng-model="commonName.value" locales="document.header.languages"></div>
												</div>
												<button class="btn btn-primary" ng-click="commonNames.push({})">Add a item</button>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>التصنيف الإضافي</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="plantCultivar" caption="Cultivar / variety (نباتات)">
												<input type="text" class="form-control" name="plantCultivar"  ng-model="document.plantCultivar"/>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="microorganismStrain" caption="Strain / isolate / serotype (الكائنات الدقيقة)">
												<input type="text" class="form-control" name="microorganismStrain" ng-model="document.microorganismStrain" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="bacteriaPathovar" caption="Pathovar (البكتيريا)">
												<input type="text" class="form-control" name="bacteriaPathovar" ng-model="document.bacteriaPathovar" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="virusGroup" caption="Group (الفيروسات)">
												<input type="text" class="form-control" name="virusGroup" ng-model="document.virusGroup" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="organismType"  caption="نوع الكائن الحي">
												<div km-term-radio  ng-model="document.organismType" locales="document.header.languages"
													terms="options.organismType" binding-type="term" show-other="true"></div>
											</div>	
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="domestication"  caption="توطين الكائن الحي">
												<div km-term-radio  ng-model="document.domestication" locales="document.header.languages"
													terms="options.domestication" binding-type="term"></div>
											</div>	
										</div>
									</div>
								</div>
							</section>
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>الصفات المتعلقة بالسلامة الأحيائية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="originCentre" caption="مركز(مراكز) الأصل">
												<div class="help-block">الحد الأقصي 200 حرف</div>
												<div km-rich-textbox ng-model="document.originCentre" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="diversityCentre" caption="مركز(مراكز) التنوع الجيني">
												<div class="help-block">الحد الأقصي 200 حرف</div>
												<div km-rich-textbox ng-model="document.diversityCentre" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="habitat" caption="حدود الموطن">
												<div class="help-block">الحد الأقصي 200 حرف</div>
												<div km-rich-textbox ng-model="document.habitat" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>

										<div class="col-xs-12">
											<div class="km-control-group" name="geographicalDistribution" caption="التوزيع الجغرافي">
												<div class="help-block">مثال: كوتونوود الشرقية (أشجار البوبولس) توجد في شمال أمريكا من ولاية ألبيرتا في الغرب إلي كويبك في الشرق، وتوجد في الجنوب في كلاً من فلوريدا وتكساس وأريزونا وشمال المكسيك. (بحد أقصى 200 حرف)</div>
												<div km-rich-textbox ng-model="document.geographicalDistribution" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="donorOrganism" caption="Cross-compatible species">
												<div class="hel-block">اذكر قائمة بالأنواع التي المعروفة بالتكاثر المتبادل مع الكائن الحي في السجل وذلك باستخدام التصنيف العلمي (أسماء الأجناس والأنواع).</div>
												<div document-selector ng-model="document.donorOrganism" question="donorOrganism" schema="(organism)"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="pathogenicity" caption="الأنواع المعروفة الفتاكة و/أو المنفرة">
												<div class="help-block">الحد الأقصي 200 حرف</div>
												<div km-rich-textbox ng-model="document.pathogenicity" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="commonUses" caption="Common use(s)">
												<div km-term-check name="commonUses" required ng-model="document.commonUses" terms="options.commonUses" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</div>
							</section>	
							<section>
								<div class="well no-shadow bg-white">
									<legend>معلومات إضافية</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="أى معلومات أخرى ذات صلة">
												<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="أي وثائق أخرى ذات صلة">
												<div class="help-block">من فضلك قم باستخدام هذا الحقل فى توفير أى عناوين لمواقع انترنت أخرى ذات صلة و/أو مستند أو أكثر لتخزينها فى قاعدة البيانات ليمكن تحميلها من قبل المستخدمين.</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>ملاحظات</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">The &ldquo;Notes&rdquo; field is for your personal notes or comments and will be hidden when viewing the record. هذا الحقل لا ينبغي استخدامه في الحصول على معلومات سرية.</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-organism ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
