<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4 ng-show="display('header')">关于获取和惠益分享的立法、行政和政策措施<span class="color-black">（MSR）</span></h4></div>
	<div class="record-body panel-body">

			
		<document-date></document-date>

		<legend ng-if="document.government || document.title || document.description || document.jurisdiction || document.jurisdictionRegions || document.status || document.adoption">一般信息</legend>

		<div ng-show="document.government">
			<label name="country">国家</label>
			<div class="km-value"><a ng-href="/countries/{{document.government.identifier}}" target={{target}}>{{document.government|term:locale}}</a> <span ng-party-status government="document.government" id="government"></span></div>
		</div>

		<div ng-show="document.title">
			<label>Title</label>
			<div class="km-value"><strong>{{document.title | lstring:locale}}</strong></div>
		</div>

		<div ng-show="document.description">
			<label>简要描述</label>
			<div class="km-value km-pre" ng-bind-html="document.description | lstring:locale"></div>
		</div>

		<div ng-show="document.jurisdiction">
			<label>辖区</label>
			<div class="km-value">{{document.jurisdiction|term:locale}} <span ng-if="document.jurisdictionName ">({{document.jurisdictionName | lstring:locale}})</span></div>
		</div>


		<div ng-show="document.jurisdictionRegions">
			<label>国家名称和/或地理或政治/经济组</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="term in document.jurisdictionRegions">{{term|term:locale}}</li>
				</ul>
			</div>
		</div>


		<div ng-show="document.status">
			<label>措施当前状态</label>
			<div class="km-value">{{document.status|term:locale}}</div>
		</div>

		<div ng-show="document.adoption">
			<label>通过日期</label>
			<div class="km-value">{{document.adoption | formatDate}}</div>
		</div>

		<div ng-show="document.entryIntoForce">
			<label>生效日期</label>
			<div class="km-value">{{document.entryIntoForce | formatDate}}</div>
		</div>

		<div ng-show="document.retired">
			<label>退出日期</label>
			<div class="km-value">{{document.retired | formatDate}}</div>
		</div>

		<div ng-show="document.limitedApplication">
			<label>措施日期不再有效</label>
			<div class="km-value">{{document.limitedApplication | formatDate}}</div>
		</div>


		<div ng-show="document.type">
			<label>文件类型/措施</label>
			<div class="km-value">{{document.type|term:locale}}</div>
		</div>

		<div ng-show="document.isModelContractualClause">
			<label>此措施包含示范合同条款</label>
			<div class="km-value" ng-if="document.modelContractualClauseDescription">{{document.modelContractualClauseDescription|lstring:locale}}</div>
		</div>
		<div ng-show="document.registeredMeasuresDescription">
			<div class="km-value km-pre">{{document.registeredMeasuresDescription | lstring:locale}}</div>
		</div>

		<div ng-show="document.documents">
			<legend>文档细节</legend>
			<label>文档文本</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="item in document.documents"><a translation-url  target="_blank" ng-href="{{item.url}}"><i class="fa fa-file"></i> {{item.name||item.url}} </a><i ng-show="item.language">({{getTerm(item.language)|term:locale}}) </i><i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.documentTranslations">
			<label>翻译</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="item in document.documentTranslations"><a translation-url  target="_blank" ng-href="{{item.url}}"><i class="fa fa-external-link-square" aria-hidden="true"></i> {{item.name||item.url}} </a><i ng-show="item.language">({{getTerm(item.language)|term:locale}}) </i><i ng-show="item.translationType">({{getTerm(item.translationType)|term:locale}}) </i><i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
				</ul>
			</div>
		</div><!--<div ng-show="document.linkedMeasures">
			<label>Related measures</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="item in document.linkedMeasures">
						<div view-default-reference ng-model="item.identifier" locale="locale"></div>
					</li>
				</ul>
			</div>
		</div>--><div ng-show="document.amendedMeasures || document.amendmentsDescription">
			<legend>增补</legend>
			<div ng-show="document.amendedMeasures">
				<label>此措施将修订以下内容：</label>

				<div class="km-value">
					<ul>
						<li ng-repeat="item in document.amendedMeasures">
							<div view-default-reference ng-model="item.identifier" locale="locale"></div>
						</li>
					</ul>
				</div>
			</div>
			<div ng-show="document.amendmentsDescription">
				<label>修订摘要</label>
				<div class="km-value km-pre" ng-bind-html="document.amendmentsDescription | lstring:review.locale"></div>
			</div>

		</div>

		<div ng-show="document.authorities ">
			<legend>监管联系方式</legend>
			<div ng-repeat="item in document.authorities">
				<div view-contact-reference ng-model="item" locale="locale" class="km-value"></div>
			</div>
		</div>

		<div ng-show="document.measureAmendedBy && document.measureAmendedBy.length>0">
			<legend>增补</legend>
			<label>此措施修订人：</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="item in document.measureAmendedBy">
						<div view-default-reference ng-model="item.identifier_s" locale="locale"></div>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="(document.linkedMeasures && document.linkedMeasures.length>0) || document.linkedMeasuresDescription">
			<legend>关系</legend>			
			<div class="km-value" ng-show="document.linkedMeasures && document.linkedMeasures.length>0">
				<label>此措施涉及：</label>
				<ul>
					<li ng-repeat="item in document.linkedMeasures">
						<div view-default-reference ng-model="item.identifier" locale="locale"></div>
					</li>
				</ul>
			</div>
			<div ng-show="document.linkedMeasuresDescription">
				<label>关系描述</label>
				<div class="km-value km-pre" ng-bind-html="document.linkedMeasuresDescription | lstring:review.locale"></div>
			</div>
		</div>
		<div ng-if="document.absMesasureNotApplicable">
			<legend>措施要素</legend><span class="km-value confidential-text">此措施的要素不适用此措施。</span></div>
		<div ng-if="document.absMeasures">
			<div measure-matrix-elements name="absMeasures" type="single" ng-model="document.absMeasures" 
			locale="locale" document="document" api="measureMatrixApi">
			</div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>更多信息</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div class="km-value">
					<ul>
						<li ng-repeat="item in document.relevantDocuments"><i class="fa fa-external-link-square" aria-hidden="true"></i> <a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div document-metadata class="panel-footer"></div>
</div>
