<link href="/app/css/index.css" rel="stylesheet">
<link href="/app/css/carousel.css" rel="stylesheet">
<div ng-controller="IndexController">
    <div smooth-scroll duration="100" offset="200"></div>
    
    <div id="Jumbotron" style="border-top:1px solid #555;border-bottom:2px solid #ddd;" >
       <home-map></home-map>
    </div>

    <div>
        
        <div>
            <home-articles-small></home-articles-small>
        </div>

        <div>
            <home-country-dashboard></home-country-dashboard>
        </div>

        <div class="clearfix"></div>

        <div style="margin-top:50px!important;">
            <h4 style="padding-bottom:5px;margin-bottom:0;">À propos du Protocole</h4>
            <div style="border-top:1px solid #DDD;"></div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-8">
                    <div class="home-col">Le Protocole de Nagoya sur l'accès aux ressources génétiques et le partage juste et équitable des avantages découlant de leur utilisation à la Convention sur la diversité biologique est un accord international visant à partager les avantages découlant de l'utilisation des ressources génétiques d'une manière juste et équitable, notamment grâce à un accès satisfaisant aux ressources génétiques et à un transfert approprié des technologies pertinentes, compte tenu de tous les droits sur ces ressources et technologies et grâce à un financement adéquat, contribuant ainsi à la conservation de la diversité biologique et à l’utilisation durable de ses éléments constitutifs. <a translation-url  href="http://www.cbd.int/abs"><i class="fa fa-chevron-circle-right"></i> Pour en savoir davantage : www.cbd.int/abs</a></div><br></div>

                <div class="col-md-4">
                    <div class="home-col">
                        <div class="text-center " ng-show="entryintoforce">
                            <div class="row" >
                                <div  class="col-xs-4 bg-green"><span class="color-white" style="font-weight:550; font-size:32px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">{{yearsSinceEntry}}</span> <br> <span style="color:#ddd;text-transform: uppercase;font-weight:bold;font-size:14px;">année<span ng-if="yearsSinceEntry != 1">s</span></span></div>
                                <div  class="col-xs-4 bg-green" style="border-left:3px solid #eee;; border-right:3px solid #eee;"><span class="color-white" style="font-weight:550; font-size:32px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">{{monthsSinceEntry}}</span> <br> <span style="color:#ddd;text-transform: uppercase;font-weight:bold;font-size:14px;">mois<span ng-if="monthsSinceEntry != 1"></span></span></div>
                                <div  class="col-xs-4 bg-green" ><span class="color-white" style="font-weight:550; font-size:32px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">{{daysSinceEntry}}</span> <br> <span style="color:#ddd;text-transform: uppercase;font-weight:bold;font-size:14px;">jour<span ng-if="daysSinceEntry != 1">s</span></span></div>
                            </div>
                            <div style="color:#666;text-transform:uppercase;font-weight:bold;font-size:14px;">Depuis l'entrée en vigueur du Protocole</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
