<div ng-controller="NotificationsController" id="RegisterPage">
    <link href="/app/css/register.css" rel="stylesheet">
    <link href="/app/css/record.css" rel="stylesheet">

    <div smooth-scroll duration="100" offset="200"></div><span register-top-menu></span><div class="register-content card card-1-notrans">

        <div class="register-content-header bg-darkgrey color-white">
            <div style="padding:10px 10px;">
                <h3>Уведомления <span class="helpinfoInline"><i class="fa fa-info-circle helpicon pull-right" ng-click="showInfo = !showInfo"></i></span></h3><!--help info----------------------------><div ng-if="showInfo" class="well well-help">На этой странице размещаются все уведомления, поступающие со всех информационных платформ (МП-КБР, МПБ и МП-ДГРСИВ). В механизме посредничества имеется система внутренних уведомлений для обработки запросов на публикацию, напоминания о необходимости обновления записей или уведомления о возможном истечении срока действия некоторых записей. На этой странице вы можете отслеживать статус своих записей и установить, какие запросы на публикацию находятся на утверждении, или дату утверждения, отзыва или отклонения запроса на любой из информационных платформ.</div>

            </div>
        </div>
        <div class="register-content-content">
            <xuser-notifications-panel></xuser-notifications-panel>
        </div>
    </div>
</div><!-- controller -->