<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>基因和 DNA 序列<span class="color-black"> (DNA)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>一般信息</legend>

		<div ng-show="document.title">
			<label>Title</label>
			<div class="km-value"><strong>{{document.title | lstring:locale}}</strong></div>
		</div>

		<div ng-show="document.name">
			<label>基因或DNA序列的名称</label>
			<km-value-ml value="document.name" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.synonymNames">
			<label>备选基因片断名称（同义词）</label>
			<ul class="list" style="padding-left:0px">
				<li ng-repeat="synonym in document.synonymNames" style="padding-bottom:5px;">
					<km-value-ml value="synonym" locales="locale"></km-value-ml>
				</li>
			</ul>
			
		</div>
		<div ng-show="document.abbreviation">
			<label>缩写</label>
			<km-value-ml value="document.abbreviation" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.family">
			<label>DNA序列的类别</label>
			<div class="km-value" ng-bind="document.family | term:locale"></div>
		</div>

		<div ng-show="document.isSynthetic!=undefined">
			<label>基因/DNA序列是合成分子吗？</label>
			<div class="km-value" ng-if="document.isSynthetic">是</div>
			<div class="km-value" ng-if="!document.isSynthetic">否</div>
		</div>
	
		<legend>供体生物体</legend>

		<div ng-show="document.donorOrganism">
			<label>供体生物体</label>
			<div class="km-value">
				<view-default-reference ng-model="document.donorOrganism.identifier" locale="locale" target="target"></view-default-reference>
			</div>
		</div>

		<div ng-show="document.donorOrganismCollectionPoint">
			<label>供体生物体收集点</label>
			<div class="km-value">
				<km-value-ml value="document.donorOrganismCollectionPoint"  html locales="locale"></km-value-ml>
			</div>
		</div>


		<legend>蛋白质编码序列特征</legend>

		<div ng-show="document.proteinName">
			<label>编码序列表达之蛋白质的名称</label>
			<div class="km-value">
					<km-value-ml value="document.proteinName" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.biologicalFunction">
			<label>生物学功能</label>
			<div class="km-value">
				<km-value-ml value="document.biologicalFunction" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.traits">
			<label>生物科技中的相关性状或用途</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="use in document.traits" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>更多信息</legend>

			<div ng-show="document.relevantInformation">
				<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div class="km-value" ng-repeat="item in document.relevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
