<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>改性活生物体<span class="color-black">(LMO)</span></h4>
	</div>
	<div class="record-body panel-body">

		<document-date></document-date>
		<legend>改性活生物体身份</legend>
		<div ng-show="document.info.documentID" style="text-align: center">
			<div class="help-info">下图通过改性活生物体的唯一标识符、商品名和生物安全信息交换所页面的链接来加以识别。点击以在你的电脑上下载大图片。有关如何使用的帮助，请访问改性活生物体快速链接页面。</div><a ng-href="https://bch.cbd.int/Bch.Images.DynamicImages.LmoQuickLink.dyn.png?documentid={{document.info.documentID}}&amp;download"><img width="100%" style="max-width:1100px;"class="responsive" border="none" ng-src="https://bch.cbd.int/Bch.Images.DynamicImages.LmoQuickLink.dyn.png?documentid={{document.info.documentID}}"></a></div>
		<div ng-show="document.identity">
			<label>改性活生物体的名称</label>
			<km-value-ml value="document.identity" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.transformationEvent">
			<label>转化事件</label>
			<div ng-bind="document.transformationEvent" class="km-value"></div>
		</div>
		<div ng-show="document.uniqueIdentification">
			<label>唯一识别码</label>
			<div ng-bind="document.uniqueIdentification" class="km-value"></div>
		</div>
		<div ng-show="document.developers">
			<label>开发者</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.developers" >						
						<view-contact-reference ng-model='item' locale="locale"></view-contact-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<div ng-show="document.description">
			<label>Description</label>
			<km-value-ml value="document.description" locales="locale"></km-value-ml>
		</div>

		<div ng-show="document.recipientOrganisms">
			<label>受体生物体或亲本生物体</label>
			<div class="help-info">“受体生物体”一词是指经受基因改性的生物体（已改性或未改性），而“亲本生物体”是指那些参与交叉育种或细胞融合的生物体。</div>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.recipientOrganisms" >						
						<view-default-reference ng-model='item.identifier' locale="locale"></view-default-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.recipientOrganismCollectionPoint">
			<label>受体生物体的收集点或获得点</label>			
			<km-value-ml value="document.recipientOrganismCollectionPoint" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.linkedModifiedOrganisms">
			<label>相关改性活生物体</label>	
			<div class="km-value">	
				<ul class="list">
					<li ng-repeat="item in document.linkedModifiedOrganisms" >						
						<view-lmo-reference ng-model='item.identifier' locale="locale"></view-lmo-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<legend>转化过程的特征</legend>
		
		<div ng-show="document.vector">
			<label>载体</label>
			<km-value-ml value="document.vector" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.transformationEvent">
			<label>基因修饰所用技术</label>
			<div ng-bind="document.transformationEvent" class="km-value"></div>
		</div>

		<div ng-show="document.geneConstructs">
			<label>基因片断构造</label>

			<div class="km-value">
				<div ng-repeat="construct in document.geneConstructs">
					<view-lmo-gene ng-model="construct"></view-lmo-gene>
				</div>
			</div>
		</div>
		<div ng-show="document.genes">
			<label>引入或改性基因片断</label>
			<div class="help-info">其中部分基因片断，可能以片断或片段或截短形态存在。请参见下面的说明（如适用）。</div>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.genes" >						
						<view-default-reference ng-model='item.identifier' locale="locale"></view-default-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneNotes">
			<label>有关该改性活生物体中引入或改性之基因片断的注释</label>
			<km-value-ml value="document.geneNotes" locales="locale"></km-value-ml>
		</div>


		<legend>改性活生物体的特征</legend>		
		<div ng-show="document.traits">
			<label>改性性状</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="trait in document.traits" ng-bind="trait | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.affectedGenes">
			<label>表达受到转化影响的其他基因</label>			
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.affectedGenes" >						
						<view-default-reference ng-model='item.identifier' locale="locale"></view-default-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.affectedGeneNotes">
			<label>基因表达如何受到影响</label>
			<div ng-bind="document.affectedGeneNotes" class="km-value"></div>
		</div>
		<div ng-show="document.commonUses">
			<label>常见用途</label>
			<div class="km-value">
				<ul>
					<li ng-repeat="use in document.commonUses" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.detectionMethod||document.detectionMethodLinks">
			<legend>探测方法</legend>
			<div ng-show="document.detectionMethodLinks">
				<label>外部链接</label>
				<div class="km-value">
					<ul>
						<li ng-repeat="item in document.detectionMethodLinks"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
					</ul>
				</div>
			</div>
			<div ng-show="document.detectionMethod">
				<label>更多信息</label>
				<div class="km-value" ng-bind-html="document.detectionMethod | lstring:locale"></div>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>更多信息</legend>

			<div ng-show="document.relevantInformation">
				<label>更多信息</label>
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div class="km-value">
					<ul>
						<li ng-repeat="item in document.relevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div>
			<view-default-reference ng-model="document.header.identifier"></view-default-reference>
				
			</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
