<div>
    <div  ng-show="!user.isAuthenticated" style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Por favor, registrarse para publicar informaci&oacute;n en el Centro de Intercambio de Informaci&oacute;n sobre APB</h1>
        <hr>
       <div class="well">
       <h3>¿C&oacute;mo registro una cuenta en el CDB?</h3>
       <p>Cualquier persona puede tener una cuenta en el CDB, que le permitir&aacute; acceder a registrar informaci&oacute;n en todos los centros de intercambio de informaci&oacute;n del CDB &ndash;el Centro de Intercambio de Informaci&oacute;n sobre Seguridad de la Biotecnolog&iacute;a (CIISB), el Centro de Intercambio de la Informaci&oacute;n sobre APB y el Mecanismo de facilitaci&oacute;n del Convenio. Puede registrar una cuenta en el CDB en <a translation-url  href="http://accounts.cbd.int/signin" class="bold">accounts.cbd.int/signin</a></p>
        <p>No olvide ingresar toda la informaci&oacute;n solicitada, seg&uacute;n las instrucciones del formulario. Autom&aacute;ticamente recibir&aacute; un correo electr&oacute;nico con un enlace en el que hay que hacer clic para confirmar la cuenta.</p>
       <h3>¿Olvid&oacute; su contrase&ntilde;a?</h3>
        <p>Haga clic aqu&iacute; <a translation-url  href="http://accounts.cbd.int/password/reset" class="bold">accounts.cbd.int/password/reset</a> para recuperar su contrase&ntilde;a. Se le pedir&aacute; su direcci&oacute;n de correo electr&oacute;nico y, si es usted un usuario registrado, se le enviar&aacute; inmediatamente un correo electr&oacute;nico a su direcci&oacute;n de correo electr&oacute;nico registrada con las instrucciones para recuperar su contrase&ntilde;a.</p>
        <h3>¿Problemas con la visualizaci&oacute;n en pantalla del Centro de Intercambio de Informaci&oacute;n sobre APB?</h3>
        <p>El Centro de Intercambio de la Informaci&oacute;n sobre APB funciona mejor con las versiones m&aacute;s recientes de los buscadores de Internet (Firefox, Chrome o Internet Explorer 9+).</p>
        <h3 class="color-green">Para apoyo t&eacute;cnico, s&iacute;rvase ponerse en contacto con nuestra mesa de ayuda en: <span class="color-blue">absch@cbd.int</span></h3>
       </div>
      </div>
</div>
