<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Verificaci&oacute;n del correo electr&oacute;nico pendiente</h1>
        <hr>
       <div class="well">
           <p>Verificaci&oacute;n del correo electr&oacute;nico pendiente. Por favor, verifique su correo electr&oacute;nico antes de enviar datos.</p>
           <h3 class="color-green">Haga clic en el enlace de verificaci&oacute;n en el correo electr&oacute;nico enviado a {{user.email}}. Haga clic <a href="https://accounts.cbd.int/activate/resend">aqu&iacute;</a> para volver a enviar el correo electr&oacute;nico de activaci&oacute;n.</h3>
       </div>
      </div>
    </div>
</div>



