<div id="editOrganizationDiv" dir="rtl"><span block-region activate="status=='loading'" ng-if="status=='loading'" update-parent-position="true" dir="rtl"></span><div class="registerpage-content">

        <div workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()" languages="document.header.languages" hide-timer="false"
            tab="tab" validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
            on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
            on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
            data-container="{{container}}" is-dialog="{{isDialog}}">
            <edit-form>
                <form name="editForm" class="editForm" style="margin-top:10px">
                    <legend>معلومات عامة</legend>
                    <div class="row">
                        <div class="col-xs-12" >
                            <div class="km-control-group" name="languages" required caption="يُرجى اختيار اللغة (اللغات) التي تريد إرسال هذا السجل بها:">
                                <div class="indent">
                                    <div km-form-languages required name="languages" ng-model="document.header.languages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <div class="km-control-group" name="name" required caption="اسم المنظمة">
                                <div km-textbox-ml name="name" required ng-model="document.name" placeholder="إدخال النص"
                                    locales="document.header.languages"></div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <div class="km-control-group" name="acronym" required caption="الاسم المختصر للمنظمة">
                                <div km-textbox-ml name="acronym" required ng-model="document.acronym"
                                    placeholder="إدخال النص" locales="document.header.languages"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="km-control-group" name="contact_organizationType" caption="نوع المنظمة">
                                <div km-select name="contact_organizationType" ng-model="document.organizationType"
                                    items="options.organizationTypes()"></div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
                            <div class="km-control-group" name="contact_organizationTypeName" caption="نوع آخر للمنظمة">
                                <div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue"
                                    placeholder="مثال: SCBD (أمانة اتفاقية التنوع البيولوجي)" locales="locales"></div>
                            </div>
                        </div>
                    </div>
                    <legend>بيانات عنوان المنظمة</legend>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="km-control-group" name="address" caption="العنوان">
                                <div km-textbox-ml ng-model="document.address" rows="2" placeholder="مثال: 413 St-Jacques Ouest, Suite 800"
                                    locales="document.header.languages"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="city" required caption="المدينة">
                                <div km-textbox-ml required name="city" ng-model="document.city" locales="document.header.languages"
                                    placeholder="مثال: Montreal"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="state" caption="الولاية أو المقاطعة">
                                <div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages"
                                    placeholder="مثال: Quebec"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="postalCode" caption="الرقم أو الرمز البريدي">
                                <div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="document.header.languages"
                                    placeholder="مثال: H2Y 1N9"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="country" required caption="Country">
                                <div km-select required name="country" ng-model="document.country" items="options.countries()"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="phones" required caption="أرقام الهاتف">
                                <div class="help-info">يُرجى استخدم الترتيب التالي: [الرقم الداخلي، إذا كان متوفرًا] [رقم الهاتف] [كود المدينة] [كود البلد]+</div>
                                <div km-inputtext-list required name="phones" ng-model="document.phones"
                                    placeholder="مثال: 2220 288 514 1+"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="faxes" caption="أرقام الفاكس">
                                <div class="help-info">Please use the following format: [الرقم الداخلي، إذا كان متوفرًا] [رقم الهاتف] [كود المدينة] [كود البلد]+</div>
                                <div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="مثال: 6588 288 514 1+"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="emails" required caption="البريد الإلكتروني">
                                <div km-inputtext-list required name="emails" ng-model="document.emails"
                                    placeholder="مثال: secretariat@cbd.int"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="websites" caption="المواقع الإلكترونية">
                                <div km-link name="websites" ng-model="document.websites" allow-link="true"
                                    allow-file="false"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </edit-form>
            <review-form>
                <view-organization ng-model='document' locale="review.locale"></view-organization>
            </review-form>
        </div>
    </div>

</div>
