<div ng-controller="editBiosafetyDecision">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">
	
				<workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
				 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
				 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
				 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
				 data-container="{{container}}" is-dialog="{{isDialog}}">
					<edit-form>
						<form class="editForm" name="editForm" style="margin-top:10px">
							<div ng-show="tab=='edit'" km-tab="edit">
								
								<section>
									<div class="well no-shadow bg-white">
									<legend>Información general</legend>
									<div class="row">
										<div class="col-xs-12" >
											<div class="km-control-group" name="languages" required caption="Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="government" required caption="Country submitting the decision or communication">
													<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries"
														filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Seleccione un país"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="authorities" caption="Autoridad(es) Nacional(es) Competente(s) responsable(s) de la decisión o comunicación">											
													<div document-selector ng-model="document.authorities" question="authorities"
														government="document.government" schema="(authority)"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" required name="title" caption="Title / Reference number of the decision / communication">
													<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="date" caption="Fecha de la decisión">
													<div km-date placeholder="AAAA-MM-DD" name="date" required ng-model="document.date"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="takenPriorEntryIntoForce" required caption="¿La decisión fue tomada antes de la entrada en vigor del Protocolo?">
													<div km-yes-no required ng-model="document.takenPriorEntryIntoForce" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="jurisdictions" caption="Jurisdicción(es)">
													<div class="help-info">Proporcione la jurisdicción donde se aplica la ley, reglamentación, directriz o acuerdo si es diferente del nombre del país. Ejemplo: País: Dinamarca, Jurisdicción: "Con exclusión territorial en relación a las Islas Feroe y Groenlandia".</div>
													<div km-select multiple name="jurisdictions" ng-model="document.jurisdictions" items="options.countries()"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-if="document.jurisdictions && document.jurisdictions.length>0">
											<div class="col-xs-12">
												<div class="km-control-group" name="jurisdictionsDetails" caption="Jurisdiction(s) details">
													<div km-textbox-ml ng-model="document.jurisdictionsDetails" rows="1" locales="document.header.languages" placeholder="jurisdiction details"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="isAmendment" required caption="¿Se trata de una enmienda a una decisión o comunicación previa?">
													<div km-yes-no required ng-model="document.isAmendment" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row" ng-if="document.isAmendment">
											<div class="col-xs-12">
												<div class="km-control-group" name="amendedDecision" caption="Indicate the BCH decision amended" required>											
													<div document-selector ng-model="document.amendedDecisions" question="amendedDecision"
														government="document.government" schema="(biosafetyDecision)"></div>			
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" required name="amendmentReason" caption="Provide reasons for the amendment">
													<div km-textbox-ml name="amendmentReason" required ng-model="document.amendmentReason" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
	
								<section>
									<div class="well no-shadow bg-white">
									<label for="decisionTypes" style="width:0px;height:0px;display:inline"><span style="display:none">Tema de la decisión / notificación / comunicación</span></label>
									<legend>Tema de la decisión / notificación / comunicación</legend>								
									<div class="row">
										<div class="col-xs-12">
											<div block-region activate="decisions.otherDecisions.identifier" skip-loading-icon="true" >
												<div class="km-control-group" name="commonDecisions" required caption="Common decisions">
														<div km-term-check required ng-model="decisions.commonDecisions" locales="document.header.languages"
														terms="options.commonDecisions()"  binding-type="term[]" ng-change="onCommonDecisionChanged()"  ></div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div block-region activate="decisions.commonDecisions.length > 0" skip-loading-icon="true" >
												<div class="km-control-group" name="otherDecisions" required caption="Other decisions, notifications and communications">
													
													<div km-term-radio required ng-model="decisions.otherDecisions" locales="document.header.languages"
														terms="options.otherDecisions()" binding-type="term" show-other="true"></div>
												</div>		
											</div>		
										</div>
									</div></div>
								</section>
	
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>OVM para su introducción intencional en el medio ambiente</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="addressesTransboundaryMovement" required caption="Was the decision triggered by a request for a transboundary movement of LMOs into your country?">
													<div km-yes-no required ng-model="document.addressesTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
										</div>		
										<div class="row well no-shadow bg-white" ng-if="document.addressesTransboundaryMovement" style="margin-left:1%">
											<div class="col-xs-12">
												<div class="km-control-group" name="intentionDecisions" required caption="Type of decision">												
													<div km-term-radio required ng-model="decisions.intentionDecisions" locales="document.header.languages"
														terms="options.intentionDecisions()"  binding-type="term" ></div>
												</div>									
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="receiptDate"  caption="Fecha de recibo de la notificación" style="width:40%">
													<div km-date placeholder="AAAA-MM-DD" name="receiptDate" required ng-model="document.receiptDate"></div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="receiptAcknowledgementDate"  caption="Fecha en que el acuse de recibo de la notificación fue enviado al notificador" style="width:40%">
													<div km-date placeholder="AAAA-MM-DD" name="receiptAcknowledgementDate" required ng-model="document.receiptAcknowledgementDate"></div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="communicationDate"  caption="Fecha en que la decisión fue comunicada al notificador" style="width:40%">
													<div km-date placeholder="AAAA-MM-DD" name="communicationDate" required ng-model="document.communicationDate"></div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="exporters" caption="Please provide Exporter’s contact details">											
													<div document-selector ng-model="document.exporters" question="exporters"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="importers" caption="Please provide Importer/Applicant's contact details">											
													<div document-selector ng-model="document.importers" question="importers"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
										</div>
										<div class="row well no-shadow bg-white" ng-if="document.addressesTransboundaryMovement==false"  style="margin-left:1%">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToTransboundaryMovement" required caption="Does the decision apply to transboundary movements of LMO(s) into your country?">
													<div km-yes-no required ng-model="document.appliesToTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="importers" required caption="Please provide Applicant’s contact details">											
													<div document-selector ng-model="document.importers" question="importers"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="involvesFieldTrial" caption="¿La decisión comprende pruebas de campo?">
													<div km-yes-no required ng-model="document.involvesFieldTrial" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="involvesCommercialRelease"  caption="Does the decision allow commercial release?">
													<div km-yes-no required ng-model="document.involvesCommercialRelease" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToSubsequentIntroductions" required caption="¿La decisión se aplicará a introducciones posteriores del mismo OVM en el medio ambiente?">
													<div km-yes-no required ng-model="document.appliesToSubsequentIntroductions" locales="document.header.languages"></div>
												</div>
											</div>
										</div>							
									</div>
								</section>
								<section ng-if="isLmoDecisionForDirectUse">
									<div class="well no-shadow bg-white">
										<legend>OVM para uso directo como alimento humano o animal o para procesamiento</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="decisionLMOFFPSubject" required caption="Subject of the decision">
													<div class="km-value">
																<div km-term-check required ng-model="document.decisionLMOFFPSubject" locales="document.header.languages"
														terms="options.decisionLMOFFPSubject()"  binding-type="term[]"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToTransboundaryMovement" required 
												caption="¿La decisión se adoptó en ausencia de un marco reglamentario local conforme al artículo 11.6?">
													<div km-yes-no required ng-model="document.appliesToTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-if="isLmoDecisionForIntentionalIntroduction">
											<div class="col-xs-12">
												<div class="alert alert-danger"><strong>Nota:</strong> Las primeras dos categorías en el campo Tema de la decisión / comunicación en la parte superior de esta página se han seleccionado indicando que este registro refiere a una decisión que trata sobre OVM tanto para introducción intencional en el medio ambiente (artículos 7 a 10) como OVM para uso directo como alimento humano o animal o para procesamiento (artículo 11). De conformidad con ello, los campos que se encuentran más abajo, Tipo de decision e información de contacto del importador/exportador o solicitante no se encuentran activos, dado que ya se ha provisto la información. Si esto no fuera así, sírvase crear dos registros diferentes, uno para introducción intencional en el medio ambiente y el otro para OVM para uso como alimento humano o animal o para procesamiento.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div block-region activate="isLmoDecisionForIntentionalIntroduction" skip-loading-icon="true">
													<div class="row">
														<div class="col-xs-12">
															<div class="km-control-group" name="directUseDecisions" required caption="Type of decision">
																<div class="km-value">
																	<div km-term-check required ng-model="decisions.directUseDecisions" locales="document.header.languages"
																	terms="options.directUseDecisions()"  binding-type="term[]"></div>
																</div>
															</div>											
														</div>
													</div>
													<div class="col-xs-12" ng-if="'0D0BEEF4-54E4-44C1-ABB2-B89DC145E0B3'">
														<div class="km-control-group" name="exporters"  caption="Please provide Exporter’s contact details">											
															<div document-selector ng-model="document.exporters" question="exporters"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
													<div class="col-xs-12">
														<div class="km-control-group" name="importers" required caption="Please provide Importer/Applicant's contact details">											
															<div document-selector ng-model="document.importers" question="importers"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
													<div class="col-xs-12">
														<div class="km-control-group" name="importers" required caption="Please provide Applicant’s contact details">											
															<div document-selector ng-model="document.importers" question="importers"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>Resultado de la decisión</legend>
										<div class="row">
											<div class="col-xs-12" >
												<div class="km-control-group" name="decisionResult" required caption="Resultado de la decisión">												
													<div km-term-radio required ng-model="document.decisionResult" locales="document.header.languages"
														terms="options.decisionResult()" binding-type="term"></div>
												</div>		
											</div>		
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>OVM y evaluación del riesgo</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="modifiedOrganisms" required caption="Identificación del OVM">											
													<div document-selector ng-model="document.modifiedOrganisms" question="modifiedOrganisms"
														government="document.government"  schema="(modifiedOrganism)" skip-government="true"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="riskAssessments" required caption="Evaluación del riesgo">											
													<div document-selector ng-model="document.riskAssessments" question="riskAssessments"
														government="document.government" schema="(riskAssessments)"></div>			
												</div>
											</div>
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>Decisión y/u otro(s) documento(s) pertinente(s)</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="documents" required caption="Document (attached file)">
													<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
	
	
								<section>
									<div class="well no-shadow bg-white">
										<legend>Cronograma para la confirmación o actualización de la información</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="expires" required caption="¿Esta información se confirmará o actualizará después de dos años a partir de la fecha de presentación?">												
													<div km-yes-no required ng-model="document.expires" locales="document.header.languages"></div>
												</div>	
											</div>
										</div>
									</div>
								</section>
		
								<section>
									<div class="well no-shadow bg-white">
										<legend>Additional information</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="address" caption="Cualquier otra información pertinente">
													<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
													<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="relevantDocuments" caption="Otros documentos pertinentes">
													<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section>
									<legend>Notas</legend>
	
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="notes">
												<div class="help-block">El campo "Notas" es para sus notas u observaciones personales y quedará oculto al ver el registro. Este campo no está destinado a ser usado para información confidencial.</div>
												<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
											</div>
										</div>
									</div>
								</section>
	
							</div>
						</form>
					</edit-form>
					<review-form>
							<div view-biosafety-decision ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
					</review-form>
				</workflow-arrow-buttons>
			</div>
		</div>
	
</div>
</div>
