<div>
   <div class="box box-primary  no-padding">
       <div class="box-header with-border">
         <h3 class="box-title"></h3></div>
       <div class="box-body no-padding">
         <div class="mailbox-read-info">
           <h3></h3>
           <h5></h5>
         </div>
         <div class="mailbox-controls with-border text-center">
           <div class="btn-group">
             <button class="btn btn-default btn-sm" data-toggle="tooltip" title=""></button>
             <button class="btn btn-default btn-sm" data-toggle="tooltip" title=""></button>
             <button class="btn btn-default btn-sm" data-toggle="tooltip" title=""></button>
           </div>
           <button class="btn btn-default btn-sm" data-toggle="tooltip" title=""></button>
         </div>
         <div class="mailbox-read-message"></div>
       </div>
       <div class="box-footer">
       </div>
       <div class="box-footer">
         <div class="pull-right">
           <button class="btn btn-default" ng-click="reply()"></button>
           <button class="btn btn-default" ng-click="forward()"></button>
         </div>
         <button class="btn btn-default" ng-click="delete()"></button>
         <button class="btn btn-default"></button>
       </div>
   </div>
</div>
