<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-blue">
		<h4>تسلسل الجينات والحمض النووي  <span class="color-black">(DNA)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>معلومات عامة</legend>

		<div ng-show="document.title">
			<label>العنوان</label>
			<div class="km-value"><strong>{{document.title | lstring:locale}}</strong></div>
		</div>

		<div ng-show="document.name">
			<label>اسم تسلسل الجين أو الحمض النووي</label>
			<km-value-ml value="document.name" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.synonymNames">
			<label>الاسم البديل للعنصر الجيني (مترادفات)</label>
			<ul class="list" style="padding-left:0px">
				<li ng-repeat="synonym in document.synonymNames" style="padding-bottom:5px;">
					<km-value-ml value="synonym" locales="locale"></km-value-ml>
				</li>
			</ul>
			
		</div>
		<div ng-show="document.abbreviation">
			<label>الاختصار</label>
			<km-value-ml value="document.abbreviation" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.family">
			<label>فئة تسلسل الحمض النووي</label>
			<div class="km-value" ng-bind="document.family | term:locale"></div>
		</div>

		<div ng-show="document.isSynthetic!=undefined">
			<label>هل التسلسل الجيني/الحمض النووي هو جزيء تركيبي؟</label>
			<div class="km-value" ng-if="document.isSynthetic">نعم</div>
			<div class="km-value" ng-if="!document.isSynthetic">لا</div>
		</div>
	
		<legend>الكائن المتبرع</legend>

		<div ng-show="document.donorOrganism">
			<label>الكائن المتبرع</label>
			<div class="km-value">
				<view-default-reference ng-model="document.donorOrganism.identifier" locale="locale" target="target"></view-default-reference>
			</div>
		</div>

		<div ng-show="document.donorOrganismCollectionPoint">
			<label>نقطة جمع الكائنات المتبرعة أو الحصول عليها</label>
			<div class="km-value">
				<km-value-ml value="document.donorOrganismCollectionPoint"  html locales="locale"></km-value-ml>
			</div>
		</div>


		<legend>خصائص تسلسل ترميز البروتين</legend>

		<div ng-show="document.proteinName">
			<label>اسم البروتين المذكور في تسلسل الترميز</label>
			<div class="km-value">
					<km-value-ml value="document.proteinName" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.biologicalFunction">
			<label>الوظيفة البيولوجية</label>
			<div class="km-value">
				<km-value-ml value="document.biologicalFunction" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.traits">
			<label>الصفة (الصفات) والاستخدام (الاستخدامات) ذات الصلة في التكنولوجيا الحيوية</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="use in document.traits" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div class="km-value" ng-repeat="item in document.relevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
