<div id="editOrganizationDiv"><span block-region activate="status=='loading'" ng-if="status=='loading'" update-parent-position="true"></span><div class="registerpage-content">

        <div workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false"
            tab="tab" validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
            on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
            on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
            data-container="{{container}}" is-dialog="{{isDialog}}">
            <edit-form>
                <form name="editForm" class="editForm" style="margin-top:10px">
                    <legend>Informaci&oacute;n general</legend>
                    <div class="row">
                        <div class="col-xs-12" >
                            <div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
                                <div class="indent">
                                    <div km-form-languages required name="languages" ng-model="document.header.languages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <div class="km-control-group" name="name" required caption="Nombre de la organización">
                                <div km-textbox-ml name="name" required ng-model="document.name" placeholder="entrada de texto"
                                    locales="document.header.languages"></div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <div class="km-control-group" name="acronym" required caption="Sigla">
                                <div km-textbox-ml name="acronym" required ng-model="document.acronym"
                                    placeholder="entrada de texto" locales="document.header.languages"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="km-control-group" name="contact_organizationType" caption="Tipo de organización">
                                <div km-select name="contact_organizationType" ng-model="document.organizationType"
                                    items="options.organizationTypes()"></div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
                            <div class="km-control-group" name="contact_organizationTypeName" caption="Otro tipo de organización">
                                <div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue"
                                    placeholder="ejemplo: Secretaría del CDB" locales="locales"></div>
                            </div>
                        </div>
                    </div>
                    <legend>Datos de la Organizaci&oacute;n</legend>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="km-control-group" name="address" caption="Dirección">
                                <div km-textbox-ml ng-model="document.address" rows="2" placeholder="ejemplo: 413 St Jacques Street, Suite 800"
                                    locales="document.header.languages"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="city" required caption="Ciudad">
                                <div km-textbox-ml required name="city" ng-model="document.city" locales="document.header.languages"
                                    placeholder="ejemplo: Montreal"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="state" caption="Estado o provincia">
                                <div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages"
                                    placeholder="ejemplo: Quebec"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="postalCode" caption="Código postal">
                                <div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="document.header.languages"
                                    placeholder="ejemplo: H2Y 1N9"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="country" required caption="País">
                                <div km-select required name="country" ng-model="document.country" items="options.countries()"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="phones" required caption="Números de teléfono">
                                <div class="help-info">Por favor, utilice el siguiente formato: + [c&oacute;digo del pa&iacute;s] [c&oacute;digo de ciudad] [n&uacute;mero de tel&eacute;fono] [extensi&oacute;n, si corresponde].</div>
                                <div km-inputtext-list required name="phones" ng-model="document.phones"
                                    placeholder="ejemplo: +1 514.288.2220"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="faxes" caption="Números de fax">
                                <div class="help-info">Por favor, utilice el siguiente formato: + [c&oacute;digo del pa&iacute;s] [c&oacute;digo de ciudad] [n&uacute;mero de tel&eacute;fono] [extensi&oacute;n, si corresponde].</div>
                                <div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="ejemplo: +1 514.288.6588"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="emails" required caption="Correos electrónicos">
                                <div km-inputtext-list required name="emails" ng-model="document.emails"
                                    placeholder="ejemplo: secretariat@cbd.int"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="km-control-group" name="websites" caption="Sitios web">
                                <div km-link name="websites" ng-model="document.websites" allow-link="true"
                                    allow-file="false"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </edit-form>
            <review-form>
                <view-organization ng-model='document' locale="review.locale"></view-organization>
            </review-form>
        </div>
    </div>

</div>
