<div ng-controller="editLmo">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Общая информация</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Identity of the living modified organism (LMO)</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="identity" caption="Название ЖИО">
												<div class="help-block">Название, обычно использованное для идентификации ЖИО, например коммерческое название (такое как трансгенная соя, устойчивая к гербициду Раундап, картофель NewLeaf® и т.п.)</div>
												<div km-textbox-ml name="identity"  ng-model="document.identity" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="transformationEvent" caption="Трансформационное событие">
												<div class="help-block">Название трансформационного события, например MON810.</div>
												<input type="text" class="form-control" name="transformationEvent" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="hasUniqueIdentification" required caption="Имеется ли у ЖИО уникальный идентификатор?">
												<div class="help-block">МПБ в настоящее время использует систему уникальных идентификаторов, установленную рекомендациями ОЭСР по присвоению уникальных идентификаторов трансгенным растениям (например: MON-&Oslash;&Oslash;81&Oslash;-6). For more information see <a href="http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml">http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml</a>.</div>
												<div km-yes-no required ng-model="hasUniqueIdentification" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12" ng-if="hasUniqueIdentification">
											<div class="km-control-group" required name="uniqueIdentification" caption="Уникальный идентификатор">
												<input type="text" class="form-control" name="uniqueIdentification" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="developers" caption="Разработчик(и)">	
												<div document-selector ng-model="document.developers" question="developers"
													schema="(contact)" caption="Контакты"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="description" caption="Описание">
												<div km-textbox-ml name="description" required ng-model="document.description" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="recipientOrganisms" caption="Recipient Organism or Parental Organisms">	
												<div class="help-block">The term Recipient organism refers to an organism (either already modified or non-modified) that was subjected to genetic modification, whereas Parental organisms refers to those that were involved in cross breeding or cell fusion.</div>
												<div document-selector required ng-model="document.recipientOrganisms" question="recipientOrganisms"
													schema="(organism modifiedOrganism)" caption="Add Organism / Modified Organism"></div>			
											</div>
										</div>

										<div class="col-sm-12">
											<div class="km-control-group"  name="recipientOrganismCollectionPoint" caption="Место сбора или получения организма-реципиента или родительских организмов">
												<div km-textbox-ml name="recipientOrganismCollectionPoint"  ng-model="document.recipientOrganismCollectionPoint" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="linkedModifiedOrganisms" caption="Связанные ЖИО">	
												<div class="help-block">This field relates to other LMOs with similar characteristics.</div>
												<div document-selector ng-model="document.linkedModifiedOrganisms" question="linkedModifiedOrganisms"
													schema="(modifiedOrganism)"></div>			
											</div>
										</div>
									</div>
								</div>
							</section>
							

							<section>
								<div class="well no-shadow bg-white">
									<legend>Характеристики процесса модификации</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="vector" caption="Вектор">
												<div class="help-block">Vectors are used to incorporate a DNA sequence (typically the promoter-gene-terminator construct) to assist its transfer into the recipient organism. Примеры: Ti-плазмида Agrobacterium и pBIN19.</div>
												<div km-textbox-ml name="vector"  ng-model="document.vector" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group"  name="techniqueUsed" caption="Использованные способы модификации">
												<div km-term-check name="techniqueUsed" required ng-model="document.techniqueUsed" terms="options.techniqueUsed" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="genes" caption="Интродуцированные или модифицированные генетические элементы">	
												<div class="help-block">Предпочтительно чтобы все генетические элементы, интродуцированные в данный ЖИО такие, как промоторы, кодирующие белок последовательности и терминаторы, были обязательно указаны в данном разделе. По меньшей мере обязательно должны быть указаны  ВСЕ кодирующие белок последовательности.</div>
												<div document-selector ng-model="document.genes" question="genes"
													schema="(dnaSequence)" caption="Последовательность генов и ДНК"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="geneConstructs" caption="Конструкция генетических элементов">
												<div class="help-block"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="Примечания касательно генетических элементов, присутствующих в данном ЖИО">	
												<div class="help-block">Please specify if any of these elements has been modified from the sequence registered in the BCH Genetic Element Registry and how they relate to each other in this LMO, for instance &ldquo;epsps protein coding sequence under control of the 35S promoter and nos terminator&rdquo;.</div>
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
									</div>
								</div>
							</section>
	
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>Характеристики ЖИО</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="traits" caption="Modified Traits">
												<div km-term-check name="traits" required ng-model="document.traits" terms="options.traits" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="affectedGenes" caption="Другие гены, экспрессия которых подвергалась воздействию данной трансформации">	
												<div class="help-block">В данном разделе следует указать изменения в экспрессии генов, отличных от введенных в ЖИО, например, подавление активности генов или индукцию генов.</div>
												<div document-selector ng-model="document.affectedGenes" question="affectedGenes"
													schema="(dnaSequence)" caption="Последовательность генов и ДНК"></div>			
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="Опишите, как изменилась экспрессия гена (генов)">	
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="commonUses" caption="Основные применения ЖИО">
												<div class="help-block">Выберите все применимые варианты.</div>
												<div km-term-check name="commonUses" required ng-model="document.commonUses" terms="options.commonUses" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Метод(-ы) обнаружения</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethod" caption="Внешняя ссылка(-и)">
												<div km-rich-textbox ng-model="document.detectionMethod" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethodLinks" caption="Дополнительная информация">
												<div km-link name="detectionMethodLinks" ng-model="document.detectionMethodLinks" allow-link="true" allow-file="true"
													identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Дополнительная информация</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="Any other relevant information">
												<div class="help-block">Просьба использовать это поле для представления любой другой актуальной информации, которая, возможно, не была учтена в других разделах записи.</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="Любые другие соответствующие документы">
												<div class="help-block">Укажите в этом поле любые другие релевантные адреса веб-сайтов и (или) один или несколько релевантных документов, которые будут храниться в базе данных для загрузки пользователями.</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>Примечания</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">Поле «Примечания» предназначено для личных замечаний или комментариев и будет скрыто при просмотре записи. Данное поле не предназначено для конфиденциальной информации.</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-lmo ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
