<div class="md-whiteframe-z2" ng-controller="editCapacityBuildingInitiative">

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

    <div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

            <div class="alert alert-success alert-dismissable" ng-show="msg">
                <button aria-hidden="true" class="close" data-dismiss="alert" ng-click="msg=''" type="button">&times;</button><strong>{{msg}}</strong></div>

            <div workflow-arrow-buttons document="getCleanDocument()" 
                languages="document.header.languages" tab="tab"><!-- <intro-form></intro-form> --> <!--only use it if default article intro is not required --><edit-form>
							<form name="editForm" style="margin-top:10px"><!-- <div km-tab="general"> --><div ng-show="tab=='edit'" km-tab="edit">
											
										<legend>Informations g&eacute;n&eacute;rales</legend>
				
										<div class="row">
											<div class="col-xs-12" >
												<div class="km-control-group" name="languages" required caption=" Veuillez sélectionner la ou les langues dans lesquelles vous souhaitez soumettre ce fichier :">
													<div class="indent">
														<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
				
											<div class="col-md-12">
												<div class="km-control-group" required name="title" caption="1. Titre">
													<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="projectNumber" caption="2. Numéro de projet ou identifiant">
													<div class="help-info">Veuillez fournir un num&eacute;ro de projet, un identificateur ou un num&eacute;ro de r&eacute;f&eacute;rence, le cas &eacute;ch&eacute;ant.</div>
													<div km-textbox-ml name="projectNumber" ng-model="document.projectNumber" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="geographicScope" caption="3. Couverture géographique">
													<div km-select name="geographicScope" required ng-model="document.geographicScope.scope"
													 placeholder="Veuillez choisir une option" items="options.geographicScope()" ng-change="clearGeographicSelection()"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="document.geographicScope.scope && (isGlobalOrRegional() || isNational())">
											
												<div class="col-md-12">
												<div class="km-control-group well well-sm" name="regionsOrCountries"
												required caption="Pays ou regroupement(s) géographique(s) ou politique(s) / économique(s)" style="padding:10px;">
													<div class="row">
														<div class="col-md-5" ng-show="!isNational()"><!-- document.geographicScope.regionsOrCountries --><div class="km-control-group"  name="regions" 
															caption="Regroupement(s) géographique(s) ou politique(s) / économique(s)">
																<div km-select multiple required name="geographicalRegions" 
																ng-model="document.geographicScope.regions" placeholder="Veuillez choisir une option" 
																items="options.regions()"></div>
															</div>
														</div>
														<div class="col-md-2" ng-hide="!isGlobalOrRegional()">et / ou</div>
														<div class="col-md-5">
															<div class="km-control-group"  name="countries" caption="Pays">
																<div km-select multiple required name="geographicalCountries" ng-model="document.geographicScope.countries" placeholder="Veuillez choisir une option" items="options.countries()"></div>
															</div>
														</div>
													</div>
												</div></div>
										</div>
				
										<div class="row" ng-show="isSubnational()">
											<div class="col-md-12">
												<div class="km-control-group" required="isSubnational()" name="jurisdiction" caption="Juridiction">
													<div km-textbox-ml required="isSubnational()" name="jurisdiction" ng-model="document.geographicScope.jurisdiction" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="isCommunity()">
											<div class="col-md-12">
												<div class="km-control-group" required="isCommunity()" name="community" caption="Communauté">
													<div km-textbox-ml required="isCommunity()" name="community" ng-model="document.geographicScope.community" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="capacityBuildingType" caption="4. Type d’initiative de renforcement des capacités">
													<label for="capacityBuildingTypeYes" style="width:0px;height:0px;display:inline"><span style="display:none">4. Au moins une des r&eacute;ponses donn&eacute; aux questions suivantes devrait &ecirc;tre «&nbsp;oui&nbsp;»</span></label>
													<div style="padding-left:20px" class="well">
														<div class="km-control-group"  bold="true" required name="isProjectProgramme" caption="a. S’agit-il d’un programme entièrement dédie au projet/programme de renforcement des capacités? ">
															<div class="km-yes-no" required name="isProjectProgramme" ng-model="document.capacityBuildingType.isProjectProgramme"></div>
														</div>
														<div class="km-control-group"  bold="true" required name="isBroaderProjectPart" caption="b. S’agit-il d’une activité APA ou d’un élément faisant partie d’un plus vaste projet/programme de renforcement des capacités?">
															<div class="km-yes-no" required name="isBroaderProjectPart" ng-model="document.capacityBuildingType.isBroaderProjectPart"></div>
														</div>
														<div class="km-control-group" name="broaderProjects" caption="Veuillez identifier le projet plus vaste" ng-show="document.capacityBuildingType.isBroaderProjectPart">
																
															<div document-selector ng-model="document.capacityBuildingType.broaderProjects"
																							question="capacityBuildingInitiative"
																							schema="capacityBuildingInitiative" filter="true" skip-government="true"></div>
														</div>
														<div class="km-control-group"  bold="true" required name="isStandaloneProject" caption="c. S’agit-il d’une activité APA autonome ne faisant pas partie d’un plus vaste projet/programme de renforcement des capacités? ">
															<div class="km-yes-no" required name="isStandaloneProject" ng-model="document.capacityBuildingType.isStandaloneProject"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="status" caption="5. Statut du document">
													<div km-select name="status" required ng-model="document.status" id="documentStatus"
													placeholder="Veuillez choisir une option" items="options.status()"  show-description="true"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="timeframe" required caption="6. Calendrier">
													<div class=" well well-sm">
														<div class="row">
															<div class="col-md-3">
																<div class="km-control-group" name="startDate" caption="Date de début">
																	<div km-date name="startDate" ng-model="document.startDate" ng-change="clearDuration()"></div>
																</div>
															</div>
															<div class="col-md-3">
																<div class="km-control-group" name="endDate" caption="Date de fin">
																	<div km-date name="endDate" ng-model="document.endDate" ng-change="clearDuration()"></div>
																</div>
															</div>
															<div class="col-md-1 text-center" ng-show="!document.status || isProposedOrApproved()">
																<div class="km-control-group bold" name="enddate" style="margin-top:30px;" > OU </div>
															</div>
															<div class="col-md-5">
																<div class="km-control-group" name="duration" caption="Durée" ng-show="!document.status || isProposedOrApproved()">
																	<label for="durationPeriod" style="width:0px;height:0px;display:inline"><span style="display:none">6. Veuillez entrer la dur&eacute;e en nombre, par exemple : 24</span></label>
																	<label for="durationText" style="width:0px;height:0px;display:inline"><span style="display:none">6. Veuillez indiquer si la dur&eacute;e est exprim&eacute;e en ann&eacute;es, en mois ou en jours</span></label>
																	<input type="number" name="durationPeriod" ng-model="document.durationPeriod"
																	minlength="1" placeholder="Par exemple : 24" ng-change="clearDates()" class="form-control"
																	style="display:inline-block;width:100px"/>
																	<select name="durationText" ng-model="document.durationText"  class="form-control"
																	style="display:inline-block;width:100px" placeholder="eg. Months">
																		<option value=""></option>	
																		<option value="days">Jours</option>
																		<option value="months">Mois</option>
																		<option value="years">Ann&eacute;es</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="organizations" caption="7. Organisme(s) ou organisation(s) mettant en œuvre ou exécutant l'initiative">
												<div class="help-info">Dans certaines circonstances, une organisme peut jouer &agrave; la fois le r&ocirc;le de mise en &oelig;uvre et le r&ocirc;le d&rsquo;ex&eacute;cutant. Dans ces cas, veuillez s&eacute;lectionner les deux cases.</div>
												<div class="checkbox"><label><input type="checkbox" ng-model="document.isImplementedByAgencies">Organisme(s) ou organisation(s) de mise en &oelig;uvre</label></div>
				
												<div class="row" >
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isImplementedByAgencies" name="implementingAgencies" caption="Veuillez sélectionner le/les organisme(s) ou organisation(s) de mise en œuvre">
															<div class="help-info">Les organismes de mise en &oelig;uvre sont les organisations ou entit&eacute;s juridiques responsables du d&eacute;veloppement de l&apos;initiative et de la supervision de sa mise en &oelig;uvre, de son suivi et de son &eacute;valuation, y compris la mise &agrave; disposition de fonds, en veillant &agrave; ce que les normes fiduciaires et l&apos;assurance de la qualit&eacute; soient appliqu&eacute;es et &agrave; ce que la pr&eacute;paration des rapports d&apos;ach&egrave;vement du projet soit compl&eacute;t&eacute;. L&apos;organisme de mise en &oelig;uvre demeure l&apos;entit&eacute; responsable de l&apos;ach&egrave;vement de l&apos;initiative et celle qui rend des comptes au donateur.</div>
				
				
															<organization-selector multiple ng-model="document.implementingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
														</div>
													</div>
												</div>
				
												<div class="checkbox"><label><input type="checkbox" ng-model="document.isExecutededByAgencies">Organisme(s) ou organisation(s) d&apos;ex&eacute;cution</label></div>
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isExecutededByAgencies" name="executingAgencies" caption="Veuillez sélectionner le/les organisme(s) ou organisation(s) d'exécution">
															<div class="help-info">L&rsquo;organisme d&apos;ex&eacute;cution est l&apos;organisation/institution qui g&egrave;re directement l&apos;initiative, y compris la planification quotidienne, la coordination et l&apos;ex&eacute;cution de ses activit&eacute;s, le suivi et l&apos;&eacute;tablissement de rapports sur les progr&egrave;s r&eacute;alis&eacute;s, le recrutement et la gestion des ressources (personnel, fonds, &eacute;quipement, etc. ) et qui remplit d&apos;autres fonctions de gestion de projet.</div>
				
															<organization-selector multiple ng-model="document.executingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
														</div>
													</div>
												</div>
				
												<div class="checkbox"><label><input type="checkbox" ng-model="document.isCollaboratededByPartners">Partenaire(s) collaborateur(s)</label></div>
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isCollaboratededByPartners" name="collaboratingPartners" caption="Veuillez sélectionner le(s) partenaire(s) collaborateur(s)">
															<div class="help-info">Les partenaires collaborateurs sont les entit&eacute;s ou organisations qui apportent une contribution financi&egrave;re ou autre &agrave; l&apos;initiative et/ou qui soutiennent ou collaborent activement dans la mise en &oelig;uvre de l&apos;initiative.</div>
															 
															<organization-selector multiple ng-model="document.collaboratingPartners" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
														</div>
													</div>
												</div>
												</div>
											</div>
										</div>
				
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="contacts" caption="8. Personne(s) responsable(s)">
				
													 <div document-selector ng-model="document.contacts"
																						question="contacts"
																						schema="((schema_s:contact AND type_s:person))"
																						filter="true" skip-government="true"></div><!-- (focalpoint authority) OR  --></div>
											</div>
										</div>
				
				
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="projectDocument" caption="9. Document de projet ou document décrivant l’initiative">
													<div class="help-info">Pri&egrave;re de toujours joindre le ou les documents pertinents &agrave; int&eacute;grer &agrave; la base de donn&eacute;es afin que les utilisateurs puissent les t&eacute;l&eacute;charger. Veuillez &eacute;galement ajouter le lien vers les ressources qui sont disponibles sur Internet.</div>
													<div km-link name="projectDocument" required ng-model="document.projectDocument" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
				
										<legend>Renseignements d&eacute;taill&eacute;s</legend>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="description" caption="10. Brève description de l’initiative, y compris ses buts et objectifs">
													<div km-textbox-ml required ng-model="document.description" rows="3" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="audience" caption="11. Groupe(s) cible(s) / bénéficiaire(s)">
													<div km-term-check name="audience" required ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="categories" caption="12. Catégorie(s) d’activités de renforcement des capacités">
													<div km-term-check show-description="true" name="categories" required ng-model="document.categories" terms="options.categories()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
				
										<legend>Information sur les fonds</legend>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="fundingSourceTypes" caption="13. Type de source de financement">
													<div km-term-check show-description="true" name="fundingSourceTypes" required ng-model="document.fundingSourceTypes" terms="options.fundingSources()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="isSelfFunding()">
											<div class="col-md-12">
				
												<div class="km-control-group" required="isSelfFunding()" name="selfFunding" caption="Veuillez fournir des informations complémentaires sur le financement">
													<div km-textbox-ml required="isSelfFunding()" rows="2" name="selfFunding" ng-model="document.selfFundingInfo" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="corefundingsources" caption="14. Sources principales de financement"><!-- <div document-selector ng-model="document.coreFundingSources"
																						question="coreFundingSources"
																						schema="contact"
																						government="document.government"
																						filter="true"
																						></div> --><organization-selector multiple ng-model="document.coreFundingSources" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="cofinancingsources" caption="15. Sources de co-financement"><!-- <div document-selector ng-model="document.coFinancingSources"
																						question="coFinancingSources"
																						schema="contact"
																						government="document.government"
																						filter="true"
																						></div> --><organization-selector multiple ng-model="document.coFinancingSources" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-3">
												<div class="km-control-group" name="totalBudget" caption="16. Budget total (montant en dollars des É.-U.)">
													 <div class="help-info">Cela peut inclure des contributions non mon&eacute;taires toutefois exprim&eacute;es en termes mon&eacute;taires.</div><!-- <div km-textbox-ml name="totalBudget" ng-model="document.totalBudget" rows="1" locales="document.header.languages"></div> --><div class="input-group"><span class="input-group-addon">Dollars des &Eacute;.-U.</span><input type="text" class="form-control" style="width:200px" required name="totalBudget" ng-model="document.totalBudget" />
													</div>
												</div>
											</div>
										</div>
				
				
										<legend>R&eacute;sultats du renforcement des capacit&eacute;s</legend>
										<div class="help-info">Cette information peut &ecirc;tre fournie une fois qu&apos;il existe des r&eacute;sultats (r&eacute;sultats, donn&eacute;es ou impacts) ou des pratiques exemplaires et des le&ccedil;ons tir&eacute;es de l&apos;initiative en cours ou termin&eacute;e.</div>
										<div class="well">
											<div class="km-control-group" name="totalBudget" caption="17. Résultats">
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" name="resultsAchievements" caption="Résultats : Principaux accomplissements"><span class="help-info">Veuillez fournir un bref r&eacute;sum&eacute; des principales r&eacute;alisations de l&apos;initiative, y compris celles li&eacute;es &agrave; la promotion de l&apos;&eacute;galit&eacute; des sexes dans la r&eacute;alisation des objectifs de la Convention et de ses Protocoles, le cas &eacute;ch&eacute;ant. (max. 200 caract&egrave;res)</span><div km-textbox-ml name="resultsAchievements" ng-model="document.resultsAchievements" rows="4" locales="document.header.languages"></div>
														</div>
													</div>
												</div>
				
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" name="resultsOutputs" caption="Résultats : Principaux résultats"><span class="help-info">Veuillez joindre/t&eacute;l&eacute;charger une copie ou fournir un hyperlien vers les &eacute;l&eacute;ments pertinents (ex.: outils, mat&eacute;riel) &eacute;labor&eacute;s par l&rsquo;initiative et/ou ses rapports.</span><div km-link name="resultsOutputs" ng-model="document.resultsOutputs" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
														</div>
													</div>
												</div>								
											</div>
										</div><!-- <div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="resultsReference" caption="Clearing-house record containing relevant information">
													<div km-reference multiple name="resultsReference" ng-model="document.resultsReference" loader="loadRecords(identifier, 'organization')">
														<div>
															<div><strong>{{reference.title | lstring}}</strong></div>
															<div>{{reference.summary | lstring}}</div>
														</div>
													</div>
												</div>
											</div>
										</div> --><div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="bestPractices" caption="18. Pratiques exemplaires et leçons apprises"><span class="help-info">Veuillez fournir un bref r&eacute;sum&eacute; des pratiques exemplaires et des le&ccedil;ons tir&eacute;s (maximum de 500 mots)</span><div km-textbox-ml name="bestPractices" ng-model="document.bestPractices" rows="4" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<legend>Information sur la couverture th&eacute;matique de l&rsquo;initiative</legend>
				
										<div class="row" >
											<div class="col-md-12">
												<div class="km-control-group" required name="aichiTargets" caption="19. Objectifs d'Aichi pour la biodiversité en lien avec ce thème(s)">
													<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
											   <div class="km-control-group" name="absKeyAreas" required caption="20. Domaines clés et mesures stratégiques pour le renforcement et le développement des capacités">
													 <div class="help-info">Les domaines cl&eacute;s sont identifi&eacute;s par le Cadre strat&eacute;gique pour le renforcement des capacit&eacute;s et le d&eacute;veloppement pour appuyer la mise en &oelig;uvre effective du Protocole de Nagoya (d&eacute;cision NP-1/8).</div>
													 <div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
												</div>
											</div>
										</div><a translation-url  name="#AdditionalInformation"></a><legend>21. Information suppl&eacute;mentaire</legend>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="address" caption=" Any other relevant information" >
													<div class="help-info">Veuillez utiliser ce champ pour tout autre renseignement pertinent n&apos;ayant pas &eacute;t&eacute; abord&eacute; ailleurs dans le dossier.</div>
													<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="relevantDocuments" caption="Autres documents pertinents">
													<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="notes">
													<legend>22. Notes</legend><span class="help-info">Le champ «&nbsp;Notes&nbsp;» est r&eacute;serv&eacute; &agrave; votre usage personnel. Il ne peut &ecirc;tre vu que pendant la modification de l&apos;enregistrement.</span><div km-notes name="notes" ng-model="document.notes"></div>
												</div>
											</div>
										</div>
									</div>
				
				
								</form>
                    </edit-form>
                    <review-form>
                        <view-capacity-building-initiative ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></view-capacity-building-initiative>
                    </review-form><!-- <publish-form></publish-form> --> <!-- use when you wan to display more than publish buttons --></div>

        </div>
    </div>
</div>
