<div>

    <link href="/app/css/register.css" rel="stylesheet">
    <link href="/app/css/record.css" rel="stylesheet">

    <span register-top-menu></span>

    <div class="register-content-header color-white" style="margin-top:20px;"
     ng-class="{'bg-blue': schemaType != 'referenceRecords','bg-orange': schemaType == 'referenceRecords' }">

        <div style="padding:10px 10px;">
            <h3 style="padding: 0; margin: 0 0 5px 0;">{{type|mapSchema|schemaName}} <span class="color-darkgrey">({{type}})</span>

            <span class="helpinfoInline" ng-show="type ==='CNA'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showCNAInfo = !showCNAInfo"></i></span>

            <span class="helpinfoInline" ng-show="type ==='MSR'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showMSRInfo = !showMSRInfo"></i></span>

            <span class="helpinfoInline" ng-show="type ==='NDB'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showNDBInfo = !showNDBInfo"></i></span>

             <span class="helpinfoInline" ng-show="type ==='CP'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showCPInfo = !showCPInfo"></i></span>

             <span class="helpinfoInline" ng-show="type ==='CPC'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showCPCInfo = !showCPCInfo"></i></span>

             <span class="helpinfoInline" ng-show="type ==='IRCC'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showIRCCInfo = !showIRCCInfo"></i></span>

             <span class="helpinfoInline" ng-show="type ==='NR'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showNRInfo = !showNRInfo"></i></span>

             <span class="helpinfoInline" ng-show="type ==='VLR'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showVLRInfo = !showVLRInfo"></i></span>


            <span class="helpinfoInline" ng-show="type ==='A19A20'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showA19A20Info = !showA19A20Info"></i></span>

            <span class="helpinfoInline" ng-show="type ==='CPP'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showCPPInfo = !showCPPInfo"></i></span>


            <span class="helpinfoInline" ng-show="type ==='CBI'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showCBIInfo = !showCBIInfo"></i></span>

             <span class="helpinfoInline" ng-show="type ==='CON'" ><i class="fa fa-info-circle helpicon pull-right" ng-click="showCONInfo = !showCONInfo"></i></span>


         </h3>


            <script type="text/ng-template" trados-translation="true" id="defaultIntro">
                <h5> Инструкции</h5>
                <div>Please fill in the submission form and complete all fields following the instructions given. Certain fields are mandatory and indicated with an asterisk(*). The review of the form will highlight the mandatory fields that need to be filled before it is possible to publish the record. The record can be saved as a draft. Frequently saving of records is recommended, especially in case of intermittent internet connections.
                </div>
                <br>
                <div>It is possible to introduce information one of the six official UN languages. Select languages using the button located at the top left of the page and for each submission field, a text boxes will appear in the languages selected.</div>
                <br>
            </script>


            <a translation-url  class="pull-right well-help-close" ng-click="showCONInfo=false;showCNAInfo=false;showCPPInfo=false;showA19A20Info=false;showVLRInfo=false;showIRCCInfo=false;showCPCInfo=false;showCPCInfo=false;showNDBInfo=false;showMSRInfo=false;showCNAInfo=false;"
                ng-show=" showCONInfo ||    showCNAInfo    || showCPPInfo    || showA19A20Info    || showVLRInfo    || showIRCCInfo    || showCPCInfo    || showCPCInfo    || showNDBInfo    || showMSRInfo    || showCNAInfo">&times;</a><!--CON---------------------------->
            <div ng-if="showCONInfo" class="well well-help">

                <h5> Введение</h5>
                <div>Во многих общих форматах предусматривается возможность добавления контактной информации как об отдельных лицах, так и об организациях. Заполнение данной формы позволит сформировать список контактов, доступный и отображаемый для всех национальных пользователей так же, как и национальная повестка дня, и который можно будет использовать при заполнении общих форматов. В процессе добавления контакта при заполнении другого общего формата появится список контактов, из которого можно выбрать соответствующий(ие) контакт(ы). В случае если новый контакт в настоящий момент не включен в список, необходимо сохранить форму как черновик и перейти в личный кабинет, чтобы создать новый контакт.</div>
                <br>
                <div>Во избежание дублирования при представлении информации, создавая контакты, относящиеся к нескольким лицам, работающим в одной организации, сначала добавьте контактную информацию об организации, а затем контактную информацию о конкретном лице со ссылкой на запись об этой организации.</div>

                <div ng-include="'defaultIntro'"></div>

            </div>


            <!--CNA---------------------------->
            <div ng-if="showCNAInfo" class="well well-help">


                <h5> Введение</h5>
                <div>Статья&nbsp;13 Нагойского протокола требует назначить один или несколько компетентных национальных органов (КНО) по вопросам доступа к генетическим ресурсам и совместного использования выгод. В соответствии с пунктом 2&nbsp;b) статьи&nbsp;14 Протокола данная информация должна представляться в Механизм посредничества для регулирования ДГРСИВ. Если Сторона назначает более одного компетентного национального органа, она должна направить в Секретариат вместе со своим уведомлением о них надлежащую информацию о соответствующих обязанностях таких органов.&nbsp;</div>
                <br>
                <div>Пункт&nbsp;2 статьи&nbsp;13 предусматривает, что компетентные национальные органы отвечают в соответствии с применимыми национальными законодательными, административными или политическими мерами за предоставление доступа или выдачу в соответствующих случаях письменного подтверждения того, что требования, регулирующие доступ, выполнены, и отвечают за консультирование по вопросам действующих процедур и требований, регулирующих получение предварительного обоснованного согласия и заключение взаимосогласованных условий.</div>

                <div ng-include="'defaultIntro'"></div>
            </div>

            <!--MSR---------------------------->
            <div ng-if="showMSRInfo" class="well well-help">


                <h5> Введение</h5>
                <div>Пункт&nbsp;2&nbsp;а) статьи&nbsp;14 Нагойского протокола предусматривает, что Стороны представляют в Механизм посредничества для регулирования ДГРСИВ информацию о законодательных, административных и политических мерах, регулирующих доступ к генетическим ресурсам и совместное использование выгод.</div>
                <br>
                <div>Меры, регулирующие доступ к генетическим ресурсам и совместное использование выгод, могут включать национальные или региональные стратегии, меры политики, законодательные или нормативно-правовые акты. Они также могут включать меры, принимаемые на региональном, национальном, субнациональном или общинном уровнях. Данная форма также может использоваться для представления дополнительной пояснительной информации о том, как выполняются требования ДГРСИВ.</div>
                <br>
                <div>По каждой мере представляется новая форма. Число представляемых форм должно соответствовать числу мер ДГРСИВ, принятых в пределах вашей юрисдикции.</div>
                <br>
                <div>В интересах обеспечения наиболее точного общего представления о национальной правовой основе в отношении ДГРСИВ в Механизме посредничества для регулирования ДГРСИВ предусмотрена возможность внесения сведений об изменениях в существующих мерах и увязки различных мер, например, положения, обеспечивающего осуществление законодательства, или руководства, содержащего дополнительные указания о том, как осуществлять данное положение.</div>
                <br>
                <div>Information registered should be as clear and concise as possible while bearing in mind that the information should guide potential users to comply with the country&rsquo;s legal requirements. В целях информирования пользователей и обеспечения их осведомленности о национальных требованиях, касающихся вопросов доступа, целесообразно включать выполненные в порядке любезности переводы информации, разъяснительную информацию, блок-схемы или пошаговые инструкции по применению предварительного обоснованного согласия.</div>

                <div ng-include="'defaultIntro'"></div>
            </div>

            <!--NDB---------------------------->
            <div ng-if="showNDBInfo" class="well well-help">
                <div ng-include="'defaultIntro'"></div>
            </div>

            <!--IRCC---------------------------->
            <div ng-if="showIRCCInfo" class="well well-help">

                <h5> Введение</h5>
                <div>Стороны, требующие получения предварительного обоснованного согласия (ПОС), принимают меры для обеспечения выдачи в момент доступа разрешения или эквивалентного документа в качестве доказательства принятого решения о предоставлении ПОС и заключения взаимосогласованных условий (ВСУ) (статья&nbsp;3, пункт 6&nbsp;е)). В соответствии с пунктом 2&nbsp;с) статьи&nbsp;14 Протокола данная информация должна представляться в Механизм посредничества для регулирования ДГРСИВ.</div>
                <br>
                <div>Пункт&nbsp;2 статьи&nbsp;17 предусматривает, что разрешение или его эквивалент, выданные в соответствии с пунктом 3 е) статьи 6 и представленные в Механизм посредничества для ДГРСИВ, являются международно признанным сертификатом о соответствии требованиям (МПССТ).&nbsp;</div>
                <br>
                <div>Далее в пункте 3&nbsp;статьи&nbsp;17 установлено, что международно признанный сертификат о соответствии требованиям служит доказательством того, что генетический ресурс, для которого он выдан, стал объектом доступа в соответствии с ПОС и что были заключены ВСУ в соответствии с требованиями национального законодательства и национального права, регулирующего доступ к генетическим ресурсам и совместное использование выгод, или регулятивными требованиями Стороны, предоставляющей предварительное обоснованное согласие.</div>
                <br>
                <div>Пункт&nbsp;4 статьи&nbsp;17 предусматривает, что международно признанный сертификат о соответствии требованиям содержит следующую минимальную информацию, если она не является конфиденциальной:</div>
                <br>
                <ul>
                    <li><span>название органа, выдавшего сертификат;</span></li>
                    <li><span>дату выдачи;</span></li>
                    <li>название поставщика;</li>
                    <li>уникальный идентификатор сертификата;</li>
                    <li><span>лицо или организацию, которым предоставлено предварительное обоснованное согласие;</span></li>
                    <li>предмет генетических ресурсов, на которые выдан сертификат;</li>
                    <li>подтверждение заключения взаимосогласованных условий;</li>
                    <li>подтверждение получения предварительного обоснованного согласия; и</li>
                    <li><span>вид использования &ndash; коммерческий и/или некоммерческий.</span></li>
                </ul>
                <br>
                <div>В соответствии с упомянутыми выше положениями Стороны должны заполнить данную форму. Как минимум, в подлежащие обязательному заполнению поля следует включить информацию, содержащуюся в разрешении (или эквивалентном ему документе), выданном на национальном уровне. Поле, подлежащее обязательному заполнению, в которое включается конфиденциальная информация, может быть помечено как конфиденциальное. По усмотрению Сторон может также включаться дополнительная информация, в том числе копии разрешения или эквивалентного ему документа.&nbsp;</div>
                <br>
                <div>После опубликования данной информации в Механизме посредничества для регулирования ДГРСИВ выпускается/составляется международно признанный сертификат о соответствии требованиям. Затем через Механизм посредничества для регулирования ДГРСИВ по электронным каналам связи в порядке любезности будет направлена копия международно признанного сертификата:</div>
                <br>
                <ul>
                    <li>национальному координационному центру (НКЦ) или компетентному национальному органу (КНО) или органам страны, отвечающей за выдачу разрешений или эквивалентных им документов;&nbsp;</li>
                    <li>поставщику, если данная информация не является конфиденциальной; и</li>
                    <li><span>лицу или организации, которым было дано предварительное обоснованное согласие, если данная информация не является конфиденциальной.</span></li>
                </ul>
                <br>
                <div>Международно признанный сертификат о соответствии требованиям играет ключевую роль в деле мониторинга и повышения уровня прозрачности использования генетических ресурсов в различных звеньях производственно-сбытовой цепочки (исследования, разработки, введение новшеств, подготовка к коммерциализации или коммерциализация).
                </div>

                <div ng-include="'defaultIntro'"></div>
            </div>


            <!--CPC---------------------------->
            <div ng-if="showCPCInfo" class="well well-help">

                <h5> Введение</h5>
                <div>Контрольные пункты будут получать или собирать информацию, связанную с предварительным обоснованным согласием, источником генетического ресурса, с заключением взаимосогласованных условий и/или с использованием генетических ресурсов (статья&nbsp;17, пункт&nbsp;1&nbsp;а)&nbsp;i)), в том числе из международно признанного сертификата о соответствии требованиям, если такой сертификат имеется в наличии. В соответствии с пунктом&nbsp;1&nbsp;а)&nbsp;iii) статьи&nbsp;17 Нагойского протокола такая информация, собранная контрольными пунктами, подлежит представлению соответствующим национальным органам власти, Стороне, дающей предварительное обоснованное согласие, и в Механизм посредничества для регулирования ДГРСИВ (в зависимости от обстоятельств).</div>
                <br>
                <div>На основании информации, собранной или полученной контрольными пунктами и представленной национальным публикующим органом в Механизм посредничества для регулирования ДГРСИВ, по электронным каналам в порядке любезности будет автоматически рассылаться копия записи следующим структурам (в зависимости от обстоятельств):&nbsp;</div>
                <br>
                <ul>
                    <li>назначенному национальному органу/назначенным национальным органам), определенному (определенным) в общем формате для регистрации информации о контрольных пунктах;&nbsp;</li>
                    <li>национальному координационному центру или компетентному национальному органу/компетентным национальным органам (КНО) страны, выдавшей разрешение или его эквивалент; и</li>
                    <li>лицу или организации, которым было дано предварительное обоснованное согласие, если данная информация не является конфиденциальной.</li>
                </ul>
                <br>
                <div>Данная форма облегчает поток информации между контрольными пунктами и всеми причастными сторонами, позволяя странам осуществлять мониторинг использования генетических ресурсов.</div>

                <div ng-include="'defaultIntro'"></div>
            </div>

            <!--CP---------------------------->
            <div ng-if="showCPInfo" class="well well-help">

                <h5> Введение</h5>
                <div>Данная форма представления предназначена для регистрации информации о контрольных пунктах, назначенных в соответствии пунктом 1&nbsp;а) статьи&nbsp;17 Протокола. Функция контрольных пунктов заключается в том, чтобы соответственно случаю получать или собирать информацию, связанную с предварительным обоснованным согласием, источником генетического ресурса, с заключением взаимосогласованных условий и/или с использованием  генетических ресурсов (подпункт&nbsp;i); Такая информация, собранная контрольными пунктами, подлежит представлению соответствующим национальным органам власти, Стороне, дающей предварительное обоснованное согласие, и в Механизм посредничества для регулирования ДГРСИВ (в зависимости от обстоятельств) (подпункт&nbsp;iii).</div>

                <div ng-include="'defaultIntro'"></div>
            </div>

            <!--NR---------------------------->
            <div ng-if="showNRInfo" class="well well-help">

                <h5> Background</h5>
                <div>
                    <p>Article 29 of the Nagoya Protocol provides that each Party shall monitor the implementation of its obligations under the Protocol, and shall, at intervals and in the format to be determined by the Conference of the Parties serving as the meeting of the Parties to the Protocol (COP-MOP), report to the COP-MOP on measures that it has taken to implement the Protocol.</p>
                    <p>The COP-MOP agreed on guidelines and format for submission and requested Parties to submit an interim national report on the implementation of the Nagoya Protocol, twelve months prior to the third meeting of the COP-MOP and through the ABS Clearing-House.  Non-Parties are welcome to submit relevant information (decision NP-1/3).</p>
                    <p class="bold color-yellow">The deadline for submission is 1 November 2017.</p>
                </div><br>
                <h5> Why is it important to submit the interim national report?</h5>
                <div>
                    <p>The information received through these reports will assist the COP-MOP in reviewing the implementation of the Nagoya Protocol and to make the decisions necessary to promote its effective implementation.  In this regard the interim national reports will be one of the main sources of information, together with the ABS Clearing-House, for conducting the first assessment and review of the effectiveness of the Protocol and the information provided will inform and will be taken into account in the consideration of a number of issues by COP-MOP 3 and other subsidiary bodies.</p>
                    <p>In addition, submitting the interim national report can help Parties, as well as non-Parties to:
                        <ul>
                            <li>Assess the level of implementation of the Nagoya Protocol and identify gaps in implementation;</li>
                            <li>Serve as a checklist of the obligations of the Protocol;</li>
                            <li>Identify gaps and needs in terms of capacity, and thus contribute to a more effective design of capacity-building activities and resources;</li>
                            <li>Share experiences, challenges and solutions among countries in relation to the implementation of the Nagoya Protocol, and therefore help Identifying good practices and constraints in implementation of the Nagoya Protocol.</li>
                        </ul>
                    </p>
                </div>
                <br>
                <div ng-include="'defaultIntro'"></div>

                <p>More information on how to submit the interim national report is available in a <a class="link color-black" href="http://www.cbd.int/abs/doc/guides/NR.pdf" target="_new">step-by step guide.</a></p>
                <p>
                Only if not technically feasible, Parties may resort to offline submissions to the ABS Clearing-House. Offline submissions should use the protected form, as provided for download on the ABS Clearing-House in MS Word format: <a href="http://www.cbd.int/abs/doc/commonformats/NR-en.doc" class="link color-black" target="_new">en</a> | <a href="http://www.cbd.int/abs/doc/commonformats/NR-fr.doc" class="link color-black" target="_new">fr</a> | <a href="http://www.cbd.int/abs/doc/commonformats/NR-es.doc" class="link color-black" target="_new">es</a> | <a href="http://www.cbd.int/abs/doc/commonformats/NR-ru.doc" class="link color-black" target="_new">ru</a> | <a href="http://www.cbd.int/abs/doc/commonformats/NR-ar.doc" class="link color-black" target="_new">ar</a> | <a href="http://www.cbd.int/abs/doc/commonformats/NR-zh.doc" class="link color-black" target="_new">zh</a> 
            
                It is recommended that countries send the report via email to the Secretariat (secretariat@cbd.int), and include a scanned copy of the last page signed by the ABS Clearing-House publishing authority. </p>

            </div>

            

            <!--VLR---------------------------->
            <div ng-if="showVLRInfo" class="well well-help">

                <h5> Введение</h5>
                <div>В виртуальной библиотеке Механизм посредничества для регулирования ДГРСИВ имеется ряд ресурсов, имеющих отношение к ДГРСИВ и Нагойскому протоколу. Среди прочего, к ним относятся литература общего характера по ДГРСИВ и Нагойскому протоколу, материалы по повышению осведомленности, тематические исследования, видеоматериалы, ресурсы по наращиванию потенциала и т. д.</div>
                <br>
                <div>Виртуальная библиотека может выполнять функцию пространства для обмена знаниями, информацией об извлеченных уроках и передовыми методами для оказания поддержки наращиванию потенциала в интересах эффективного осуществления Нагойского протокола</div>

                <div ng-include="'defaultIntro'"></div>

            </div>

            <!--A19A20---------------------------->
            <div ng-if="showA19A20Info" class="well well-help">

                <h5> Введение</h5>
                <div>Статьи&nbsp;19 и 20 Протокола требуют, чтобы каждая Сторона поощряла в соответствующих случаях разработку, обновление и применение секторальных и межсекторальных типовых договорных положений для включения во взаимосогласованные условия, а также добровольных кодексов поведения, руководящих указаний и передовых методов и/или стандартов в области доступа к генетическим ресурсам и совместного использования выгод. Данные инструменты могут использоваться в целях повышения уровня правовой определенности и прозрачности и сокращения операционных расходов при осуществлении требований ДГРСИВ с учетом практики различных секторов.</div>
                <br>
                <div>Данный общий формат предназначен для регистрации межсекторальных типовых договорных положений для включения в договоры о взаимосогласованных условиях, а также добровольных кодексов поведения, руководящих указаний и передовых методов и/или стандартов. </div>
                <br>
                <div>If this tool is developed by a Party to support implementation of domestic ABS requirements as part of a country&rsquo;s national ABS framework, please register that information using the common format for legislative, administrative or policy measures. Это позволит включить данную информацию в страновой обзор и перечень национальных мер по ДГРСИВ. </div>

                <div ng-include="'defaultIntro'"></div>
            </div>


            <!--CPP---------------------------->
            <div ng-if="showCPPInfo" class="well well-help">
                <h5> Введение</h5>
                <div>
                    Article 12, paragraph 1, of the Nagoya Protocol provides that Parties, in implementing their obligations under the Protocol, shall in accordance with domestic law take into consideration indigenous and local communities&rsquo; customary laws, community protocols and procedures, as applicable, with respect to traditional knowledge associated with genetic resources. Кроме того, Стороны должны стремиться оказывать в соответствующих случаях поддержку разработке коренными и местными общинами общинных протоколов, регулирующих доступ к традиционным знаниям, связанным с генетическими ресурсами, и совместное использование на справедливой и равной основе выгод от применения таких знаний (статья 12, пункт&nbsp;3&nbsp;а)).
                </div>
                <br>
                <div>Предоставление информации о способах регулирования доступа к традиционным знаниям, связанным с генетическими ресурсами, поможет другим участникам лучше понять и уважать общинные процедуры и ценности.
                </div>
                <br>
                <div>Данный общий формат предназначен для регистрации общинных протоколов и процедур и норм обычного права. A Party may also decideto include this information as a legislative, administrative or policy measure, as part of a country&rsquo;s national ABS framework to also be displayed as part of the country profile. В этом случае информацию об общинных протоколах и процедурах и нормах обычного права может публиковать только надлежащим образом назначенный страной публикующий орган.
                </div>
                <div ng-include="'defaultIntro'"></div>
            </div>

            <!--CBI---------------------------->
            <div ng-if="showCBIInfo" class="well well-help">

                <h5> Введение</h5>
                <div>Статья&nbsp;22 Нагойского протокола предусматривает, что Стороны сотрудничают в создании потенциала, развитии потенциала и укреплении людских ресурсов и организационного потенциала в целях эффективного осуществления настоящего Протокола в Сторонах, являющихся развивающимися странами, в том числе через посредство существующих глобальных, региональных, субрегиональных и национальных учреждений и организаций. В этом контексте Стороны должны также содействовать привлечению к работе коренных и местных общин и соответствующих субъектов деятельности, включая неправительственные организации и частный сектор.</div>
                <br>
                <div>Пункт&nbsp;6 статьи&nbsp;22 предусматривает, что информацию об инициативах по созданию потенциала и развитию на национальном, региональном и международном уровнях следует представлять в Механизм посредничества для ДГРСИВ в целях стимулирования взаимодействия и координации в создании и развитии потенциала по ДГРСИВ.</div>
                <br>
                <div>Наличие всей информации об имеющихся проектах и инициативах по созданию потенциала в одной базе данных может обеспечить для субъектов, занимающихся вопросами создания потенциала в одном географическом регионе или работающих по аналогичным тематическим вопросам, возможности скоординировать свои усилия и перенять опыт друг у друга. Это также может помочь выявить и устранить пробелы и дублирование в охвате существующих инициатив по созданию потенциала.</div>

                <div ng-include="'defaultIntro'"></div>

            </div>



        </div>
    </div>
</div>