<div>
	<style>
		input.ng-invalid-url, input.ng-invalid-email {
		 background-color:#f0ad4e;
		}
	</style>

	<div ng-show="document.type=='person'">

		<legend>Личные данные</legend>

		<div  class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_prefix" caption="Обращение">
					<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="Имя">
					<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'"/>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_middleName" caption="Отчество">
					<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="Фамилия">
					 <input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'"/>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_organization"  caption="Организация"><!-- <div km-select name="contact_organization" ng-model="document.organization"
						items="options.organization()" required></div> --><field-embed-contact ng-model="document.contactOrganization" locales="document.header.languages"
					name="organization" caption="Link Organization »"
					sub-filter="[{'type':'organization'}]"></field-embed-contact>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_department" caption="Управление/отдел/подразделение">
					<div km-textbox-ml name="contact_department" ng-model="document.department" locales="locales"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_designation" caption="Должность">
					<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="document.type=='organization'">
		<legend>Сведения об организации</legend>
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Организация">
					<div class="help-info">Полное несокращенное название</div>
					<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="locales"></div>
					<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization"  locales="locales"></div>
				</div>
			</div>

			<div class="col-md-5 col-xs-12">
					<div class="km-control-group" name="contact_organizationAcronym" caption="Сокращение" ng-required="!form.organization.$valid && document.type!='person'">
					<div class="help-info">Сокращение для длинного названия</div>
					<div  ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="пример: СКБР" locales="locales"></div>
					<div  ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="пример: СКБР" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="km-control-group" name="contact_organizationType" caption="Тип организации">
					<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
				</div>
			</div>
			<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
				<div class="km-control-group" name="contact_organizationTypeName" caption="Другой тип организации">
					<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="example: СКБР" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="document.contactOrganization">

		<legend>Адрес</legend>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_address" caption="Улица, дом">
					<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="пример: 413 St-Jacques Ouest, Suite 800" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="km-control-group" name="contact_city" caption="Город" required>
					<div km-textbox-ml name="contact_city" ng-model="document.city" locales="locales" placeholder="пример: Montreal"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_state" caption="Штат или область">
					<div km-textbox-ml name="contact_state" ng-model="document.state" locales="locales" placeholder="пример: Quebec"></div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="km-control-group" name="contact_postalCode" caption="Почтовый индекс или Zip-код">
					<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="locales" placeholder="пример: H2Y 1N9"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="Страна">
					<div km-select name="contact_country" ng-model="document.country" items="options.countries()"></div>
				</div>
			</div>
		</div>
	</div>

	<legend>Контактная информация</legend>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_phones" caption="Номера телефонов">
				<div class="help-info">Используйте следующий формат: + [код страны] [код города] [номер телефона] [добавочный номер, если необходимо].</div>
				<div km-inputtext-list name="contact_phones" ng-model="document.phones"  placeholder="example: +1 514.288.2220" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_faxes" caption="Номера факсов">
				<div class="help-info">Используйте следующий формат: + [код страны] [код города] [номер телефона] [добавочный номер, если необходимо].</div>
				<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="example: +1 514.288.6588"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="emails" caption="Адреса электронной почты" required>
				<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="пример: secretariat@cbd.int" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_websites" caption="Адреса веб-сайтов">
				<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="example: http://www.cbd.int"></div>
			</div>
		</div>
	</div>
</div>
