<div>
	<div class="registerpage-content">

		<div ng-show="msg" class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button><strong>{{msg}}</strong></div>

		<div class="alert alert-danger" ng-show="hasError()"><strong>Произошла ошибка...</strong><div>{{error}}</div>
		</div><!--<div ng-show="isLoading()">
			<i class="fa fa-spinner fa-spin"></i> Loading...
		</div>--><div ng-show="!isLoading() && status!='hidden'">
			<div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" ></div>

			<div km-document-validation ng-model="validationReport"></div>
			<form name="editForm" class="editForm" style="margin-top:10px">

				<div ng-show="tab=='edit'" km-tab="edit">

					<legend name="formInfo" style="display:none"></legend>
					<section>
						<legend>Общая информация</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="title" caption="Название">
									<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<div class="km-control-group" required name="resourceTypes" caption="Тип материала">
                                    <div km-select multiple  name="resourceTypes" required ng-model="document.resourceTypes" items="options.resourceTypes()" show-description="true"></div>
								</div>
							</div>
							<div class="col-xs-6" ng-show="isOtherSelected(document.resourceTypes)">
								<div class="km-control-group" required name="resourceTypeName" caption="Название другого типа материала">
									<div km-textbox-ml  required name="resourceTypeName" rows="1" ng-model="document.resourceTypeName" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

                        <div class="row" ng-if="isResource">
							<div class="col-md-12">
								<div class="km-control-group" required name="fileFormat" caption="Формат/тип файла">
									<div km-select  name="fileFormat" required ng-model="document.fileFormat" items="options.fileFormats()"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="isResource">
							<div class="col-md-12">
								<div class="km-control-group" name="formatDetails" caption="Сведения о формате">
									<div class="help-info">Сведения о формате могут использоваться для предоставления дополнительной информации, касающейся формата вложений, включая его характеристики (например, размер, количество страниц или продолжительность) или программное и аппаратное обеспечение или другое оборудование, необходимое для его отображения или использования (например, «Для просмотра необходимо наличие программы Acrobat Reader»).</div>
									<div km-textbox-ml rows="2" name="formatDetails" ng-model="document.formatDetails" locales="document.header.languages" ></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12" ng-if="isResource">
								<div class="km-control-group" required name="purpose" caption="Укажите основную цель материала">
                                   <div km-select multiple  required name="purpose" ng-model="document.purpose" items="options.purposes()" show-description="true"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="isResource && IsCapacityBuilding()">
							<div class="col-md-12">
								<div class="km-control-group" required="IsCapacityBuilding()" name="targetGroups" caption="Целевая группа(-ы)/бенефициар(ы)">
									<div km-term-check name="targetGroups" required="IsCapacityBuilding()" ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="isResource && IsCapacityBuilding()">
							<div class="col-md-12">
								<div class="km-control-group" name="expertiseLevel" caption="Уровень содержания или уровень знаний/экспертных знаний аудитории, для которой предназначен материал">
									<div km-select name="expertiseLevel" ng-model="document.expertiseLevel" items="options.expertiseLevels()"></div>
								</div>
							</div>
						</div><!--//Authors or Authoring organization is madatory Error message --><label for="author_org" style="width:0px;height:0px;display:inline"><span style="display:none">Введите сведения об авторе(-ах) или выберите организации, выступающие в качестве авторов</span></label>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="authors" caption="Автор(ы)">
									<div class="help-info">Фамилия и имя лица, являющегося автором публикации или информационного материала.</div>
									<div km-textbox-ml required ng-model="document.authors" rows="2" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
									
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="organizations" caption="Организация(-и), выступающая(-ие) в качестве автора(-ов)">
									<field-embed-contact multiple ng-model="document.organizations" organization-only locales="document.header.languages" caption="Add organizations »">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="publicationYear" caption="Год публикации">
									<select class="form-control" style="width:10%" required name="publicationYear" ng-model="document.publicationYear" convert-to-number>><option ng-repeat="option in years" value="{{option.id}}">{{option.name}}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="rights" caption="Права">
									<div class="help-info">Информация о правах на прикрепленные файлы (например, о правообладателях) и возможности тиражирования в образовательных или некоммерческих целях.</div>
									<div km-textbox-ml name="rights" ng-model="document.rights" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="isResource">
							<div class="col-xs-12" >
								<div class="km-control-group" name="source" caption="Источник">
									<div class="help-info">Ссылка на документ или источник, из которого взят настоящий материал (например, журнальная статья). Для оригинальных документов допускается указать «оригинальный документ».</div>
									<div km-textbox-ml name="source" ng-model="document.source" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						
						<div class="row" ng-if="!isResource">
							<div class="col-md-12">
								<div class="km-control-group" name="formatDetails" caption="Сведения о формате">
									<div class="help-info">Сведения о формате могут использоваться для предоставления дополнительной информации, касающейся формата вложений, включая его характеристики (например, размер, количество страниц или продолжительность) или программное и аппаратное обеспечение или другое оборудование, необходимое для его отображения или использования (например, «Для просмотра необходимо наличие программы Acrobat Reader»).</div>
									<div km-textbox-ml rows="2" name="formatDetails" ng-model="document.formatDetails" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
					</section>

					<section>
						<legend>Прикрепленные файлы, документы или материалы</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="resourceLinks" caption="Ссылка на материал(ы)">
									<div class="help-block">Просьба всегда прикреплять соответствующие файлы с целью их сохранения в базе данных для загрузки пользователями. При наличии материалов в Интернете просьба также предоставить ссылку на них.</div>
									<div km-link name="resourceLinks" required ng-model="document.resourceLinks" allow-link="true" allow-file="true" extensions="options.documentLinksExt"
									identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="cover" caption="Изображение(-я) обложки">
									<div class="help-block">Поддерживаются только форматы JPEG и PNG.</div>
									<div km-link name="cover" ng-model="document.covers" allow-link="false" allow-file="true" mimeTypes="image/jpeg;image/png"
									identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>
					</section>
					<section>
						<legend>Информация о содержании вложений</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group"  name="summary" caption="Резюме или реферат (не более 300&nbsp;слов)">
									<div km-textbox-ml ng-model="document.summary"  rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="regions" caption="Страна(-ы), региональная(-ые) или экономическая(-ие) группа(-ы), имеющие отношение к материалу">
									<div km-select style="display: inline-block" name="regions" ng-model="document.regions" items="options.regions()" multiple
									placeholder="Выбрать страну(-ы) и/или регион(ы)..."></div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="isResource">
							<div class="col-md-12">
								<div class="km-control-group" required name="aichiTargets" caption="Соответствующая(-ие) Айтинская(-ие) целевая(-ые) задача(-и) в области биоразнообразия">
									<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
					</section>
					<section>

						<legend ng-if="IsCapacityBuilding() || IsLiterature() || isMcc">Ключевые слова, облегчающие поиск в сети</legend>

                        <div class="row" ng-if="isMcc">
							<div class="col-xs-12">
								<div class="km-control-group" name="mccKeywords" required caption="Please select the relevant keywords for describing the content of the code of conduct, guidelines and best practices and/or standards being submitted">
									<div km-term-check name="mccKeywords" required ng-model="document.mccKeywords" terms="options.mccKeywords()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="(isResource && IsLiterature() && IsTarget16()) || !isResource">
							<div class="col-xs-12">
								<div class="km-control-group" required name="absSubjects" caption="Тематическая(-ие) область(-и)">
									<div km-term-check name="absSubjects" required ng-model="document.absSubjects" terms="options.absSubjects()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="IsCapacityBuilding() && IsTarget16()">
							<div class="col-md-12">
								<div class="km-control-group" required name="absKeyAreas" caption="Ключевые области и стратегические меры по созданию и развитию потенциала">
                                    <div class="help-info">Ключевые области, определенные в стратегической структуре для создания и развития потенциала в поддержку эффективного осуществления Нагойского протокола (решение NP-1/8, приложение&nbsp;I).</div>
									<div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
					</section>



					<section><a translation-url  name="#AdditionalInformation"></a><legend>Дополнительная информация</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="address" caption="Любая другая актуальная информация">
									<div class="help-block">Просьба использовать это поле для представления любой другой актуальной информации, которая, возможно, не была учтена в других разделах записи.</div>
									<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="relevantDocuments" caption="Любые другие соответствующие документы">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

					</section>
					<section>
						<legend>Примечания</legend>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="notes">
									<div class="help-block">Поле «Примечания» предназначено для личных замечаний или комментариев и будет скрыто при просмотре записи. Данное поле не предназначено для конфиденциальной информации.</div>
									<textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
								</div>
							</div>
						</div>
					</section>



				</div>




			</form>

			<div ng-show="tab=='review'" km-tab="review" id="schemaView">

				<div view-resource ng-model="reviewDocument" locale="review.locale" allow-drafts="true" heading="{{heading}}" short-heading="{{shortHeading}}"></div>
			</div><!-- <hr style="margin-top:20px;">

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">

                <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="true"/>

            </div>
        </div> --></div>
	</div>
</div>
