<div class="bg-texture-green" style="position:relative;" dir="rtl">
    <div class="container tag-line-container bg-green color-white " style="position:relative;margin-bottom:4px;">
        <div class="row">
            <div class="col-md-12">
                <h3>غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع منصة لتبادل المعلومات حول الحصول على الموارد الجينية وتقاسم المنافع وأداة رئيسية لتسهيل تنفيذ بروتوكول ناغويا. <a translation-url  href="/about" ng-click="toggleTooltip()" dir="rtl"><i class="helpinfoInline fa fa-info-circle color-white" data-toggle="tooltip" data-title="Click here to find out more about the ABSCH" data-container="body"></i></a></h3>
            </div>
        </div>
    </div>
    <div id="homeMap" class="container-fluid" style="padding:0; margin-bottom:-15px;margin-top:0;margin-right:-20px;height: 400px;" block-region activate="loadingMap" >
        
            <country-map class="hidden-xs" height="500px" id="npMap"></country-map>
        
    </div>
    <div id="Parties" class="container party-container bg-green text-center" style="position:relative;">
        <div class="row">
            <div class="col-md-4">
                <party-status id="od1" class="od1" delay="0" num="numParty"></party-status><a translation-url href="/countries/status/party" class="link od-label">الأطراف في بروتوكول ناغويا</a></div>

            <div class="col-md-4">
                <party-status id="od3" class="od3" delay="0" num="numRatified"></party-status><a translation-url href="/countries/status/inbetween" class="link od-label">صدقوا لكنهم ليسوا أعضاءً بعد</a> <a translation-url href="#" class="helpinfoInline fa fa-info-circle color-black" data-toggle="tooltip" data-title="Countries that have deposited their instrument of ratification but have not yet completed the 90 day waiting period before the Protocol enters into force for their country. "
                    data-container="body"></a></div>

            <div class="col-md-4">
                <party-status id="od2" class="od2" delay="0" num="numNonParty"></party-status><a translation-url href="/countries/status/nonparty" class="link od-label">ليسوا أطرافًا</a></div>
        </div>
    </div>
</div>