<div class="bg-texture-green " style="position:relative;" dir="rtl">
    
    <div class="container-fluid tag-line-container bg-green color-white" style="position:relative;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3><span ng-bind="options.chLongName"></span> (<span ng-bind="options.chShortName"></span>) منصة لتبادل المعلومات حول <span ng-bind="options.protocolShortName"></span> وأداة رئيسية لتيسير تنفيذ بروتوكول <span ng-bind="options.protocol"></span>. <a translation-url  href="/about" ng-click="toggleTooltip()" dir="rtl"><i class="helpinfoInline fa fa-info-circle color-white" data-toggle="tooltip" 
                            data-title="Click here to find out more about the Clearing-house" data-container="body"></i></a></h3>
                </div>
            </div>
        </div>
    </div>

    <div id="homeMap" class="hidden-sm hidden-xs" style="padding:0; margin-bottom:-15px;margin-top:0;" 
        block-region activate="loadingMap" ng-style="{'height': options.isBch ? '450px' : '350px'}">
    </div>

    <div id="Parties" class="container-fluid  party-container text-center hidden-sm hidden-xs" style="position:relative;">
        <div class="row">
            <div class="col-md-4"><span class="label label-party">{{numParty}}</span> <a translation-url href="/countries/status/party" class="link od-label">أطراف في  <span ng-bind="options.protocol"></span></a></div>

            <div class="col-md-4"><span class="label label-inbetween">{{numRatified}}</span> <a translation-url href="/countries/status/inbetween" class="link od-label">بلد صادق على البروتوكول، لكنه ليس طرفًا بعد</a> <a translation-url href="#" class="helpinfoInline fa fa-info-circle color-grey" data-toggle="tooltip" 
                data-title="يقصد بها البلاد التي أودعت صكوكها للتصديق، لكنها لم تكمل بعد فترة انتظار مدتها 90 يومًا قبل سريان البروتوكول في البلد."
                    data-container="body"></a></div>

            <div class="col-md-4"><span class="label label-nonparty">{{numNonParty}}</span> <a translation-url href="/countries/status/nonparty" class="link od-label">ليسوا أطرافًا</a></div>
        </div>
    </div>

   
</div>
