<div dir="rtl">
<div ng-if="currentCountry.code" style="padding:5px;" ng-class="{'bg-party': currentCountry.isNPParty, 'bg-darkgrey':!currentCountry.isNPParty, 'bg-inbetween': currentCountry.isNPInbetweenParty}">
    <div><span ng-if="(isABS && currentCountry.isNPParty) || (isBCH && currentCountry.isCPParty)"
             >طرف في بروتوكول ناغويا</span> <span ng-if="(isABS && currentCountry.isNPInbetweenParty)"
            >صادق لكنه ليس طرفًا بعد</span> <span ng-if="(isABS && !currentCountry.isNPParty && !currentCountry.isNPInbetweenParty) || (isBCH && !currentCountry.isCPParty)"
             >ليس طرفًا في بروتوكول ناغويا</span></div>

    <div class="row abs-exception-tooltip"
    ng-if="country.exceptionCountry=='dk'||country.code.toLowerCase()=='dk'||
            country.code.toLowerCase()=='fk'||country.code.toLowerCase()=='eh'||
            country.exceptionCountry=='gb'||country.code.toLowerCase()=='gb'">
        <div class="col-lg-12">
            <div class="small  {{(country.exceptionCountry.toLowerCase()=='dk' || country.code.toLowerCase()=='dk') ? 'show' : 'hide'}}"
                style="margin-top:5px;white-space: normal;padding:3px;">تصديق الدنمارك على البروتوكول لا يسري على جرينلاند وجزر فاروي.</div>
            <div class="{{country.code.toLowerCase()=='fk' ? 'show' : 'hide'}}   small " style="margin-top:5px;white-space: normal;padding:3px;">هناك نزاع بين حكومتي الأرجنتين والمملكة المتحدة لبريطانيا العظمى وأيرلندا الشمالية بشأن السيادة على جزر فوكلاند (مالفيناس).</div>
            <div class="{{country.code.toLowerCase()=='eh' ? 'show' : 'hide'}}   small " style="margin-top:25px;white-space: normal;padding:3px;font-size: x-large;">إقليم لا يتمتع بالحكم الذاتي.</div>
            <div class="small  {{(country.exceptionCountry.toLowerCase()=='gb'||country.code.toLowerCase()=='gb') ? 'show' : 'hide'}}" style="margin-top:5px;white-space: normal;padding:3px;">تصديق المملكة المتحدة على بروتوكول ناغويا لا يسري على  <a ng-href="#"  class=" color-litegrey gb-territories" data-toggle="tooltip" data-placement="bottom" title="أنغيلا، وبرمودا، والمنطقة البريطانية في القارة القطبية، ومنطقة المحيط الهندية البريطانية، وجزر فيرجين البريطانية، وجزر الكايمان، وجزر فوكلاند، وإقليم جبل طارق، وجزيرة مونتسيرات، وجزيرة بيتكيرن، وجزر سانت هيلينا وأسينشين وتريستان دا كونا، جورجيا الجنوبية وجزر ساندويتش الجنوبية، ومناطق القاعدة السيادية لأكروتيري وديكيليا،  وجزر توركس وكايكوس">14 إقليمًا فيما وراء البحار</a> أو <a ng-href="#" class=" color-litegrey gb-territories" data-toggle="tooltip" data-placement="right" title="بيلويك جيرسي، وﺑﻳﻠﻭيك ﺟﻳﺭﻧﺯﻱ، وجزيرة مان"> على 3 ملحقات بالتاج البريطاني</a></div>
        </div>
    </div>
</div>
    <div>
        <table class="table table-map table-condensed" >
            <tr ng-repeat="schema in country.schemas" style="border:none;">
                <td ><span class="badge bg-black">{{schema.count}}</span></td>
                <td><a ng-if="currentCountry.code" translation-url href="{{translationUrl}}/countries/{{currentCountry.code}}/{{schema.shortCode}}"  style="color:#fff">{{schema.title | lstring:locale}}</a> <a ng-if="!currentCountry.code" translation-url href="{{translationUrl}}/search/nationalRecords"  style="color:#fff">{{schema.title | lstring:locale}}</a></td>
            </tr>
        </table>
    </div>
</div>
