<div id="Record" class="record panel panel-default" >

	<div class="panel-heading bg-blue" ng-show="display('header')">
		<h4><span>Punto de verificaci&oacute;n <span class="color-black"></span></span></h4>	
	</div>

	<div class="record-body panel-body" help schema="ViewCP" >

		
			<document-date></document-date>

		 <div name="article17-1-a"></div>

		<legend ng-if="document.government || document.name">Informaci&oacute;n general</legend>

		<div ng-show="document.government">
			<label name="country">Pa&iacute;s</label>
			<div class="km-value" ><a ng-href="/countries/{{document.government.identifier}}" target={{target}}>{{document.government|term:locale}}</a> <span ng-party-status government="document.government" id="government"></span></div>
		</div>

		 <div ng-show="display('title') && document.name">
		 <label>Nombre del punto de verificaci&oacute;n</label>
		 	<div class="km-value"><strong>{{document.name | lstring:locale}}</strong></div>
		 </div>



		<div ng-show="document.responsibilities || document.jurisdiction ||
			document.jurisdictionName">
			<legend name="Responsibilities">Responsabilidades del punto de verificaci&oacute;n</legend>
			<div ng-show="document.responsibilities"><!--<label>Short description of responsibilities</label>--><div class="km-value km-pre" ng-bind-html="document.responsibilities|lstring:locale"></div>
			</div>
			<div ng-show="document.jurisdiction">
				<label>Zona de jurisdicci&oacute;n</label>
				<div class="km-value">
					<ul class="list">
						<li>{{document.jurisdiction|term}} <span ng-if="isSubNational() ||isCommunity() || isOthers()">({{document.jurisdictionName | lstring:locale}})</span></li>
					</ul>
				</div>
			</div><!--<div ng-show="document.jurisdictionName">
				<label ng-show="isSubNational()">Name of the sub-national jurisdiction</label>
				<label ng-show="isCommunity()">Name of the community jurisdiction</label>
				<label ng-show="isOthers()">Other jurisdiction</label>
				<div class="km-value">{{document.jurisdictionName | lstring:locale}}</div>
			</div>--></div>

		<div ng-if="document.informAllAuthorities || document.contactsToInform" >
			<legend>Autoridad(es) que habr&aacute;n de recibir copias de cortes&iacute;a de los comunicados del punto de verificaci&oacute;n sobre la informaci&oacute;n recopilada o recibida originada en el punto de verificaci&oacute;n</legend>

			<div class="help-info" style="padding-top:10px;">Todas las autoridades y contactos indicados a continuaci&oacute;n recibir&aacute;n copias por correo electr&oacute;nico de los comunicados del punto de verificaci&oacute;n que contengan informaci&oacute;n recopilada o recibida y publicada originada en ese punto de verificaci&oacute;n. S&iacute;rvase tomar nota de que las autoridades nacionales que proporcionaron un consentimiento fundamentado previo (CFP) autom&aacute;ticamente recibir&aacute;n copias por correo electr&oacute;nico de todos los comunicados del punto de verificaci&oacute;n. El Centro de Intercambio de Informaci&oacute;n sobre APB no puede garantizar que los correos electr&oacute;nicos hayan sido recibidos o le&iacute;dos.</div>
			<div class="km-value" ng-show="document.informAllAuthorities"><a translation-url  href="/countries/{{document.government.identifier|uppercase}}" target="_new">All national competent authorities (<a ng-href="/countries/{{document.government.identifier}}" target={{target}}>{{document.government|term:locale}}</a>)</a> have been selected to automatically receive checkpoint communiqu&eacute;s by email published from this checkpoint.</div>
          
			<div ng-show="document.contactsToInform">
				<div class="km-value" ng-repeat="authority in document.contactsToInform">
                    <div view-contact-reference ng-model="authority" locale="locale"></div>
				</div>
			</div><!--<div ng-show="document.contactsToInform" class="row">
				<div ng-repeat="contact in document.contactsToInform">
					<div class="col-xs-12">
						<div view-contact-reference ng-model="contact" locale="locale" class="well"></div>
					</div>
				</div>
			</div>--><div class="km-value" ng-show="!document.informAllAuthorities && !document.authoritiesToInform && !document.contactsToInform"><span >No se han seleccionado autoridades adicionales para recibir las copias autom&aacute;ticas por correo electr&oacute;nico de los comunicados del punto de verificaci&oacute;n publicados por dicho punto de verificaci&oacute;n.</span></div>

		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Informaci&oacute;n adicional</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Otros enlaces o documentos adjuntos pertinentes</label>
				<div class="km-value" ng-repeat="item in document.relevantDocuments"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>
		</div>

	</div>
	
	 <div document-metadata class="panel-footer"></div>

</div>
