<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange" ng-show="display('header')">

		<h4>Iniciativas de creaci&oacute;n de capacidad</h4>
    </div>
	<div class="record-body panel-body">
				<div record-options></div><br><div ng-show="document.title">
			<label>Denominaci&oacute;n</label>
			<div class="km-value km-pre">{{document.title | lstring:locale}}</div>
		</div>

		<div ng-show="document.projectNumber">
			<label>N&uacute;mero o identificador del proyecto</label>
			<div class="km-value km-pre">{{document.projectNumber | lstring:locale}}</div>
		</div>

		<div ng-show="document.geographicScope">
			<label>Alcance geogr&aacute;fico</label><span class="km-value">{{document.geographicScope.scope | term:locale}}</span></div>

		<div ng-show="document.geographicScope && document.geographicScope.regionsOrCountries">
			<label>Grupo(s) geogr&aacute;fico(s) o pol&iacute;tico/econ&oacute;mico y/o pa&iacute;s(es)</label>
			<div class="km-value">
                <ul  class="list" ng-show="document.geographicScope.regionsOrCountries">
                    <li ng-repeat="term in document.geographicScope.regionsOrCountries">{{term | term:locale}}</li>
                </ul>
            </div>
		</div>

		<div ng-show="document.geographicScope && document.geographicScope.jurisdiction">
			<label>Jurisdicci&oacute;n</label><span class="km-value km-pre">{{document.geographicScope.jurisdiction | lstring:locale}}</span></div>

		<div ng-show="document.geographicScope && document.geographicScope.community">
			<label>Comunidad</label><span class="km-value km-pre">{{document.geographicScope.community | lstring:locale}}</span></div>

		<div ng-show="document.status">
			<label>Estado del documento</label><span class="km-value">{{document.status | term:locale}}</span></div>

		<div ng-show="(document.startDate && document.endDate) || document.duration">
	  			<div class="row" ng-show="document.startDate && document.endDate">
	  				<div class="col-md-6">
	  					<label>Fecha de inicio</label>
	  					<div class="km-value km-pre">{{document.startDate | date : &apos;longDate&apos;}}</div>
	  				</div>
	  				<div class="col-md-6">
	  					<label>Fecha de finalizaci&oacute;n</label>
	  					<div class="km-value km-pre">{{document.endDate | date : &apos;longDate&apos;}}</div>
	  				</div>
	  			</div>

	  			<div ng-show="document.duration">
	  				<label>Duraci&oacute;n</label>
	  				<div class="km-value km-pre">{{document.duration | lstring:locale}}</div>
	  			</div>
		</div>

		<div ng-show="document.isImplementedByAgencies || document.isExecutededByAgencies || document.isCollaboratededByPartners">

			<div ng-show="document.isImplementedByAgencies && document.implementingAgencies">
			  	<label>Organismo(s) u organizaci&oacute;n(es) de aplicaci&oacute;n</label>
				<div class="km-value" ng-repeat="contact in document.implementingAgencies">
					<div view-contact-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>

			<div ng-show="document.isImplementedByAgencies && document.executingAgencies">
			  	<label>Organismo(s) u organizaci&oacute;n(es) de ejecuci&oacute;n</label>
				<div class="km-value" ng-repeat="contact in document.executingAgencies">
					<div view-contact-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>

			<div ng-show="document.collaboratingPartners && document.collaboratingPartners">
				<label>Asociado(s) en colaboraci&oacute;n</label>
				<div class="km-value" ng-repeat="contact in document.collaboratingPartners">
					<div view-contact-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>

		</div>

		<div ng-show="document.contacts">
			<label>Persona(s) de contacto</label>
			<div class="km-value" ng-repeat="contact in document.contacts">
				<div view-contact-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.type">
			<label>Tipo de iniciativa de creaci&oacute;n de capacidad</label><span class="km-value">{{document.type | term:locale}}</span></div>

		<div ng-show="document.projectDocument">
			<label>Documento del proyecto o documento que describa la iniciativa</label>
			<div class="km-value" ng-repeat="item in document.projectDocument"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
		</div>

	  	<legend>Informaci&oacute;n detallada</legend>

		<div ng-show="document.description">
			<label>Descripci&oacute;n breve de la iniciativa, incluidos sus metas y objetivos</label>
			<div class="km-value km-pre">{{document.description | lstring:locale}}</div>
		</div>

		<div ng-show="document.targetGroups">
			<label>Grupo(s) de destinatario(s)/beneficiario(s)</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.targetGroups">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<div ng-show="document.categories">
			<label>Categor&iacute;a(s) de las actividades de creaci&oacute;n de capacidad</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.categories">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<legend>Informaci&oacute;n sobre financiaci&oacute;n</legend>

		<div ng-show="document.fundingSourceTypes">
			<label>Tipo(s) de fuentes de financiaci&oacute;n</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.fundingSourceTypes">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<div ng-show="document.coreFundingSources">
			<label>Fuente(s) principal(es) de financiaci&oacute;n</label>
			<div class="km-value" ng-repeat="contact in document.coreFundingSources">
				<div view-contact-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.coFinancingSources">
			<label>Fuente(s) de cofinanciaci&oacute;n</label>
			<div class="km-value" ng-repeat="contact in document.coFinancingSources">
				<div view-contact-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.totalBudget">
			<label>Presupuesto total (monto, en USD)</label>
			<div class="km-value km-pre">{{document.totalBudget | currency:&quot;USD$&quot;}}</div>
		</div>


		<div ng-show="document.resultsAchievements || document.resultsOutputs || document.bestPractices">
			<legend>Resultados en materia de creaci&oacute;n de capacidad</legend>

			<div ng-show="document.resultsAchievements">
				<label>Resultados</label>
				<div class="km-value km-pre">{{document.resultsAchievements | lstring:locale}}</div>
			</div>

			<div ng-show="document.resultsOutputs">
				<label>Principales realizaciones</label>
				<div class="km-value" ng-repeat="item in document.resultsOutputs"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>

			<div ng-show="document.bestPractices">
				<label>Mejores pr&aacute;cticas y lecciones aprendidas</label>
				<div class="km-value km-pre">{{document.bestPractices | lstring:locale}}</div>
			</div>
		</div>


		<div ng-show="document.absKeyAreas">
			<legend>Centro de Intercambio de la Informaci&oacute;n sobre APB</legend>

			<label>&Aacute;reas clave y medidas estrat&eacute;gicas para la creaci&oacute;n y el desarrollo de capacidad</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.absKeyAreas">{{term | term:locale}}</li>
			</ul>
            </div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Informaci&oacute;n adicional</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Otras direcciones de sitios web o documentos adjuntos pertinentes</label>
				<div class="km-value" >
					<ul class="list">
						<li ng-repeat="item in document.relevantDocuments"><a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
					</ul>
				</div>
			</div>
		</div>
       
	</div>

	<div document-metadata class="panel-footer" ></div>

</div>
