<div class="help_content">
    <h1>Information-sharing obligations under the Protocol</h1>
    <div>
      <p>Each Party to the Nagoya Protocol is required to make available the following types of information to the ABS Clearing-House in accordance with&nbsp;<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>:<ul>
              <li>a) Les mesures l&eacute;gislatives, administratives et de politique g&eacute;n&eacute;rale en mati&egrave;re
d&rsquo;acc&egrave;s et de partage des avantages;</li>
              <li> b) Les informations concernant le correspondant national et l&rsquo;autorit&eacute; ou les
autorit&eacute;s nationales comp&eacute;tentes; et </li>
              <li>c) Les permis ou documents &eacute;quivalents d&eacute;livr&eacute;s au moment de l&rsquo;acc&egrave;s pour
attester de la d&eacute;cision d&rsquo;accorder le consentement pr&eacute;alable en connaissance
de cause et de la conclusion de conditions convenues d&rsquo;un commun accord.</li>
          </ul>
      </p>

      <p>In accordance with&nbsp;<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-13" target="_new">Article 13, paragraph 4</a>, the contact information of a Party&rsquo;s national focal point and its competent national authority or authorities shall be provided to the Secretariat no later than the date of entry into force of the Protocol, and Parties shall subsequently notify the Secretariat of any changes. The Secretariat will make this information available through the ABS Clearing-House.</p>

      <p>Where a Party designates more than one competent national authority, it must provide to the Secretariat relevant information on the respective responsibilities of those authorities along with its notification designating the authority. Le cas échéant, il sera au moins précisé quelle est l&rsquo;autorité compétente responsable des ressources génétiques sollicitées.</p>

      <p><a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>, also requires Parties to make available through the ABS Clearing-House any information required by this Protocol. This would include:<ul>
              <li>(a) Measures to inform potential users of traditional knowledge associated with genetic resources about their obligations for access to and fair and equitable sharing of benefits arising from the utilization of such knowledge (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-12" target="_new">Article 12, paragraph 2</a>);</li>
              <li> (b) Information provided to designated checkpoints that collect or receive, as appropriate, relevant information related to prior informed consent, to the source of the genetic resource, to the establishment of mutually agreed terms, and/or to the utilization of genetic resources, including from internationally recognized certificates of compliance, where they are available (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-17" target="_new">Article 17, paragraph 1 (a) (iii)</a>); and </li>
              <li>(c) Information on capacity-building and development initiatives at national, regional and international levels that should be shared through the ABS Clearing-House with a view to promoting synergy and coordination on capacity-building and development for access and benefit-sharing (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-22" target="_new">Article 22, paragraph 6</a>).&nbsp; </li>
          </ul>
      </p>

      <p>The ABS Clearing-House will also need to provide access to other types of information that Parties may provide relevant to the implementation of the Protocol. Additional information specified in the Protocol (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 3</a>) includes<ul>
              <li>Les autorit&eacute;s comp&eacute;tentes pertinentes des communaut&eacute;s autochtones et
locales, et des renseignements, selon qu&rsquo;il en est d&eacute;cid&eacute;;&nbsp;</li>
              <li>b) Les clauses contractuelles types;&nbsp;</li>
              <li>c) Les m&eacute;thodes et outils d&eacute;velopp&eacute;s pour surveiller les ressources g&eacute;n&eacute;tiques; et&nbsp;</li>
              <li>d) Les codes de conduite et les meilleures pratiques. </li>
          </ul>
      </p>

      <p>Finally,&nbsp;<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>, provides that Parties shall make information to the ABS Clearing-House any information required pursuant to the decisions taken by the Conference of the Parties to the Protocol.</p>
      
    </div>
  </div>
