<div ng-controller="AdminController"  id="RegisterPage">
  
  <link href="/app/css/register.css" rel="stylesheet">
  <link href="/app/css/record.css" rel="stylesheet">

  <span register-top-menu></span>

  <div class="register-content card card-1-notrans">
    <div class="register-content-header bg-pink color-white">
      <div style="padding:1px 10px;">
        <h3>ABSCH 管理 </h3>
      </div>
    </div>
    <div class="register-content-content" ng-if="roles.isAbsAdministrator || roles.isAdministrator">
      <div class="row" style="padding:0;margin:0 0 30px 0;">
        <div class="col-md-12 cp-header">
          <table style="width:100%;">
            <tr>
              <td><label>当前域： </label></td>
              <td><span switch-realm></span></td>
            </tr>
          </table>
        </div>
        <a translation-url  class="btn btn-default" ng-href="/register/admin/reported-records">管理已报告的记录</a> <a translation-url  class="btn btn-default" ng-href="/register/admin/pending-requests">管理工作流记录</a> <a translation-url  class="btn btn-default" ng-href="/register/admin/report-counts">报告数量</a> <a translation-url  class="btn btn-default" ng-href="/register/admin/error-logs">错误日志</a>

      </div>
    </div>
  </div>
</div>
<!-- controller -->