<div><strong>{{currentRealmMessage()}}</strong><div class="row">
        <div class="col-sm-12">
            <div class="well2">
                <div class="alert alert-danger col-xs-12">Функция смены области используется только для просмотра записей, относящихся к другим областям, а не для внесения дополнений или редактирования.<div>    
                        <select class="form-control" ng-model="selectedRealm">
                            <option  ng-repeat="realm in realmList" value="{{realm.identifier}}">{{realm.message}}</option>
                        </select>
                        <button type="button" class="btn btn-default" ng-click="switchRealm()"><i class="glyphicon glyphicon-thumbs-up"></i> Сменить</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
