<div id="Search-Filter"  style="margin-bottom:30px;" >
     <div><span class="country-heading">Fecha publicada</span><hr class="heading" />
         <p class="helpinfo"><i class="fa fa-info-circle helpicon"></i> Filtro para registro publicado dentro de un intervalo de fechas</p>
        
    </div>
    <div style="max-height:400px;">
        <div ng-repeat="doc in df_filters | filter:searchKeyword">
            <div class="filter col-lg-3">
                
                <div class="row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div style="font-size:10px;font-weight:bold;text-transform: uppercase;">Desde</div>
                        <div class="km-date" ng-model="dateFilter.since"></div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size:10px;font-weight:bold;text-transform: uppercase;">Hasta</div>
                        <div class="km-date" ng-model="dateFilter.until"></div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
