<div ng-controller="editContact" dir="rtl">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>



	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()" dir="rtl"></span><div class="registerpage-content">

			<div ng-show="msg" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button><strong>{{msg}}</strong></div>
			

			<div class="alert alert-danger" ng-show="hasError()"><strong>حدث خطأ...</strong><div>{{error}}</div>
			</div><!--<div ng-show="isLoading()">
				<i class="fa fa-spinner fa-spin"></i> Loading...
			</div>--><div ng-show="!isLoading() && status!='hidden'">
				<div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" />
				<p class="color-litegrey">يرجى ملاحظة أن نقاط الاتصال الوطنية ليس متاحة للجمهور في غرفة تبادل المعلومات بشأن الحصول وتقاسم المنافع. ستظهر نقاط الاتصال الوطنية المنشورة فقط إذا كانت مرتبطة بسجلات وطنية أخرى منشورة.</p>

				<div km-document-validation ng-model="validationReport"></div>
				<form name="editForm" class="editForm" style="margin-top:10px">
					<div ng-show="tab=='edit'" km-tab="edit">
						<legend name="formInfo" style="display:none"></legend>
						<section>
							<div class="row">
								<div class="col-sm-12">
									<div class="km-control-group" name="government" required caption="الحكومة">
										<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="يرجى اختيار البلد..."></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<legend name="contactType">نوع نقطة الاتصال</legend>
									<div class="km-control-group" name="notes">
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="organization" name="editionContactType" />المنظمة</label>
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="person" name="editionContactType" />الشخص أو المسؤول</label>
									</div>
								</div>
							</div>
						</section>
						<div>
							<style>
								input.ng-invalid-url,
								input.ng-invalid-email {
									background-color: #f0ad4e;
								}
							</style>

							<div ng-show="document.type=='person'">

								<legend>المعلومات الشخصية</legend>

								<div class="row">

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_prefix" caption="اللقب">
											<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="contact_firstName" ng-required="!form.contact_firstNameX.$valid" caption="الاسم الأول:" required>
											<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'" />
										</div>
									</div>

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_middleName" caption="الاسم الأوسط">
											<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName" />
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="الاسم الأخير" required>
											<input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'" />
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_organization" caption="المنظمة">
											<div document-selector ng-model="document.contactOrganization" type="radio"
		                                                                 question="contactOrganization"
		                                                                 government="document.government"
		                                                                 schema="contact AND type_s:organization"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_department" caption="القسم / الفرع /الوحدة">
											<div km-textbox-ml name="contact_department" ng-model="document.department" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_designation" caption="الوظيفة">
											<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="document.type=='organization'">
								<legend>معلومات المنظمة</legend>
								<div class="row">
									<div class="col-md-7 col-xs-12">
										<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="المنظمة">
											<div class="help-info">الاسم الكامل بلا اختصار</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="document.header.languages"></div>
											<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-5 col-xs-12">
										<div class="km-control-group" name="contact_organizationAcronym" caption="الاسم المختصر للمنظمة" ng-required="!form.organization.$valid && document.type!='person'">
											<div class="help-info">اختصار الاسم الطويل</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="مثال: SCBD" locales="document.header.languages"></div>
											<div ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="مثال: SCBD" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="km-control-group" name="contact_organizationType" caption="نوع المنظمة">
											<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
										</div>
									</div>
									<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
										<div class="km-control-group" name="contact_organizationTypeName" caption="نوع منظمة أخرى">
											<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="مثال: SCBD" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-hide="document.contactOrganization">

								<legend>العنوان</legend>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_address" caption="عنوان الشارع">
											<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="مثال: 413 St-Jacques Ouest, Suite 800" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="km-control-group" name="contact_city" caption="المدينة" >
											<div km-textbox-ml name="contact_city" ng-model="document.city" locales="document.header.languages" placeholder="مثال: Montreal"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_state" caption="الولاية أو المقاطعة">
											<div km-textbox-ml name="contact_state" ng-model="document.state" locales="document.header.languages" placeholder="مثال: Quebec"></div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-md-6">
										<div class="km-control-group" name="contact_postalCode" caption="الرقم أو الرمز البريدي">
											<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="مثال: H2Y 1N9"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="عنوان البلد">
											<div km-select name="contact_country" ng-model="document.country" items="options.addressCountries()"></div>
										</div>
									</div>
								</div>
							</div>

							<legend>معلومات الاتصال</legend>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_phones" caption="أرقام الهاتف">
										<div class="help-info">يرجى استخدم الترتيب التالي: [الرقم الداخلي، إذا كان متوفرًا] [رقم الهاتف] [كود المدينة] [كود الدولة]+</div>
										<div km-inputtext-list name="contact_phones" ng-model="document.phones" placeholder="مثال: 2220 288 514 1+"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_faxes" caption="أرقام الفاكس">
										<div class="help-info">يرجى استخدم الترتيب التالي: [الرقم الداخلي، إذا كان متوفرًا] [رقم الهاتف] [كود المدينة] [كود الدولة]+</div>
										<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="مثال: 6588 288 514 1+"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_emails" caption="البريد الإلكتروني" required>
										<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="مثال: secretariat@cbd.int"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_websites" caption="عنوان موقع الانترنت">
										<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="مثلاً :  http://www.cbd.int"></div>
									</div>
								</div>
							</div>
						</div>

						<section>

							<legend>ملاحظات</legend>
							<div class="row">
								<div class="col-xs-12">
									<div class="km-control-group" name="notes">
										<div class="help-info">حقل &quot;ملاحظات&quot; لتدوين الملاحظات الشخصية أو التعليقات، وسوف يكون مخفيًا عند عرض السجل. هذا الحقل لا ينبغي استخدامه في الحصول على معلومات سرية.</div>
										<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
									</div>
								</div>
							</div>
						</section>

					</div>
				</form>

				<div ng-show="tab=='review'" km-tab="review">

					<div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
						<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
					</div>
					<view-contact ng-model='reviewDocument' locale="review.locale"></view-contact>

				</div>
			</div>
		</div>

	</div>
</div>
