<div dir="rtl">
	<style>input.ng-invalid-url, input.ng-invalid-email { background-color:#f0ad4e; }</style>

	<div ng-show="document.type=='person'">

		<legend>المعلومات الشخصية</legend>

		<div  class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_prefix" caption="Title">
					<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="الاسم الأول:">
					<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'"/>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_middleName" caption="الاسم الأوسط">
					<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="الاسم الأخير">
					 <input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'"/>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_organization"  caption="المنظمة"><!-- <div km-select name="contact_organization" ng-model="document.organization"
						items="options.organization()" required></div> --><field-embed-contact ng-model="document.contactOrganization" locales="document.header.languages"
					name="organization" caption="Link Organization »"
					sub-filter="[{'type':'organization'}]"></field-embed-contact>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_department" caption="القسم / الفرع /الوحدة">
					<div km-textbox-ml name="contact_department" ng-model="document.department" locales="locales"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_designation" caption="Job Title">
					<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="document.type=='organization'">
		<legend>معلومات المنظمة</legend>
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="المنظمة">
					<div class="help-info">الاسم الكامل بلا اختصار</div>
					<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="locales"></div>
					<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization"  locales="locales"></div>
				</div>
			</div>

			<div class="col-md-5 col-xs-12">
					<div class="km-control-group" name="contact_organizationAcronym" caption="Acronym" ng-required="!form.organization.$valid && document.type!='person'">
					<div class="help-info">اختصار الاسم الطويل</div>
					<div  ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="example: SCBD" locales="locales"></div>
					<div  ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="example: SCBD" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="km-control-group" name="contact_organizationType" caption="نوع المنظمة">
					<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
				</div>
			</div>
			<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
				<div class="km-control-group" name="contact_organizationTypeName" caption="نوع منظمة أخرى">
					<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="مثال: SCBD" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="document.contactOrganization">

		<legend>العنوان</legend>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_address" caption="عنوان الشارع">
					<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="example: 413 St-Jacques Ouest, Suite 800" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="km-control-group" name="contact_city" caption="المدينة" required>
					<div km-textbox-ml name="contact_city" ng-model="document.city" locales="locales" placeholder="example: Montreal"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_state" caption="الولاية أو المقاطعة">
					<div km-textbox-ml name="contact_state" ng-model="document.state" locales="locales" placeholder="example: Quebec"></div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="km-control-group" name="contact_postalCode" caption="الرقم أو الرمز البريدي">
					<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="locales" placeholder="مثال: H2Y 1N9"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="Country address">
					<div km-select name="contact_country" ng-model="document.country" items="options.countries()"></div>
				</div>
			</div>
		</div>
	</div>

	<legend>معلومات الاتصال</legend>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_phones" caption="أرقام الهاتف">
				<div class="help-info">Please use the following format: [الرقم الداخلي، إذا كان متوفرًا] [رقم الهاتف] [كود المدينة] [كود البلد]+</div>
				<div km-inputtext-list name="contact_phones" ng-model="document.phones"  placeholder="مثال: 2220 288 514 1+" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_faxes" caption="أرقام الفاكس">
				<div class="help-info">Please use the following format: [الرقم الداخلي، إذا كان متوفرًا] [رقم الهاتف] [كود المدينة] [كود البلد]+</div>
				<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="مثال: 6588 288 514 1+"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="emails" caption="البريد الإلكتروني" required>
				<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="مثال: secretariat@cbd.int" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_websites" caption="عنوان موقع الانترنت">
				<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="مثال: http://www.cbd.int"></div>
			</div>
		</div>
	</div>
</div>
