<div dir="rtl">
	<div class="registerpage-content">

		<div workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" tab="tab"><!-- <intro-form></intro-form> --> <!--only use it if default article intro is not required --><edit-form>
					<form name="editForm" class="editForm" style="margin-top:10px">

							<div ng-show="tab=='edit'" km-tab="edit">
			
								<legend name="formInfo" style="display:none"></legend>
								<section><br><div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
													<div class="indent">
														<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
													</div>
												</div>
											</div>
										</div>
										
									<legend>معلومات عامة</legend>
			
                                    <div class="row">
                                        <div class="col-xs-12" >
                                            <div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
                                                <div class="indent">
                                                    <div km-form-languages required name="languages" ng-model="document.header.languages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="title" caption="Title">
												<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="resourceTypes" caption="نوع المورد">
												<div km-select multiple name="resourceTypes" required ng-model="document.resourceTypes" items="options.resourceTypes()"
												 show-description="true"></div>
											</div>
											<div ng-if="isNationalUser && displayMCCWarning" class="alert alert-info">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4><strong>يرجى مراعاة ما يلي:</strong> If this module contractual clause has been developed by your country, then please submit it under the national record format <a href="/register/NMCC/new" class="color-blue" >&apos;National Model Contractual Clause&apos;</a> so that will be clearly visible as a national record in the search and country profile. </h4><a href="/register/NMCC/new" class="bold">Click here</a> to open the national record submission form.</div>
										</div>
										<div class="col-xs-12" ng-show="isOtherSelected(document.resourceTypes)">
											<div class="km-control-group" required name="resourceTypeName" caption="اسم النوع الآخر للمورد">
												<div km-textbox-ml required name="resourceTypeName" rows="1" ng-model="document.resourceTypeName" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="isResource">
										<div class="col-md-12">
											<div class="km-control-group" required name="fileFormat" caption="نوع الصيغة/الملف">
												<div km-select name="fileFormat" required ng-model="document.fileFormat" items="options.fileFormats()"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-if="isResource">
										<div class="col-md-12">
											<div class="km-control-group" name="formatDetails" caption="تفاصيل الصيغة">
												<div class="help-info">من الممكن استخدام تفاصيل الصيغة لمعرفة معلومات أخرى مرتبطة بصيغة المرفقات بما في ذلك الأبعاد (مثل الحجم أو عدد الصفحات أو المدة) أو البرمجيات أو الأجهزة أو المعدات الأخرى المطلوبة للعرض أو التشغيل (مثال: مستندات تتطلب برنامج Acrobat Reader لعرضها).</div>
												<div km-textbox-ml rows="2" name="formatDetails" ng-model="document.formatDetails" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-md-12" ng-if="isResource">
											<div class="km-control-group" required name="purpose" caption="يرجى تحديد الغرض الرئيسي للمورد">
												<div km-select multiple required name="purpose" ng-model="document.purpose" items="options.purposes()"
												 show-description="true"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="isResource && IsCapacityBuilding()">
										<div class="col-md-12">
											<div class="km-control-group" required="IsCapacityBuilding()" name="targetGroups" caption="المجموعة (المجموعات)/المستفيد (المستفيدين)">
												<div km-term-check name="targetGroups" required="IsCapacityBuilding()" ng-model="document.targetGroups" terms="options.targetGroups()"
												 binding-type="term[]"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="isResource && IsCapacityBuilding()">
										<div class="col-md-12">
											<div class="km-control-group" name="expertiseLevel" caption="مستوى المحتوى أو مستوى المعرفة/الخبرة للجمهور الذي يستهدفه المورد">
												<div km-select name="expertiseLevel" ng-model="document.expertiseLevel" items="options.expertiseLevels()"></div>
											</div>
										</div>
									</div><!--//Authors or Authoring organization is madatory Error message --><label for="author_org" style="width:0px;height:0px;display:inline"><span style="display:none">يرجى إدخال تفاصيل المؤلف (المؤلفين) أو تحديد مؤسسات التأليف</span></label>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="authors" caption="المؤلف (المؤلفون):">
												<div class="help-info">اسم الشخص الذي كتب المطبوعة أو مصدر المعلومات.</div>
												<div km-textbox-ml required ng-model="document.authors" rows="2" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="organizations" caption="منظمة (منظمات) التأليف) ">
												<organization-selector multiple ng-model="document.organizations" organization-only locales="document.header.languages"
												 caption="Add organizations »">
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="publicationYear" caption="سنة النشر">
												<select class="form-control" style="width:10%" required name="publicationYear" ng-model="document.publicationYear"
												 convert-to-number>&gt;<option ng-repeat="option in years" value="{{option.id}}">{{option.name}}</option>
												</select>
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="rights" caption="الحقوق">
												<div class="help-info">المعلومات عن الحقوق الخاصة بالمورد مثل صاحب حقوق النشر وإمكانية إعادة النشر للأغراض التعليمية أو غير الربحية.</div>
												<div km-textbox-ml name="rights" ng-model="document.rights" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="isResource">
										<div class="col-xs-12">
											<div class="km-control-group" name="source" caption="المصدر">
												<div class="help-info">إشارة للمصدر الذي تم اقتباس المصدر الحالي منه (على سبيل المثال مقال من دورية). بالنسبة للوثائق الأصلية التي قد ترغب في تحديدها &quot;كوثائق أصلية&quot;.</div>
												<div km-textbox-ml name="source" ng-model="document.source" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="!isResource">
										<div class="col-md-12">
											<div class="km-control-group" name="formatDetails" caption="تفاصيل الصيغة">
												<div class="help-info">من الممكن استخدام تفاصيل الصيغة لمعرفة معلومات أخرى مرتبطة بصيغة المرفقات بما في ذلك الأبعاد (مثل الحجم أو عدد الصفحات أو المدة) أو البرمجيات أو الأجهزة أو المعدات الأخرى المطلوبة للعرض أو التشغيل (مثال: مستندات تتطلب برنامج Acrobat Reader لعرضها).</div>
												<div km-textbox-ml rows="2" name="formatDetails" ng-model="document.formatDetails" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</section>
			
								<section>
									<legend>الملفات أو المستندات أو الموارد المرفقة</legend>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="resourceLinks" caption="رابط للمصدر (المصادر)">
												<div class="help-block">يرجى دائما إرفاق المستند (المستندات) ذات الصلة التي سيتم تخزينها في قاعدة البيانات حتى يتمكن المستخدمون من تنزيلها. إذا كانت المصادر متاحة على الإنترنت، يرجى أيضًا وضع رابط لها.</div>
												<div km-link name="resourceLinks" required ng-model="document.resourceLinks" allow-link="true" allow-file="true"
												 extensions="options.documentLinksExt" identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="cover" caption="صورة/صور الغلاف">
												<div class="help-block">يمكن رفع الصور بصيغتي JPEG وPNG فقط.</div>
												<div km-link name="cover" ng-model="document.covers" allow-link="false" allow-file="true" mimeTypes="image/jpeg;image/png"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</section>
								<section>
									<legend>معلومات عن محتوى المورد</legend>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="summary" caption="الموجز أو الملخص (بجد أقصى 300 كلمة)">
												<div km-textbox-ml ng-model="document.summary" rows="4" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="regions" caption="البلد (البلدان) أو المجموعة (المجموعات) الإقليمية أو الاقتصادية المرتبطة بالمورد">
												<div km-select style="display: inline-block" name="regions" ng-model="document.regions" items="options.regions()"
												 multiple placeholder="حدد البلد/البلاد والمنطقة/المناطق أو الاثنين معًا..."></div>
											</div>
										</div>
									</div>
									<div class="row" ng-if="isResource">
										<div class="col-md-12">
											<div class="km-control-group" required name="aichiTargets" caption="أهداف أيتشي للتنوع البيولوجي 2020">
												<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()"
												 binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</section>
								<section>
			
									<legend ng-if="IsCapacityBuilding() || IsLiterature() || isMcc">الكلمات المفتاحية لتسهيل عمليات البحث على الإنترنت</legend>
			
									<div class="row" ng-if="isMcc">
										<div class="col-xs-12">
											<div class="km-control-group" name="mccKeywords" required caption="يرجى تحديد الكلمات المفتاحية الملائمة لوصف محتوى مدونة السلوك والمبادئ التوجيهية وأفضل الممارسات والمعايير الجاري إرسالها">
												<div km-term-check name="mccKeywords" required ng-model="document.mccKeywords" terms="options.mccKeywords()"
												 binding-type="term[]"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="(isResource && IsLiterature() && IsTarget16()) || !isResource">
										<div class="col-xs-12">
											<div class="km-control-group" required name="absSubjects" caption="مجال (مجالات) الموضوع">
												<div km-term-check name="absSubjects" required ng-model="document.absSubjects" terms="options.absSubjects()"
												 binding-type="term[]"></div>
											</div>
										</div>
									</div>
			
									<div class="row" ng-if="IsCapacityBuilding() && IsTarget16()">
										<div class="col-md-12">
											<div class="km-control-group" required name="absKeyAreas" caption="المجالات الرئيسية والتدابير الاستراتيجية لبناء القدرات وتطويرها">
												<div class="help-info">المجالات الرئيسية محددة في الإطار الاستراتيجي لبناء القدرات وتطويرها من أجل دعم التنفيذ الفعال لبروتوكول ناغويا (القرار NP-1/8، الملحق 1).</div>
												<div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()"
												 binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</section>
			
			
			
								<section><a translation-url name="#AdditionalInformation"></a><legend>معلومات إضافية</legend>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="address" caption="أى معلومات أخرى ذات صلة">
												<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
												<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="relevantDocuments" caption="أي وثائق أخرى ذات صلة">
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
			
								</section>
								<section>
									<legend>ملاحظات</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="notes">
												<div class="help-block">The &ldquo;Notes&rdquo; field is for your personal notes or comments and will be hidden when viewing the record. هذا الحقل لا ينبغي استخدامه في الحصول على معلومات سرية.</div>
												<textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
											</div>
										</div>
									</div>
								</section>
			
			
			
							</div>
			
			
			
			
						</form>
			</edit-form>
			<review-form>
					<div view-resource ng-model="reviewDocument" locale="review.locale" allow-drafts="true" heading="{{heading}}"
					short-heading="{{shortHeading}}"></div>
			</review-form><!-- <publish-form></publish-form> --> <!-- use when you wan to display more than publish buttons --></div>

	</div>
</div>
