<div class="md-whiteframe-z2" ng-controller="editCapacityBuildingInitiative" dir="rtl">

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

    <div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()" dir="rtl"></span><div class="registerpage-content">

            <div class="alert alert-success alert-dismissable" ng-show="msg">
                <button aria-hidden="true" class="close" data-dismiss="alert" ng-click="msg=''" type="button">&times;</button><strong>{{msg}}</strong></div>

            <div class="alert alert-danger" ng-show="hasError()"><strong>حدث خطأ...</strong><div>{{error}}</div>
            </div>

            <div ng-show="isLoading()"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

            <div ng-show="!isLoading() && status!='hidden'">

                <div document="getCleanDocument()" hide-timer="false" languages="document.header.languages" workflow-std-buttons/>

                <div km-document-validation ng-model="validationReport"></div><!-- edit form --><form name="editForm" style="margin-top:10px"><!-- <div km-tab="general"> --><div ng-show="tab=='edit'" km-tab="edit">
						<legend>معلومات عامة</legend>

						<div class="row">

							<div class="col-md-12">
								<div class="km-control-group" required name="title" caption="1. Title">
									<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="projectNumber" caption="2. رقم أو معرف المشروع">
                                    <div class="help-info">يرجى ذكر رقم أي مشروع أو معرف أو رقم مرجعي، حسب التوفر.</div>
									<div km-textbox-ml name="projectNumber" ng-model="document.projectNumber" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="geographicScope" caption="3. النطاق الجغرافي">
									<div km-select name="geographicScope" required ng-model="document.geographicScope.scope"
									 placeholder="يرجى اختيار خيار واحد" items="options.geographicScope()" ng-change="clearGeographicSelection()"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="document.geographicScope.scope && (isGlobalOrRegional() || isNational())">
							
								<div class="col-md-12">
								<div class="km-control-group well well-sm" name="regionsOrCountries"
								required caption="Geographical or political/economic group(s) or Country(ies)" style="padding:10px;">
									<div class="row">
										<div class="col-md-5" ng-show="!isNational()"><!-- document.geographicScope.regionsOrCountries --><div class="km-control-group"  name="regions" 
											caption="Geographical or political/economic group(s)">
												<div km-select multiple required name="geographicalRegions" 
												ng-model="document.geographicScope.regions" placeholder="يرجى اختيار خيار واحد" 
												items="options.regions()"></div>
											</div>
										</div>
										<div class="col-md-2" ng-hide="!isGlobalOrRegional()">And / Or</div>
										<div class="col-md-5">
											<div class="km-control-group"  name="countries" caption="البلد (البلدان)">
												<div km-select multiple required name="geographicalCountries" ng-model="document.geographicScope.countries" placeholder="يرجى اختيار خيار واحد" items="options.countries()"></div>
											</div>
										</div>
									</div>
								</div></div>
						</div>

						<div class="row" ng-show="isSubnational()">
							<div class="col-md-12">
								<div class="km-control-group" required="isSubnational()" name="jurisdiction" caption="الولاية القضائية">
									<div km-textbox-ml required="isSubnational()" name="jurisdiction" ng-model="document.geographicScope.jurisdiction" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="isCommunity()">
							<div class="col-md-12">
								<div class="km-control-group" required="isCommunity()" name="community" caption="المجتمع">
									<div km-textbox-ml required="isCommunity()" name="community" ng-model="document.geographicScope.community" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="capacityBuildingType" caption="4. نوع مبادرة بناء القدرات">
									<label for="capacityBuildingTypeYes" style="width:0px;height:0px;display:inline"><span style="display:none">4. Atleast one question should be answered yes</span></label>
									<div style="padding-left:20px" class="well">
										<div class="km-control-group"  bold="true" required name="isProjectProgramme" caption="a. Is this a dedicated ABS capacity-building project/programme? ">
											<div class="km-yes-no" required name="isProjectProgramme" ng-model="document.capacityBuildingType.isProjectProgramme"></div>
										</div>
										<div class="km-control-group"  bold="true" required name="isBroaderProjectPart" caption="b. Is this an ABS activity or component which is part of a broader capacity-building project or programme?">
											<div class="km-yes-no" required name="isBroaderProjectPart" ng-model="document.capacityBuildingType.isBroaderProjectPart"></div>
										</div>
										<div class="km-control-group" name="broaderProjects" caption="Please identify the broader project" ng-show="document.capacityBuildingType.isBroaderProjectPart">
												
											<div document-selector ng-model="document.capacityBuildingType.broaderProjects"
																			question="capacityBuildingInitiative"
																			schema="capacityBuildingInitiative" filter="true" skip-government="true"></div>
										</div>
										<div class="km-control-group"  bold="true" required name="isStandaloneProject" caption="c. Is this a stand-alone ABS activity that is not part of a broader capacity-building project or programme? ">
											<div class="km-yes-no" required name="isStandaloneProject" ng-model="document.capacityBuildingType.isStandaloneProject"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="status" caption="5. Status of the document">
									<div km-select name="status" required ng-model="document.status" id="documentStatus"
									placeholder="يرجى اختيار خيار واحد" items="options.status()"  show-description="true"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="timeframe" required caption="6. الجدول الزمنى">
									<div class=" well well-sm">
										<div class="row">
											<div class="col-md-3">
												<div class="km-control-group" name="startDate" caption="تاريخ البدء">
													<div km-date name="startDate" ng-model="document.startDate" ng-change="clearDuration()"></div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="km-control-group" name="endDate" caption="تاريخ الانتهاء">
													<div km-date name="endDate" ng-model="document.endDate" ng-change="clearDuration()"></div>
												</div>
											</div>
											<div class="col-md-1 text-center" ng-show="!document.status || isProposedOrApproved()">
												<div class="km-control-group bold" name="enddate" style="margin-top:30px;" > أو </div>
											</div>
											<div class="col-md-5">
												<div class="km-control-group" name="duration" caption="المدة" ng-show="!document.status || isProposedOrApproved()">
													<label for="durationPeriod" style="width:0px;height:0px;display:inline"><span style="display:none">6. Please enter duration in number for eg. 24</span></label>
													<label for="durationText" style="width:0px;height:0px;display:inline"><span style="display:none">6. Please identify whether the duration is expressed in years, months or days</span></label>
													<input type="number" name="durationPeriod" ng-model="document.durationPeriod"
													minlength="1" placeholder="eg. 24" ng-change="clearDates()" class="form-control"
													style="display:inline-block;width:100px"/>
													<select name="durationText" ng-model="document.durationText"  class="form-control"
													style="display:inline-block;width:100px" placeholder="eg. Months">
														<option value=""></option>	
														<option value="days">الأيام</option>
														<option value="months">الأشهر</option>
														<option value="years">Years</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="organizations" caption="7. الوكالة (الوكالات) أو المنظمة (المنظمات) التى ترعى المبادرة أو تنفذها أو الاثنين معًا.">
                                <div class="help-info">في بعض الحالات، تنهض الوكالة بمسؤولية رعاية المبادرة وتنفيذها. في هذه الحالة، يرجى تحديد كلا المربعين:</div>
								<div class="checkbox"><label><input type="checkbox" ng-model="document.isImplementedByAgencies">الوكالة (الوكالات) أو المنظمة (المنظمات) الراعية</label></div>

                                <div class="row" >
                                    <div class="col-md-12">
                                        <div class="km-control-group" ng-show="document.isImplementedByAgencies" name="implementingAgencies" caption="يرجى تحديد الوكالة (الوكالات) أو المنظمة (المنظمات) الراعية">
                                            <div class="help-info">يشير مصطلح الوكالة الراعية Implementing Agency إلى المنظمة أو الكيان القانوني المسؤول عن صياغة المبادرة والإشرا ف على تنفيذها، والمراقبة والتقييم، بما في ذلك إتاحة التمويل، وضمان تطبيق المعايير الاستئمانية والتحقق من الجودة، وإعداد تقارير إنجاز المشروع. وهذه الوكالة الراعية في النهاية هي الكيان المسؤول عن اكتمال المبادرة ومسؤولة أمام المانحين.</div>


                                            <field-embed-contact multiple ng-model="document.implementingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                        </div>
                                    </div>
                                </div>

								<div class="checkbox"><label><input type="checkbox" ng-model="document.isExecutededByAgencies">الوكالة (الوكالات) أو المنظمة (المنظمات) المنفذة</label></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="km-control-group" ng-show="document.isExecutededByAgencies" name="executingAgencies" caption="يرجى تحديد الوكالة (الوكالات) او المنظمة (المنظمات) المنفذة">
                                            <div class="help-info">يشير مصطلح الوكالة المنفذة Executing Agency إلى المنظمة أو المؤسسة التي تدير المبادرة مباشرة، بما في ذلك التخطيط اليومي، وتخطيط وتنسيق الأنشطة والمراقبة والتقارير حول الإنجاز الحاصل، وتدبير وإدارة الموارد (الموظفين، التمويل، المعدات، غير ذلك) وتنفيذ وظائف إدارة المشاريع الأخرى.</div>

                                            <field-embed-contact multiple ng-model="document.executingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                        </div>
                                    </div>
                                </div>

								<div class="checkbox"><label><input type="checkbox" ng-model="document.isCollaboratededByPartners">شريك (شركاء) التعاون</label></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="km-control-group" ng-show="document.isCollaboratededByPartners" name="collaboratingPartners" caption="يرجى تحديد الشريك (الشركاء) المتعاونين">
                                            <div class="help-info">يشير مصطلح الشركاء المتعاونين Collaborating Partners إلى الكيانات أو المؤسسات التي تقدم مساهمات كبيرة، سواءً كانت مالية أو غيرها، للمبادرة أو تدعم رعاية المبادرة أو تتعاون بنشاط في تنفيذها.</div>
                                             
                                            <field-embed-contact multiple ng-model="document.collaboratingPartners" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                        </div>
                                    </div>
                                </div>
                                </div>
							</div>
						</div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="km-control-group" name="contacts" caption="8. مسؤول (مسؤولو) الاتصال">

                                     <div document-selector ng-model="document.contacts"
                                                                        question="contacts"
                                                                        schema="((schema_s:contact AND type_s:person))"
																		filter="true" skip-government="true"></div><!-- (focalpoint authority) OR  --></div>
                            </div>
                        </div>



						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="projectDocument" caption="9. وثيقة المشروع أو الوثيقة التي تصف المبادرة">
									<div class="help-info">يرجى دائما إرفاق المستند (المستندات) ذات الصلة التي سيتم تخزينها في قاعدة البيانات حتى يتمكن المستخدمون من تنزيلها. إذا كانت الوثائق متاحة على الإنترنت، يرجى أيضًا وضع رابط لها.</div>
									<div km-link name="projectDocument" required ng-model="document.projectDocument" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<legend>معلومات تفصيلية</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="description" caption="10. وصف مختصر للمبادرة، بما في ذلك الأهداف والغايات">
									<div km-textbox-ml required ng-model="document.description" rows="3" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="audience" caption="11. المجموعة (المجموعات)/المستفيد (المستفيدين)">
									<div km-term-check name="audience" required ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="categories" caption="12. فئة (فئات) أنشطة بناء القدرات">
									<div km-term-check show-description="true" name="categories" required ng-model="document.categories" terms="options.categories()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<legend>معلومات عن التمويل</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="fundingSourceTypes" caption="13. نوع (أنواع) مصدر التمويل">
                                    <div km-term-check show-description="true" name="fundingSourceTypes" required ng-model="document.fundingSourceTypes" terms="options.fundingSources()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="isSelfFunding()">
							<div class="col-md-12">

								<div class="km-control-group" required="isSelfFunding()" name="selfFunding" caption="يُرجى إضافة المزيد من المعلومات عن التمويل">
									<div km-textbox-ml required="isSelfFunding()" rows="2" name="selfFunding" ng-model="document.selfFundingInfo" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="km-control-group" name="corefundingsources" caption="14. مصدر (مصادر) التمويل الأساسية"><!-- <div document-selector ng-model="document.coreFundingSources"
                                                                        question="coreFundingSources"
                                                                        schema="contact"
                                                                        government="document.government"
                                                                        filter="true"
                                                                        ></div> --><field-embed-contact multiple ng-model="document.coreFundingSources" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="km-control-group" name="cofinancingsources" caption="15. مصدر (مصادر) التمويل المشترك"><!-- <div document-selector ng-model="document.coFinancingSources"
                                                                        question="coFinancingSources"
                                                                        schema="contact"
                                                                        government="document.government"
                                                                        filter="true"
                                                                        ></div> --><field-embed-contact multiple ng-model="document.coFinancingSources" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                </div>
                            </div>
                        </div>

						<div class="row">
							<div class="col-md-3">
								<div class="km-control-group" name="totalBudget" caption="16. إجمالي الميزانية (المبلغ بالدولار الأمريكي)">
                                     <div class="help-info">وقد يشمل ذلك المساهمات العينية المعبر عنها نقدًا.</div><!-- <div km-textbox-ml name="totalBudget" ng-model="document.totalBudget" rows="1" locales="document.header.languages"></div> --><div class="input-group"><span class="input-group-addon">دولار أمريكي</span><input type="text" class="form-control" style="width:200px" required name="totalBudget" ng-model="document.totalBudget" />
									</div>
								</div>
							</div>
						</div>


						<legend>نتائج بناء القدرات</legend>
                        <div class="help-info">يمكن إضافة هذه المعلمات بعد وجود نتائج (مخرجات أو نتائج أو آثار) أو أفضل الممارسات والدروس المستفادة من المبادرة المستمرة أو المكتملة.</div>
						<div class="well">
							<div class="km-control-group" name="totalBudget" caption="17. النتائج">
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="resultsAchievements" caption="Results: الإنجازات الرئيسية"><span class="help-info">يرجى إضافة ملخص قصير للإنجازات الرئيسية للمبادرة، إن وجدت، بما في ذلك تلك المرتبطة بتعزيز المساواة بين الجنسين في تحقيق أهداف الاتفاقية والبروتوكولات المنبثقة عنها. (بحد أقصى 200 كلمة)</span><div km-textbox-ml name="resultsAchievements" ng-model="document.resultsAchievements" rows="4" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="resultsOutputs" caption="النتائج: المخرجات الرئيسية"><span class="help-info">يرجى إرفاق/تحميل نسخة من، أو وضع رابط، للمنتجات ذات الصلة (الأدوات والمواد) التي أثمرتها المبادرة و/أو التقارير.</span><div km-link name="resultsOutputs" ng-model="document.resultsOutputs" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
										</div>
									</div>
								</div>								
							</div>
						</div><!-- <div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="resultsReference" caption="Clearing-house record containing relevant information">
									<div km-reference multiple name="resultsReference" ng-model="document.resultsReference" loader="loadRecords(identifier, 'organization')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div> --><div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="bestPractices" caption="18. تحديد أفضل الممارسات والدروس المستفادة."><span class="help-info">يرجى إضافة ملخص قصير لأفضل الممارسات والدروس المستفادة (بحد أقصى 500 كلمة)</span><div km-textbox-ml name="bestPractices" ng-model="document.bestPractices" rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

                        <legend>معلومات عن محاور وموضوعات المبادرة</legend>

                        <div class="row" >
							<div class="col-md-12">
								<div class="km-control-group" required name="aichiTargets" caption="19. أهداف أيتشي للتنوع البيولوجي 2020">
									<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
                               <div class="km-control-group" name="absKeyAreas" required caption="20. المجالات الرئيسية والتدابير الاستراتيجية لبناء القدرات وتطويرها">
									 <div class="help-info">المجالات الرئيسية محددة في الإطار الاستراتيجي لبناء وتطوير القدرات من أجل دعم التنفيذ الفعال لبروتوكول ناغويا (القرار NP-1/8).</div>
									 <div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
								</div>
							</div>
						</div><a translation-url  name="#AdditionalInformation"></a><legend>21. معلومات إضافية</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="address" caption=" أى معلومات أخرى ذات صلة" >
									<div class="help-info">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
									<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="relevantDocuments" caption="أي وثائق أخرى ذات صلة">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="notes">
									<legend>22. Notes</legend><span class="help-info">الحقل &quot;ملاحظات&quot; للاستخدام الشخصي ويظهر فقط أثناء تحرير السجل.</span><div km-notes name="notes" ng-model="document.notes"></div>
								</div>
							</div>
						</div>
					</div>


				</form>

            	<div ng-show="tab=='review'" km-tab="review" id="schemaView">
                    <div view-capacity-building-initiative ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
                </div>

                <hr>

            </div>
        </div>
    </div>
</div>

</div>
</div>
