<div ng-controller="editRiskAssessment">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false"
			tab="tab" validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
						<form class="editForm" name="editForm" style="margin-top:10px">
								<div>
									
									<section>
										<div class="well no-shadow bg-white">
										<legend>Informations g&eacute;n&eacute;rales</legend>
											<div class="row">
												<div class="col-xs-12" >
													<div class="km-control-group" name="languages" required caption="Veuillez s&eacute;lectionner la ou les langues dans lesquelles vous souhaitez soumettre ce fichier :">
														<div class="indent">
															<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="row" ng-if="isNational">
												<div class="col-sm-12">
													<div class="km-control-group" name="government" required caption="Pays soumettant la d&eacute;cision ou la communication">
														<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries"
															filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Veuillez choisir un pays..."></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" required name="title" caption="Titre de l&apos;&eacute;valuation des risques">
														<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="date" caption="Date de l&apos;&eacute;valuation des risques">
														<div km-date placeholder="AAAA-MM-JJ" name="date" required ng-model="document.date"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="authorities" caption="Competent National Authority(ies) responsible for the risk assessment">											
														<div document-selector ng-model="document.authorities" question="authorities"
															government="document.government" schema="(authority)"></div>			
													</div>
												</div>
											</div>									
		
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="contacts" caption="Contact details of the main responsible risk assessor">											
														<div document-selector ng-model="document.contacts" question="contacts"
															government="document.government" schema="(contact)"></div>			
													</div>
												</div>
											</div>									
										</div>
									</section>
		
									<section >
										<div class="well no-shadow bg-white">
											<legend>D&eacute;tails de l&apos;&eacute;valuation des risques</legend>
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="modifiedOrganisms" required caption="Organisme vivant modifi&eacute;">											
														<div document-selector ng-model="document.modifiedOrganisms" question="modifiedOrganisms"
															government="document.government" schema="(modifiedOrganism)" skip-government="true"></div>			
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="scopes" required caption="&Eacute;tendue de l&apos;&eacute;valuation des risques">
															<div km-term-check required ng-model="document.scopes" locales="document.header.languages"
															terms="options.riskAssessmentScope()"  binding-type="term[]"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="documents" required caption="Risk assessment report / summary">
														<div class="help-block">Il est pr&eacute;f&eacute;rable d&apos;annexer le document. Otherwise, provide the location of the document (i.e. web address including the URL of the website (e.g. http://bch.biodiv.org) and the name of the website (e.g. &quot;Biosafety Clearing-House&quot;). Utiliser uniquement la case d&apos;entr&eacute;e du texte pour expliquer en d&eacute;tail comment obtenir un exemplaire du document s&apos;il ne peut &ecirc;tre envoy&eacute; en pi&egrave;ce jointe ou n&apos;est pas disponible en ligne.</div>
														<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
		
									<section>
										<div class="well no-shadow bg-white">
											<legend>M&eacute;thode et points &agrave; examiner</legend>
											
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffects" caption="Potential adverse effects identified in the risk assessment">
														<div km-rich-textbox name="adverseEffects"  ng-model="document.adverseEffects" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsLikelihood" caption="Probabilit&eacute; de r&eacute;alisation des effets d&eacute;favorables possibles">
														<div km-rich-textbox  name="adverseEffectsLikelihood"  ng-model="document.adverseEffectsLikelihood" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsConsequence" caption="Cons&eacute;quences possibles">
														<div km-rich-textbox name="adverseEffectsConsequence"  ng-model="document.adverseEffectsConsequence" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsOverallRisk" caption="Estimation of the overall risk">
														<div km-rich-textbox name="adverseEffectsOverallRisk"  ng-model="document.adverseEffectsOverallRisk" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsRecommendation" caption="Recommandations sur le caract&egrave;re acceptable des risques ou la capacit&eacute; de g&eacute;rer les risques et les strat&eacute;gies de gestion">
														<div km-rich-textbox name="adverseEffectsRecommendation"  ng-model="document.adverseEffectsRecommendation" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="riskManagementStrategies" caption="N&eacute;cessit&eacute; d&apos;obtenir des renseignements suppl&eacute;mentaires sur des pr&eacute;occupations particuli&egrave;res">
														<div km-rich-textbox name="riskManagementStrategies"  ng-model="document.riskManagementStrategies" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="receivingEnvironment" caption="Milieux r&eacute;cepteurs envisag&eacute;s">
														<div class="help-block">Information sur l&apos;emplacement et les caract&eacute;ristiques g&eacute;ographiques, climatiques et &eacute;cologiques du milieu r&eacute;cepteur potentiel probable, y compris information pertinente sur la diversit&eacute; biologique et les centres d&apos;origine qui s&apos;y trouvent, tel qu&apos;&eacute;nonc&eacute; dans l&apos;Annexe III, paragraphe 9 h) du Protocole.</div>
														<div km-rich-textbox name="receivingEnvironment"  ng-model="document.receivingEnvironment" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="detectionMethod" caption="M&eacute;thodes propos&eacute;es pour la d&eacute;tection et l&apos;identification des OVM">
														<div km-rich-textbox name="detectionMethod"  ng-model="document.detectionMethod" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
		
									<section>
										<div class="well no-shadow bg-white">
											<legend>&Eacute;ch&eacute;ance pour la confirmation ou la mise &agrave; jour des informations</legend>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="expires"  caption="Should this information be confirmed or updated after two years from the date of submission?">			
														<div class="help-block">Si la r&eacute;ponse est «&nbsp;oui&nbsp;», vous serez invit&eacute; &agrave; confirmer ou &agrave; mettre &agrave; jour le dossier dans les trois mois, deux ans apr&egrave;s sa soumission. Pass&eacute; ce d&eacute;lai, si aucune confirmation n&apos;a &eacute;t&eacute; re&ccedil;ue, le dossier portera la mention &quot;non confirm&eacute;&quot;.</div>									
														<div km-yes-no  ng-model="document.expires" locales="document.header.languages"></div>
													</div>	
												</div>
											</div>
										</div>
									</section>
			
									<section>
										<div class="well no-shadow bg-white">
											<legend>Information suppl&eacute;mentaire</legend>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="address" caption="Any other relevant information">
														<div class="help-block">Veuillez utiliser ce champ pour tout autre renseignement pertinent n&apos;ayant pas &eacute;t&eacute; abord&eacute; ailleurs dans le dossier.</div>
														<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="relevantDocuments" caption="Autres documents pertinents">
														<div class="help-block">Please use this field to provide any other relevant website addresses and/or one or more relevant documents that will be stored in the database for users to download.</div>
														<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section>
										<legend>Notes</legend>
		
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="notes">
													<div class="help-block">Le champ «Notes» est destin&eacute; &agrave; vos notes ou commentaires personnels et sera masqu&eacute; lors de la visualisation du fichier. This field is not meant to be used for confidential information.</div>
													<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
												</div>
											</div>
										</div>
									</section>
		
								</div>
							</form>	
				</edit-form>
				<review-form>
					<div view-risk-assessment ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>			
		</div>
	</div>
</div>
</div>
