<div ng-controller="editRiskAssessment">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()" languages="document.header.languages" hide-timer="false"
			tab="tab" validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
						<form class="editForm" name="editForm" style="margin-top:10px">
								<div>
									
									<section>
										<div class="well no-shadow bg-white">
										<legend>Informations générales</legend>
											<div class="row">
												<div class="col-xs-12" >
													<div class="km-control-group" name="languages" required caption="Veuillez sélectionner la ou les langues dans lesquelles vous souhaitez soumettre ce fichier :">
														<div class="indent">
															<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="row" ng-if="isNational">
												<div class="col-sm-12">
													<div class="km-control-group" name="government" required caption="Pays soumettant la décision ou la communication">
														<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries"
															filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Veuillez choisir un pays..."></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" required name="title" caption="Titre de l'évaluation des risques">
														<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="date" caption="Date de l'évaluation des risques">
														<div km-date placeholder="AAAA-MM-JJ" name="date" required ng-model="document.date"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="authorities" caption="Competent National Authority(ies) responsible for the risk assessment">											
														<div document-selector ng-model="document.authorities" question="authorities"
															government="document.government" schema="(authority)"></div>			
													</div>
												</div>
											</div>									
		
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="contacts" caption="Contact details of the main responsible risk assessor">											
														<div document-selector ng-model="document.contacts" question="contacts"
															government="document.government" schema="(contact)"></div>			
													</div>
												</div>
											</div>									
										</div>
									</section>
		
									<section >
										<div class="well no-shadow bg-white">
											<legend>Détails de l'évaluation des risques</legend>
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="modifiedOrganisms" required caption="Organisme vivant modifié">											
														<div document-selector ng-model="document.modifiedOrganisms" question="modifiedOrganisms"
															government="document.government" schema="(modifiedOrganism)" skip-government="true"></div>			
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="scopes" required caption="Étendue de l'évaluation des risques">
															<div km-term-check required ng-model="document.scopes" locales="document.header.languages"
															terms="options.riskAssessmentScope()"  binding-type="term[]"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="documents" required caption="Risk assessment report / summary">
														<div class="help-block">Il est préférable d'annexer le document. Sinon, préciser l'emplacement du document (p. ex., l'adresse Web, y compris l'adresse URL du site Web (p. ex. http://bch.biodiv.org) et le nom du site Web (p. ex., « Centre d'échange pour la prévention des risques biotechnologiques »). Utiliser uniquement la case d'entrée du texte pour expliquer en détail comment obtenir un exemplaire du document s'il ne peut être envoyé en pièce jointe ou n'est pas disponible en ligne.</div>
														<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
		
									<section>
										<div class="well no-shadow bg-white">
											<legend>Méthode et points à examiner</legend>
											
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffects" caption="Potential adverse effects identified in the risk assessment">
														<div km-rich-textbox name="adverseEffects"  ng-model="document.adverseEffects" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsLikelihood" caption="Probabilité de réalisation des effets défavorables possibles">
														<div km-rich-textbox  name="adverseEffectsLikelihood"  ng-model="document.adverseEffectsLikelihood" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsConsequence" caption="Conséquences possibles">
														<div km-rich-textbox name="adverseEffectsConsequence"  ng-model="document.adverseEffectsConsequence" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsOverallRisk" caption="Estimation of the overall risk">
														<div km-rich-textbox name="adverseEffectsOverallRisk"  ng-model="document.adverseEffectsOverallRisk" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsRecommendation" caption="Recommandations sur le caractère acceptable des risques ou la capacité de gérer les risques et les stratégies de gestion">
														<div km-rich-textbox name="adverseEffectsRecommendation"  ng-model="document.adverseEffectsRecommendation" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="riskManagementStrategies" caption="Nécessité d'obtenir des renseignements supplémentaires sur des préoccupations particulières">
														<div km-rich-textbox name="riskManagementStrategies"  ng-model="document.riskManagementStrategies" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="receivingEnvironment" caption="Milieux récepteurs envisagés">
														<div class="help-block">Information sur l'emplacement et les caractéristiques géographiques, climatiques et écologiques du milieu récepteur potentiel probable, y compris information pertinente sur la diversité biologique et les centres d'origine qui s'y trouvent, tel qu'énoncé dans l'Annexe III, paragraphe 9 h) du Protocole.</div>
														<div km-rich-textbox name="receivingEnvironment"  ng-model="document.receivingEnvironment" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="detectionMethod" caption="Méthodes proposées pour la détection et l'identification des OVM">
														<div km-rich-textbox name="detectionMethod"  ng-model="document.detectionMethod" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
		
									<section>
										<div class="well no-shadow bg-white">
											<legend>Timeframe for confirmation or updating of information</legend>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="expires"  caption="Should this information be confirmed or updated after two years from the date of submission?">			
														<div class="help-block">If the answer to this question is “Yes”, after two years from the date of submission you will be asked to confirm or update the record within 3 months. Passé ce délai, si aucune confirmation n'a été reçue, le dossier portera la mention "non confirmé".</div>									
														<div km-yes-no  ng-model="document.expires" locales="document.header.languages"></div>
													</div>	
												</div>
											</div>
										</div>
									</section>
			
									<section>
										<div class="well no-shadow bg-white">
											<legend>Information supplémentaire</legend>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="address" caption="Any other relevant information">
														<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
														<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="relevantDocuments" caption="Autres documents pertinents">
														<div class="help-block">Please use this field to provide any other relevant website addresses and/or one or more relevant documents that will be stored in the database for users to download.</div>
														<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section>
										<legend>Notes</legend>
		
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="notes">
													<div class="help-block">Le champ «Notes» est destiné à vos notes ou commentaires personnels et sera masqué lors de la visualisation du fichier. This field is not meant to be used for confidential information.</div>
													<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
												</div>
											</div>
										</div>
									</section>
		
								</div>
							</form>	
				</edit-form>
				<review-form>
					<div view-risk-assessment ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>			
		</div>
	</div>
</div>
</div>
