<div ng-controller="editBiosafetyDecision">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">
	
				<workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
				 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
				 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
				 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
				 data-container="{{container}}" is-dialog="{{isDialog}}">
					<edit-form>
						<form class="editForm" name="editForm" style="margin-top:10px">
							<div ng-show="tab=='edit'" km-tab="edit">
								
								<section>
									<div class="well no-shadow bg-white">
									<legend>Informations générales</legend>
									<div class="row">
										<div class="col-xs-12" >
											<div class="km-control-group" name="languages" required caption="Veuillez sélectionner la ou les langues dans lesquelles vous souhaitez soumettre ce fichier :">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="government" required caption="Pays soumettant la décision ou la communication">
													<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries"
														filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Veuillez choisir un pays..."></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="authorities" caption="Autorité(s) nationale(s) compétente(s) responsable(s) de la décision ou de la communication">											
													<div document-selector ng-model="document.authorities" question="authorities"
														government="document.government" schema="(authority)"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" required name="title" caption="Titre / numéro de référence de la décision ou de la communication">
													<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="date" caption="Date de la décision">
													<div km-date placeholder="AAAA-MM-JJ" name="date" required ng-model="document.date"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="takenPriorEntryIntoForce" required caption="La décision est-elle prise avant l'entrée en vigueur du Protocole?">
													<div km-yes-no required ng-model="document.takenPriorEntryIntoForce" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="jurisdictions" caption="Juridiction(s)">
													<div class="help-info">Précisez le territoire où la loi, le règlement, la directive ou l'accord s'applique s'il diffère du nom du pays. Exemple : Pays : Danemark, compétence : « À l'exclusion des territoires des Îles Féroé et du Groenland. »</div>
													<div km-select multiple name="jurisdictions" ng-model="document.jurisdictions" items="options.countries()"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-if="document.jurisdictions && document.jurisdictions.length>0">
											<div class="col-xs-12">
												<div class="km-control-group" name="jurisdictionsDetails" caption="Jurisdiction(s) details">
													<div km-textbox-ml ng-model="document.jurisdictionsDetails" rows="1" locales="document.header.languages" placeholder="jurisdiction details"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="isAmendment" required caption="S'agit-il d'un amendement à une décision / communication antérieure?">
													<div km-yes-no required ng-model="document.isAmendment" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row" ng-if="document.isAmendment">
											<div class="col-xs-12">
												<div class="km-control-group" name="amendedDecision" caption="Indicate the BCH decision amended" required>											
													<div document-selector ng-model="document.amendedDecisions" question="amendedDecision"
														government="document.government" schema="(biosafetyDecision)"></div>			
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" required name="amendmentReason" caption="Précisez les raisons de l'amendement">
													<div km-textbox-ml name="amendmentReason" required ng-model="document.amendmentReason" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
	
								<section>
									<div class="well no-shadow bg-white">
									<label for="decisionTypes" style="width:0px;height:0px;display:inline"><span style="display:none">Objet de la décision / notification / communication</span></label>
									<legend>Objet de la décision / notification / communication</legend>								
									<div class="row">
										<div class="col-xs-12">
											<div block-region activate="decisions.otherDecisions.identifier" skip-loading-icon="true" >
												<div class="km-control-group" name="commonDecisions" required caption="Common decisions">
														<div km-term-check required ng-model="decisions.commonDecisions" locales="document.header.languages"
														terms="options.commonDecisions()"  binding-type="term[]" ng-change="onCommonDecisionChanged()"  ></div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div block-region activate="decisions.commonDecisions.length > 0" skip-loading-icon="true" >
												<div class="km-control-group" name="otherDecisions" required caption="Other decisions, notifications and communications">
													
													<div km-term-radio required ng-model="decisions.otherDecisions" locales="document.header.languages"
														terms="options.otherDecisions()" binding-type="term" show-other="true"></div>
												</div>		
											</div>		
										</div>
									</div></div>
								</section>
	
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>OVM destinés à une introduction intentionnelle dans l'environnement</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="addressesTransboundaryMovement" required caption="La décision est-elle le résultat d'une demande de mouvement transfrontières d'OVM à destination du pays?">
													<div km-yes-no required ng-model="document.addressesTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
										</div>		
										<div class="row well no-shadow bg-white" ng-if="document.addressesTransboundaryMovement" style="margin-left:1%">
											<div class="col-xs-12">
												<div class="km-control-group" name="intentionDecisions" required caption="Type de décision">												
													<div km-term-radio required ng-model="decisions.intentionDecisions" locales="document.header.languages"
														terms="options.intentionDecisions()"  binding-type="term" ></div>
												</div>									
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="receiptDate"  caption="Date de réception de la notification" style="width:40%">
													<div km-date placeholder="AAAA-MM-JJ" name="receiptDate" required ng-model="document.receiptDate"></div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="receiptAcknowledgementDate"  caption="Date d'envoi de l'accusé de réception de la notification à son auteur" style="width:40%">
													<div km-date placeholder="AAAA-MM-JJ" name="receiptAcknowledgementDate" required ng-model="document.receiptAcknowledgementDate"></div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="km-control-group" name="communicationDate"  caption="Date de communication de la décision à l'auteur de la notification" style="width:40%">
													<div km-date placeholder="AAAA-MM-JJ" name="communicationDate" required ng-model="document.communicationDate"></div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="exporters" caption="Veuillez fournir les coordonnées de l'exportateur">											
													<div document-selector ng-model="document.exporters" question="exporters"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="importers" caption="Veuillez fournir les coordonnées de l'importateur/demandeur">											
													<div document-selector ng-model="document.importers" question="importers"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
										</div>
										<div class="row well no-shadow bg-white" ng-if="document.addressesTransboundaryMovement==false"  style="margin-left:1%">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToTransboundaryMovement" required caption="La décision s'applique-t-elle aux mouvements transfrontières des OVM entrant au pays?">
													<div km-yes-no required ng-model="document.appliesToTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="km-control-group" name="importers" required caption="Coordonnées du demandeur">											
													<div document-selector ng-model="document.importers" question="importers"
														government="document.government" schema="(contact)"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="involvesFieldTrial" caption="La décision prévoit-elle des essais sur le terrain?">
													<div km-yes-no required ng-model="document.involvesFieldTrial" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="involvesCommercialRelease"  caption="La décision prévoit-elle la libération à des fins commerciales?">
													<div km-yes-no required ng-model="document.involvesCommercialRelease" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToSubsequentIntroductions" required caption="La décision s'appliquera-t-elle aux introductions subséquentes des mêmes OVM dans l'environnement?">
													<div km-yes-no required ng-model="document.appliesToSubsequentIntroductions" locales="document.header.languages"></div>
												</div>
											</div>
										</div>							
									</div>
								</section>
								<section ng-if="isLmoDecisionForDirectUse">
									<div class="well no-shadow bg-white">
										<legend>OMV destinés à être utilisés directement pour l'alimentation humaine ou animale ou à être transformés</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="decisionLMOFFPSubject" required caption="Date de la décision">
													<div class="km-value">
																<div km-term-check required ng-model="document.decisionLMOFFPSubject" locales="document.header.languages"
														terms="options.decisionLMOFFPSubject()"  binding-type="term[]"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="appliesToTransboundaryMovement" required 
												caption="La décision a-t-elle été prise en l'absence d'un cadre réglementaire national et conformément à l'article 11.6?">
													<div km-yes-no required ng-model="document.appliesToTransboundaryMovement" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-if="isLmoDecisionForIntentionalIntroduction">
											<div class="col-xs-12">
												<div class="alert alert-danger"><strong>Note :</strong> Les deux premières catégories dans le champs « Objet de la décision/communication » en haut de cette page ont été sélectionnées indiquant que ce document fait référence à une décision traitant des OVM pour une introduction intentionnelle dans l’environnement (articles 7-10 à 1) et LMOs-FFP (article 11). Par conséquent, les champs ci-dessous (« type de décision » et « coordonnées de l’importateur/exportateur ou du déposant », ne sont donc pas actifs parce que les renseignements ont déjà été fournis. Si ce n’est pas le cas, veuillez créer deux fichiers différents, l’un pour l’introduction intentionnelle dans l’environnement et l’un pour le LMOs-FFPs.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div block-region activate="isLmoDecisionForIntentionalIntroduction" skip-loading-icon="true">
													<div class="row">
														<div class="col-xs-12">
															<div class="km-control-group" name="directUseDecisions" required caption="Type de décision">
																<div class="km-value">
																	<div km-term-check required ng-model="decisions.directUseDecisions" locales="document.header.languages"
																	terms="options.directUseDecisions()"  binding-type="term[]"></div>
																</div>
															</div>											
														</div>
													</div>
													<div class="col-xs-12" ng-if="'0D0BEEF4-54E4-44C1-ABB2-B89DC145E0B3'">
														<div class="km-control-group" name="exporters"  caption="Veuillez fournir les coordonnées de l'exportateur">											
															<div document-selector ng-model="document.exporters" question="exporters"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
													<div class="col-xs-12">
														<div class="km-control-group" name="importers" required caption="Veuillez fournir les coordonnées de l'importateur/demandeur">											
															<div document-selector ng-model="document.importers" question="importers"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
													<div class="col-xs-12">
														<div class="km-control-group" name="importers" required caption="Coordonnées du demandeur">											
															<div document-selector ng-model="document.importers" question="importers"
																government="document.government" schema="(contact)"></div>			
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>Résultat de la décision</legend>
										<div class="row">
											<div class="col-xs-12" >
												<div class="km-control-group" name="decisionResult" required caption="Résultat de la décision">												
													<div km-term-radio required ng-model="document.decisionResult" locales="document.header.languages"
														terms="options.decisionResult()" binding-type="term"></div>
												</div>		
											</div>		
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>Évaluation des OVM et des risques</legend>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="modifiedOrganisms" required caption="Identification de l'OVM">											
													<div document-selector ng-model="document.modifiedOrganisms" question="modifiedOrganisms"
														government="document.government"  schema="(modifiedOrganism)" skip-government="true"></div>			
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="km-control-group" name="riskAssessments" required caption="Évaluation des risques">											
													<div document-selector ng-model="document.riskAssessments" question="riskAssessments"
														government="document.government" schema="(riskAssessments)"></div>			
												</div>
											</div>
										</div>
									</div>
								</section>
								<section ng-if="isLmoDecisionForIntentionalIntroduction">
									<div class="well no-shadow bg-white">
										<legend>Décision et/ou autre document pertinent</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="documents" required caption="Document (attached file)">
													<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
	
	
								<section>
									<div class="well no-shadow bg-white">
										<legend>Timeframe for confirmation or updating of information</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="expires" required caption="Should this information be confirmed or updated after two years from the date of submission?">												
													<div km-yes-no required ng-model="document.expires" locales="document.header.languages"></div>
												</div>	
											</div>
										</div>
									</div>
								</section>
		
								<section>
									<div class="well no-shadow bg-white">
										<legend>Information supplémentaire</legend>
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="address" caption="Any other relevant information">
													<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
													<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="relevantDocuments" caption="Autres documents pertinents">
													<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section>
									<legend>Notes</legend>
	
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="notes">
												<div class="help-block">Le champ «Notes» est destiné à vos notes ou commentaires personnels et sera masqué lors de la visualisation du fichier. This field is not meant to be used for confidential information.</div>
												<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
											</div>
										</div>
									</div>
								</section>
	
							</div>
						</form>
					</edit-form>
					<review-form>
							<div view-biosafety-decision ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
					</review-form>
				</workflow-arrow-buttons>
			</div>
		</div>
	
</div>
</div>
