<div ng-controller="editDnaSequence">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>有关基因片断的一般信息</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="name" caption="名称">
												<div km-textbox-ml name="name" required ng-model="document.name" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="synonymNames" caption="Alternate Genetic Element Name (synonyms)">
												<div ng-repeat="synonym in synonymNames" style="padding-bottom:5px;">
													<div km-textbox-ml name="synonymNames_{{$index}}" ng-model="synonym.value" locales="document.header.languages"></div>
												</div>
												<button class="btn btn-primary" ng-click="synonymNames.push({})">Add a item</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="abbreviation" caption="Abbreviation">
												<div km-textbox-ml name="abbreviation" required ng-model="document.abbreviation" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="family" required caption="Category">
												<div km-term-radio required ng-model="document.family" locales="document.header.languages"
													terms="options.family" binding-type="term" show-other="true"></div>
											</div>	
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="isSynthetic" required caption="Is the genetic element a synthetic molecule?">
												<div km-yes-no required ng-model="document.isSynthetic" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>供体生物体</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="donorOrganism" caption="供体生物体">											
												<div document-selector ng-model="document.donorOrganism" question="donorOrganism"
													schema="(organism)"></div>			
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="donorOrganismCollectionPoint" caption="Point of collection or acquisition of the donor organism(s)">												
												<div km-rich-textbox ng-model="document.donorOrganismCollectionPoint" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Additional information</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="其它相关信息">
												<div class="help-block">请在此处提供记录中其它位置未能提到的任何其它相关信息。</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="任何其他相关文件">
												<div class="help-block">请在此处提供任何其它相关网站地址和/或将储存在数据库中供用户下载的一个或多个相关文档。</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>备注</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">&ldquo;备注&rdquo;字段用于填写您的个人注释或评论，在查看记录时将被隐藏。此字段不适用于保密信息。</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-dna-sequence ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
