<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>Gen y de la secuencia de ADN <span class="color-black">(ADN)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>Información general</legend>

		<div ng-show="document.title">
			<label>Título</label>
			<div class="km-value"><strong>{{document.title | lstring:locale}}</strong></div>
		</div>

		<div ng-show="document.name">
			<label>Nombre del gen o de la secuencia de ADN</label>
			<km-value-ml value="document.name" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.synonymNames">
			<label>Nombre del elemento genético alternativo (sinónimos)</label>
			<ul class="list" style="padding-left:0px">
				<li ng-repeat="synonym in document.synonymNames" style="padding-bottom:5px;">
					<km-value-ml value="synonym" locales="locale"></km-value-ml>
				</li>
			</ul>
			
		</div>
		<div ng-show="document.abbreviation">
			<label>Abreviatura</label>
			<km-value-ml value="document.abbreviation" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.family">
			<label>Categoría de la secuencia de ADN</label>
			<div class="km-value" ng-bind="document.family | term:locale"></div>
		</div>

		<div ng-show="document.isSynthetic!=undefined">
			<label>¿Es el gen o la secuencia de ADN una molécula sintética?</label>
			<div class="km-value" ng-if="document.isSynthetic">Sí</div>
			<div class="km-value" ng-if="!document.isSynthetic">No</div>
		</div>
	
		<legend>Organismo donante</legend>

		<div ng-show="document.donorOrganism">
			<label>Organismo donante</label>
			<div class="km-value">
				<view-default-reference ng-model="document.donorOrganism.identifier" locale="locale" target="target"></view-default-reference>
			</div>
		</div>

		<div ng-show="document.donorOrganismCollectionPoint">
			<label>Punto de recolección del organismo donante</label>
			<div class="km-value">
				<km-value-ml value="document.donorOrganismCollectionPoint"  html locales="locale"></km-value-ml>
			</div>
		</div>


		<legend>Características de la secuencia de codificación de la proteína</legend>

		<div ng-show="document.proteinName">
			<label>Nombre de la proteína expresada por la secuencia de codificación</label>
			<div class="km-value">
					<km-value-ml value="document.proteinName" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.biologicalFunction">
			<label>Función biológica</label>
			<div class="km-value">
				<km-value-ml value="document.biologicalFunction" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.traits">
			<label>Rasgo(s) o uso(s) relacionado(s) en la biotecnología</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="use in document.traits" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Información adicional</legend>

			<div ng-show="document.relevantInformation">
				<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Otras direcciones de sitios web o documentos adjuntos pertinentes</label>
				<div class="km-value" ng-repeat="item in document.relevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></div>
			</div>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
