<div ng-controller="editLmo">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Общая информация</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption="Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Идентификационные данные живого измененного организма (ЖИО)</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="identity" caption="Название ЖИО">
												<div class="help-block">Название, обычно использованное для идентификации ЖИО, например коммерческое название (например соя под «Раундап», картофель серии NewLeaf® и т. п.)</div>
												<div km-textbox-ml name="identity"  ng-model="document.identity" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="transformationEvent" caption="Transformation event">
												<div class="help-block">Название трансформационного события, например MON810.</div>
												<input type="text" class="form-control" name="transformationEvent" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="hasUniqueIdentification" required caption="Имеется ли у ЖИО уникальный идентификатор?">
												<div class="help-block">В настоящее время в МПБ используется система уникальных идентификаторов, изложенная в Руководящих указаниях ОЭСР по определению уникальных идентификаторов для трансгенных растений (например, MON-ØØ81Ø-6). С дополнительной информацией можно ознакомиться по адресу: <a href="http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml">http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml</a>.</div>
												<div km-yes-no required ng-model="hasUniqueIdentification" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12" ng-if="hasUniqueIdentification">
											<div class="km-control-group" required name="uniqueIdentification" caption="Уникальный идентификатор">
												<input type="text" class="form-control" name="uniqueIdentification" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="developers" caption="Разработчик(-и)">	
												<div document-selector ng-model="document.developers" question="developers"
													schema="(contact)" caption="Контакты"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="description" caption="Описание">
												<div km-textbox-ml name="description" required ng-model="document.description" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="recipientOrganisms" caption="Организм-реципиент или родительские организмы">	
												<div class="help-block">Термин «организм-реципиент» относится к организму (уже измененному или неизмененному), подвергнутому генетической модификации, а термин «родительские организмы» относится к организмам, участвовавшим в процессах кроссбридинга или слияния клеток.</div>
												<div document-selector required ng-model="document.recipientOrganisms" question="recipientOrganisms"
													schema="(organism modifiedOrganism)" caption="Add Organism / Modified Organism"></div>			
											</div>
										</div>

										<div class="col-sm-12">
											<div class="km-control-group"  name="recipientOrganismCollectionPoint" caption="Место сбора или получения организма-реципиента или родительских организмов">
												<div km-textbox-ml name="recipientOrganismCollectionPoint"  ng-model="document.recipientOrganismCollectionPoint" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="linkedModifiedOrganisms" caption="Связанные ЖИО">	
												<div class="help-block">Данное поле относится к другим ЖИО с аналогичными характеристиками.</div>
												<div document-selector ng-model="document.linkedModifiedOrganisms" question="linkedModifiedOrganisms"
													schema="(modifiedOrganism)"></div>			
											</div>
										</div>
									</div>
								</div>
							</section>
							

							<section>
								<div class="well no-shadow bg-white">
									<legend>Характеристики процесса модификации</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="vector" caption="Вектор">
												<div class="help-block">Векторы используются для внедрения ДНК-последовательности (обычно структуры промотор-ген-терминатор) с целью облегчения ее передачи в организм-реципиент. Примеры: Ti-плазмида Agrobacterium и pBIN19.</div>
												<div km-textbox-ml name="vector"  ng-model="document.vector" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group"  name="techniqueUsed" caption="Использованные способы модификации">
												<div km-term-check name="techniqueUsed" required ng-model="document.techniqueUsed" terms="options.techniqueUsed" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="genes" caption="Интродуцированные или модифицированные генетические элементы">	
												<div class="help-block">Желательно, чтобы все генетические элементы, интродуцированные в данный ЖИО такие, как промоторы, кодирующие белок последовательности и терминаторы, были обязательно указаны в данном разделе. Как минимум, обязательно должны быть указаны ВСЕ кодирующие белок последовательности.</div>
												<div document-selector ng-model="document.genes" question="genes"
													schema="(dnaSequence)" caption="Последовательность генов и ДНК"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="geneConstructs" caption="Конструкция генетических элементов">
												<div class="help-block"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="Примечания касательно генетических элементов, присутствующих в данном ЖИО">	
												<div class="help-block">Просьба указать, если любые из этих генетических элементов были изменены относительно последовательности, зарегистрированной в Реестре генетических элементов МПБ, и как они связаны друг с другом в данном ЖИО (например, «последовательность, кодирующая белок EPSPS, управляемая промотором 35S и терминатором NOS»)</div>
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
									</div>
								</div>
							</section>
	
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>Характеристики ЖИО</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="traits" caption="Modified Traits">
												<div km-term-check name="traits" required ng-model="document.traits" terms="options.traits" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="affectedGenes" caption="Other gene(s) whose expression was affected by the transformation">	
												<div class="help-block">Данный раздел следует использовать для указания изменений в экспрессии генов, отличных от тех, которые были вставлены в ЖИО (например, подавление экспрессии генов и индукция генов).</div>
												<div document-selector ng-model="document.affectedGenes" question="affectedGenes"
													schema="(dnaSequence)" caption="Последовательность генов и ДНК"></div>			
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="Опишите, как изменилась экспрессия гена (генов)">	
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="commonUses" caption="Основные применения ЖИО">
												<div class="help-block">Choose as many options as applicable.</div>
												<div km-term-check name="commonUses" required ng-model="document.commonUses" terms="options.commonUses" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Метод(-ы) обнаружения</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethod" caption="Внешняя(-ие) ссылка(-и)">
												<div km-rich-textbox ng-model="document.detectionMethod" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethodLinks" caption="Дополнительная информация">
												<div km-link name="detectionMethodLinks" ng-model="document.detectionMethodLinks" allow-link="true" allow-file="true"
													identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Дополнительная информация</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="Any other relevant information">
												<div class="help-block">Просьба использовать это поле для представления любой другой актуальной информации, которая, возможно, не была учтена в других разделах записи.</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="Любые другие соответствующие документы">
												<div class="help-block">Please use this field to provide any other relevant website addresses and/or one or more relevant documents that will be stored in the database for users to download.</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>Примечания</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">Поле «Примечания» предназначено для личных замечаний или комментариев и будет скрыто при просмотре записи. Данное поле не предназначено для конфиденциальной информации.</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-lmo ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
