<div ng-controller="editRiskAssessment">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()" languages="document.header.languages" hide-timer="false"
			tab="tab" validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
						<form class="editForm" name="editForm" style="margin-top:10px">
								<div>
									
									<section>
										<div class="well no-shadow bg-white">
										<legend>Общая информация</legend>
											<div class="row">
												<div class="col-xs-12" >
													<div class="km-control-group" name="languages" required caption="Please select in which language(s) you wish to submit this record:">
														<div class="indent">
															<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="row" ng-if="isNational">
												<div class="col-sm-12">
													<div class="km-control-group" name="government" required caption="Country submitting the decision or communication">
														<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries"
															filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Выберите страну..."></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" required name="title" caption="Название оценки рисков">
														<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="date" caption="Дата оценки рисков">
														<div km-date placeholder="ГГГГ-ММ-ДД" name="date" required ng-model="document.date"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="authorities" caption="Компетентный национальный орган, ответственный за оценку рисков">											
														<div document-selector ng-model="document.authorities" question="authorities"
															government="document.government" schema="(authority)"></div>			
													</div>
												</div>
											</div>									
		
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="contacts" caption="Контактная информация о главном ответственном эксперте по оценке рисков">											
														<div document-selector ng-model="document.contacts" question="contacts"
															government="document.government" schema="(contact)"></div>			
													</div>
												</div>
											</div>									
										</div>
									</section>
		
									<section >
										<div class="well no-shadow bg-white">
											<legend>Сведения об оценке рисков</legend>
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="modifiedOrganisms" required caption="Живой измененный организм">											
														<div document-selector ng-model="document.modifiedOrganisms" question="modifiedOrganisms"
															government="document.government" schema="(modifiedOrganism)" skip-government="true"></div>			
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<div class="km-control-group" name="scopes" required caption="Объем оценки рисков">
															<div km-term-check required ng-model="document.scopes" locales="document.header.languages"
															terms="options.riskAssessmentScope()"  binding-type="term[]"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="documents" required caption="Risk assessment report / summary">
														<div class="help-block">An attachment is preferred. В других случаях укажите расположение документа, то есть веб-адрес, включая URL-адрес веб-сайта (например, http://bch.biodiv.org), и название веб-сайта (например, «Механизм посредничества по биобезопасности»). Используйте ввод текста только для представления сведений о способе получения копии документа, если документ нельзя представить в виде вложения или ознакомиться с ним в онлайновом режиме.</div>
														<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
		
									<section>
										<div class="well no-shadow bg-white">
											<legend>Методика и вопросы для учета</legend>
											
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffects" caption="Потенциальное вредное воздействие, выявленное при оценке рисков">
														<div km-rich-textbox name="adverseEffects"  ng-model="document.adverseEffects" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsLikelihood" caption="Вероятность того, что потенциальное вредное воздействие будет реализовано.">
														<div km-rich-textbox  name="adverseEffectsLikelihood"  ng-model="document.adverseEffectsLikelihood" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsConsequence" caption="Возможные последствия">
														<div km-rich-textbox name="adverseEffectsConsequence"  ng-model="document.adverseEffectsConsequence" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsOverallRisk" caption="Оценка совокупного риска">
														<div km-rich-textbox name="adverseEffectsOverallRisk"  ng-model="document.adverseEffectsOverallRisk" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="adverseEffectsRecommendation" caption="Рекомендации о приемлемости (управляемости) рисков и любые стратегии управления.">
														<div km-rich-textbox name="adverseEffectsRecommendation"  ng-model="document.adverseEffectsRecommendation" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="riskManagementStrategies" caption="Потребность в дополнительной информации по конкретным вопросам, вызывающим беспокойство">
														<div km-rich-textbox name="riskManagementStrategies"  ng-model="document.riskManagementStrategies" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="receivingEnvironment" caption="Одна или несколько рассматриваемых принимающих сред">
														<div class="help-block">Информация о местонахождении, географических, климатических и экологических характеристиках, включая соответствующую информацию о биологическом разнообразии и центрах происхождения в наиболее вероятной потенциальной принимающей среде, согласно пункту 9 h) приложения III к Протоколу.</div>
														<div km-rich-textbox name="receivingEnvironment"  ng-model="document.receivingEnvironment" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group"  name="detectionMethod" caption="Предложенные методы обнаружения и идентификации ЖИО">
														<div km-rich-textbox name="detectionMethod"  ng-model="document.detectionMethod" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
		
									<section>
										<div class="well no-shadow bg-white">
											<legend>Timeframe for confirmation or updating of information</legend>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="expires"  caption="Should this information be confirmed or updated after two years from the date of submission?">			
														<div class="help-block">If the answer to this question is “Yes”, after two years from the date of submission you will be asked to confirm or update the record within 3 months. По истечении этого периода в случае отсутствия подтверждения запись будет отмечена как «Неподтвержденная».</div>									
														<div km-yes-no  ng-model="document.expires" locales="document.header.languages"></div>
													</div>	
												</div>
											</div>
										</div>
									</section>
			
									<section>
										<div class="well no-shadow bg-white">
											<legend>Дополнительная информация</legend>
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="address" caption="Any other relevant information">
														<div class="help-block">Просьба использовать это поле для представления любой другой актуальной информации, которая, возможно, не была учтена в других разделах записи.</div>
														<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
													</div>
												</div>
											</div>
		
											<div class="row">
												<div class="col-sm-12">
													<div class="km-control-group" name="relevantDocuments" caption="Любые другие соответствующие документы">
														<div class="help-block">Please use this field to provide any other relevant website addresses and/or one or more relevant documents that will be stored in the database for users to download.</div>
														<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section>
										<legend>Примечания</legend>
		
										<div class="row">
											<div class="col-sm-12">
												<div class="km-control-group" name="notes">
													<div class="help-block">Поле «Примечания» предназначено для личных замечаний или комментариев и будет скрыто при просмотре записи. Данное поле не предназначено для конфиденциальной информации.</div>
													<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
												</div>
											</div>
										</div>
									</section>
		
								</div>
							</form>	
				</edit-form>
				<review-form>
					<div view-risk-assessment ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>			
		</div>
	</div>
</div>
</div>
