<div ng-controller="editAbsPermit">

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>
    <style>
        .dimmer-parent{
            position: relative;
        }
        .blockRegion {
            position: initial;
            /*box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);*/
            margin: 1rem 0;
            padding: 1em;
            border-radius: .28571429rem;
            /*border: 1px solid rgba(34,36,38,.15);*/
        }
        .dimmer {
            border-radius: inherit!important;
            position: absolute!important;
            top: 0!important;
            left: 0!important;
            padding: 0;
            margin: 0;
        }

    </style>
    <div style="padding: 24px;background-color:#FFF;;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

            <div class="alert alert-danger" ng-show="hasError()"><strong>Se produjo un error...</strong><div>{{error}}</div>
            </div>
            <div ng-show="!isLoading() && status!='hidden'" class="dimmer-parent">
                <div ng-if="isIRCCRevoked">
                    <div class="blockRegion inverted dimmer active" ng-if="isIRCCRevoked"><div class="medium loader"></div></div>
                    <label for="invalidForm" style="width:100%">
                        <div class="alert alert-danger" ng-show="isIRCCRevoked">
                            <div class="text-center">
                                <h1>EL CERTIFICADO HA SIDO REVOCADO</h1>
                                <p>Los certificados de cumplimiento reconocidos internacionalmente (CCRI) revocados no pueden editarse.</p>
                            </div>
                        </div>
                    </label>
                </div>
                
                <div ng-show="!isIRCCRevoked">
                    <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="isIRCCRevoked"></div>                  
                </div>
                <div km-document-validation ng-model="validationReport"></div>
                <form class="editForm" name="editForm" id="editForm" style="margin-top:10px">
                    <div ng-show="tab=='edit'" km-tab="edit">
                        <legend name="formInfo" style="display:none"></legend>                        
                        <section ng-show="documentExists">
                            <legend>Propuesta de enmienda</legend><!--<div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="amendmentIntent" required caption="Please indicate what the intent of the modification is">
                                        <input type="radio" name="amendmentIntent" ng-model="document.amendmentIntent" ng-value="0"> <strong> Update: </strong> Information is being submitted to replace a previously issued internationally recognized certificate
                                        of compliance (a new certificate will be constituted and the old one will no longer be valid)
                                        </br>
                                        <input type="radio" name="amendmentIntent" ng-model="document.amendmentIntent" ng-value="1"> <strong> Revoke: </strong> An existing permit or its equivalent is being revoked and the constituted internationally recognized
                                        certificate of compliance will no longer be valid.
                                    </div>
                                </div>
                            </div>--><div class="row">
                                <div class="col-xs-12">
                                        <div class="alert alert-info"><h3>Tenga en cuenta que, al enmendar un certificado de cumplimiento reconocido internacionalmente (CCRI), se crear&aacute; un nuevo CCRI y el anterior perder&aacute; su validez.</h3></div>
                                    <div class="km-control-group">
                                        <div class="km-control-group" name="amendmentDescription" required caption="Explique resumidamente los motivos para la actualizaci&oacute;n del registro">
                                            <div km-rich-textbox ng-model="document.amendmentDescription" rows="3" placeholder="" locales="document.header.languages" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </section>

                        <section>
                            <legend>Informaci&oacute;n general</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="government" required caption="Pa&iacute;s">
                                        <div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Seleccione un pa&iacute;s"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group">
                                        <div class="km-control-group" name="permit" caption="Enlaces a otros CCRI que ser relacionen con este permiso">
                                            <div class="help-info">En determinados casos, un permiso puede relacionarse con otros emitidos previamente, por ejemplo, un permiso para acceder a una muestra de suelo. Seg&uacute;n cu&aacute;les sean las condiciones mutuamente acordadas (CMA), es posible que algunos pa&iacute;ses decidan emitir permisos espec&iacute;ficos para recursos gen&eacute;ticos identificados posteriormente a partir de la muestra de suelo. En casos as&iacute;, el Centro de Intercambio de Informaci&oacute;n sobre APB ofrece la posibilidad de vincular diferentes CCRI entre s&iacute;. Los CCRI vinculados por conducto de este Centro aparecer&aacute;n juntos y esto facilitar&aacute; el rastreo de los CCRI.</div>
                                            <div document-selector ng-model="document.relatedIRCCs" question="relatedIRCCs" government="document.government" schema="absPermit" hide-self="document.header.identifier"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <legend>Autoridad emisora</legend>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="absCNA" required caption="Autoridad Nacional Competente (ANC) responsable de la emisi&oacute;n de este permiso o de su equivalente">

                                        <div document-selector ng-model="document.absCNA" question="absCNA" government="document.government" schema="authority" type="radio"></div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <section>
                            <legend>Informaci&oacute;n sobre el permiso o su equivalente</legend>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group">
                                        <div class="km-control-group" name="title" required caption="N&uacute;mero de referencia del permiso o su equivalente"><span class="help-info">Este campo aparecer&aacute; como t&iacute;tulo de este registro.</span><div km-textbox-ml ng-model="document.title" rows="1" placeholder="" locales="document.header.languages" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="referenceToNationalPermit" caption="Referencias o identificadores nacionales adicionales"><span class="help-info">S&iacute;rvase proporcionar informaci&oacute;n sobre todos los identificadores nacionales que podr&iacute;an brindar ayuda a los usuarios en la b&uacute;squeda y recuperaci&oacute;n de informaci&oacute;n relacionada con el permiso o su equivalente.</span><div km-rich-textbox ng-model="document.referenceToNationalPermit" rows="6" placeholder="" locales="document.header.languages" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="km-control-group" name="dateOfIssuance" required caption="Fecha de emisi&oacute;n del permiso o su equivalente">
                                        <div class="help-info">Este campo hace referencia a la fecha de emisi&oacute;n del permiso nacional. Esta informaci&oacute;n es obligatoria y clave para asegurar la certidumbre jur&iacute;dica en relaci&oacute;n con el derecho del usuario a utilizar el recurso gen&eacute;tico cubierto por el permiso.</div>
                                        <div km-date placeholder="AAAA-MM-DD" required name="dateOfIssuance" ng-model="document.dateOfIssuance"></div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="km-control-group" name="dateOfExpiry" caption="Fecha de caducidad del permiso o su equivalente">
                                        <div class="help-info">Dos meses antes de que el permiso expire se env&iacute;a un correo electr&oacute;nico a la ANC para alertar sobre la fecha de caducidad del CCRI.</div>
                                        <div km-date placeholder="AAAA-MM-DD" name="dateOfExpiry" ng-model="document.dateOfExpiry"></div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section>
                            <legend>Informaci&oacute;n sobre el consentimiento fundamentado previo (CFP)</legend>

                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><span ng-class="{'confidential-text':document.providersConfidential}"><input type="checkbox" name="providersConfidential" ng-model="document.providersConfidential" watch-items>Esta informaci&oacute;n es confidencial</input></span></div>
                                        <div class="panel-body panel-body-confidential" ng-class="{'disable':document.providersConfidential}">
                                            <div class="km-control-group " name="providers" required caption="El proveedor" style="margin-top:0;"><span class="help-info">S&iacute;rvase proporcionar el nombre y la informaci&oacute;n de contacto sobre la persona o entidad que posee el derecho a otorgar el acceso a recursos gen&eacute;ticos de conformidad con la legislaci&oacute;n nacional.</span><div ng-show="!document.providersConfidential">
                                                    <div document-selector ng-model="document.providers" question="providers" government="document.government" schema="(contact authority)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row" style="margin-top:20px;">
                                <div class="col-xs-12">
                                    <div class="km-control-group" required name="picGranted" caption="Confirmaci&oacute;n de que se obtuvo o fue otorgado el consentimiento fundamentado previo"><span class="help-info">Si el CFP no se obtuvo o este no fue otorgado, este registro no puede publicarse en el Centro de Intercambio de Informaci&oacute;n sobre APB y, por consiguiente, no se emitir&aacute; el certificado de cumplimiento reconocido internacionalmente.</span><button data-toggle="buttons-checkbox" type="button" class="btn" ng-class="{'btn-primary':document.picGranted, 'btn-default': !document.picGranted}" ng-click="document.picGranted=!document.picGranted">S&iacute;</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="picInformation" caption="Informaci&oacute;n adicional sobre el consentimiento fundamentado previo (CFP)"><span class="help-info">Si procede, s&iacute;rvase proporcionar toda la informaci&oacute;n adicional que haya sobre el consentimiento fundamentado previo (CFP). La informaci&oacute;n detallada puede suministrarse en un documento adjunto.</span><div km-rich-textbox name="picInformation" rows="4" ng-model="document.picInformation" locales="document.header.languages"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="km-control-group" name="picDocuments" caption="Informaci&oacute;n adicional sobre el consentimiento fundamentado previo (CFP) - Documentos"><span class="help-info">Si procede, por favor suministre el enlace o cargue los documentos.</span><div km-link name="picDocuments" ng-model="document.picDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><span ng-class="{'confidential-text':document.entitiesToWhomPICGrantedConfidential}"><input type="checkbox" name="entitiesToWhomPICGrantedConfidential" ng-model="document.entitiesToWhomPICGrantedConfidential" watch-items>Esta informaci&oacute;n es confidencial</input></span></div>
                                        <div class="panel-body panel-body-confidential" ng-class="{'disable':document.entitiesToWhomPICGrantedConfidential}">
                                            <div class="km-control-group " name="entitiesToWhomPICGranted" required required caption="Persona o entidad a la que se otorg&oacute; el consentimiento fundamentado previo" style="margin-top:0;">
                                                <div ng-show="!document.entitiesToWhomPICGrantedConfidential">
                                                    <div class="help-info">S&iacute;rvase proporcionar el nombre y la informaci&oacute;n de contacto de la persona o entidad a la que se otorg&oacute; el consentimiento fundamentado previo. Si la informaci&oacute;n est&aacute; marcada como confidencial, la persona no podr&aacute; recibir la copia de cortes&iacute;a del CCRI o el comunicado de los puntos de verificaci&oacute;n.</div>
                                                    <div document-selector ng-model="document.entitiesToWhomPICGranted" question="entitiesToWhomPICGranted" government="document.government" schema="(contact authority)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </section>

                        <section>
                            <legend>Informaci&oacute;n sobre las condiciones mutuamente acordadas (CMA)</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" required name="matEstablished" caption="Confirmaci&oacute;n de que se han establecido condiciones mutuamente acordadas (CMA)"><span class="help-info">Si no se han establecido condiciones mutuamente acordadas (CMA), este registro no puede publicarse en el Centro de Intercambio de Informaci&oacute;n sobre APB y, por consiguiente, no se podr&aacute; emitir el certificado de cumplimiento reconocido internacionalmente.</span><button data-toggle="buttons-checkbox" type="button" class="btn" ng-class="{'btn-primary':document.matEstablished, 'btn-default':!document.matEstablished}" ng-click="document.matEstablished=!document.matEstablished">S&iacute;</button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="km-control-group" name="matInformation" caption="Informaci&oacute;n adicional sobre las condiciones mutuamente acordadas (CMA) - Informaci&oacute;n"><span class="help-info">Si procede, s&iacute;rvase proporcionar toda la informaci&oacute;n con la que cuente sobre las CMA. Por ejemplo, podr&iacute;a incluirse informaci&oacute;n sobre condiciones para el acceso y la participaci&oacute;n en los beneficios y otra informaci&oacute;n pertinente incluida en las CMA. La informaci&oacute;n detallada puede suministrarse en un documento adjunto.</span><div km-rich-textbox name="matInformation" rows="4" ng-model="document.matInformation" locales="document.header.languages"></div>
                                    </div>
                                </div>


                                <div class="col-xs-12">
                                    <div class="km-control-group" name="matDocuments" caption="Informaci&oacute;n adicional sobre las condiciones mutuamente acordadas (CMA) - Documentos"><span class="help-info">Si procede, por favor suministre el enlace o cargue los documentos.</span><div km-link name="matDocuments" ng-model="document.matDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
                                    </div>
                                </div>
                            </div>
                        </section>



                        <section>
                            <legend>Asunto o recurso gen&eacute;tico</legend>
                            <div class="row">
                                <div class="col-xs-12">


                                    <div class="panel panel-default">
                                        <div class="panel-heading"><span ng-class="{'confidential-text':document.subjectMatterConfidential}"><input type="checkbox" name="subjectMatterConfidential" ng-model="document.subjectMatterConfidential" watch-items>Esta informaci&oacute;n es confidencial</input></span></div>
                                        <div class="panel-body panel-body-confidential" ng-class="{'disable':document.subjectMatterConfidential}">
                                            <div class="km-control-group" required name="subjectMatter" caption="Asunto o recursos gen&eacute;ticos cubiertos por el permiso o su equivalente"><span class="help-info">S&iacute;rvase proporcionar informaci&oacute;n sobre el asunto o los recursos gen&eacute;ticos cubiertos por el permiso. Esto podr&iacute;a incluir la biota y alg&uacute;n rango taxon&oacute;mico, que podr&iacute;a tener un nombre taxon&oacute;mico. Tambi&eacute;n podr&iacute;a incluir una localidad de recopilaci&oacute;n del material. Asimismo, tal vez sea posible identificar el recurso gen&eacute;tico haciendo referencia a un esp&eacute;cimen de muestra o a notas de campo en poder de un archivo o colecci&oacute;n identificados.</span><div ng-show="!document.subjectMatterConfidential">
                                                    <div km-rich-textbox name="subjectMatter" rows="6" ng-model="document.subjectMatter" locales="document.header.languages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row" style="margin-top:20px;">
                                <div class="col-xs-12">
                                    <div class="legend2">Informaci&oacute;n adicional sobre el asunto o el recurso gen&eacute;tico<span class="help-info"> Proporcionar detalles sobre el asunto o el recurso gen&eacute;tico que cubre el permiso o su equivalente puede a&ntilde;adir certeza jur&iacute;dica.</span></div>
                                    <div class="km-control-group" name="specimens" caption="Datos sobre el esp&eacute;cimen"><span class="help-info">Enlace al esp&eacute;cimen de muestra guardado en una instalaci&oacute;n apropiada</span><div km-link name="specimens" ng-model="document.specimens" allow-link="true" allow-file="false" identifier="document.header.identifier"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="taxonomies" caption="Taxonom&iacute;a"><span class="help-info">Enlace al registro en una base de datos externa sobre taxonom&iacute;a, por ej., Infraestructura Mundial de Informaci&oacute;n en Biodiversidad (GBIF), Cat&aacute;logo de Vida</span><div km-link name="taxonomies" ng-model="document.taxonomies" allow-link="true" allow-file="false" identifier="document.header.identifier"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12" ng-class="{'warning':isInvalid('gisFiles')}">
                                    <div class="km-control-group">
                                        <label class="control-label" for="gisFiles">Coordenadas geogr&aacute;ficas</label><span class="help-info">Limitadas a archivos .geojson (<a target="_new_" href="http://www.geojson.org/">http://www.geojson.org/</a>)</span><div km-link required name="gisFiles" ng-model="document.gisFiles" allow-link="false" identifier="document.header.identifier" mime-types="application/json"></div>
                                    </div>

                                    <div ng-if="document.gisFiles">
                                        <div class="input-prepend input-append">
                                            <input class="input-small" type="text" readonly value="{{document.gisMapCenter.lat | number:6}}"><span class="add-on">lat</span></div>
                                        <div class="input-prepend input-append">
                                            <input class="input-small" type="text" readonly value="{{document.gisMapCenter.lng | number:6}}"><span class="add-on">long</span></div>
                                        <div class="input-prepend input-append">
                                            <input class="input-small" type="text" readonly value="{{document.gisMapCenter.zoom | number:0}}"><span class="add-on">zoom</span></div>

                                        <div class="leaflet" center="document.gisMapCenter" layers="gisLayer"></div>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="keywords" caption="Palabra clave para describir el asunto o recurso(s) gen&eacute;tico(s) cubierto(s) por el permiso o su equivalente"><span class="help-info">La recopilaci&oacute;n de esta informaci&oacute;n es importante para facilitar las b&uacute;squedas armonizadas a trav&eacute;s de los registros. S&iacute;rvase seleccionar todas las palabras clave que podr&iacute;an ayudar a la descripci&oacute;n del asunto o recurso(s) gen&eacute;tico(s) cubierto(s) por el permiso o su equivalente.</span><div km-select multiple show-description="true" required name="keywords" ng-model="document.keywords" items="options.keywords()"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" ng-show="isOthers()">
                                    <div class="km-control-group" required name="keywordOther" caption="Otras palabras clave">
                                        <div km-textbox-ml required name="keywordOther" rows="1" ng-model="document.keywordOther" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <section>
                            <legend>Informaci&oacute;n sobre la utilizaci&oacute;n del/de los recurso(s) gen&eacute;tico(s)</legend><span class="help-info">Se prev&eacute; que la informaci&oacute;n incluida en esta secci&oacute;n del CCRI permitir&aacute; que cualquier persona verifique que el uso del recurso gen&eacute;tico en cualquier etapa de investigaci&oacute;n, desarrollo, innovaci&oacute;n, precomercializaci&oacute;n o comercializaci&oacute;n se realice de conformidad con las condiciones de uso del CFP y de las CMA.</span><div class="row">
                                <div class="col-xs-12">


                                    <div class="panel panel-default">
                                        <div class="panel-heading"><span ng-class="{'confidential-text':document.usagesConfidential}"><input type="checkbox" name="usagesConfidential" ng-model="document.usagesConfidential" watch-items>Esta informaci&oacute;n es confidencial</input></span></div>
                                        <div class="panel-body panel-body-confidential" ng-class="{'disable':document.usagesConfidential}">
                                            <div class="km-control-group" required name="usages" caption="Indique si el permiso o su equivalente abarca el uso comercial y/o no comercial">
                                                <div ng-show="!document.usagesConfidential">
                                                    <div km-select multiple required name="usages" ng-model="document.usages" items="options.usages()"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="row" style="margin-top:20px;">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="usagesDescription" caption="Informaci&oacute;n adicional sobre los usos especificados cubiertos por el permiso o su equivalente o restricciones para el uso"><span class="help-info">El acceso solo puede otorgarse para usos especificados (por ej., uso medicinal) o, en caso contrario, el acceso puede otorgarse para usos m&uacute;ltiples, pero con las correspondientes restricciones espec&iacute;ficas (por ej., restricci&oacute;n para obtener derechos de propiedad intelectual). Si procede, s&iacute;rvase proporcionar toda la informaci&oacute;n adicional que haya sobre los usos espec&iacute;ficos o las restricciones para el uso cubiertos por el permiso o su equivalente.</span><div km-rich-textbox name="usagesDescription" rows="6" ng-model="document.usagesDescription" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="thirdPartyTransferCondition" caption="Condiciones para la transferencia a terceras partes"><span class="help-info">Cuando un permiso o su equivalente establecen condiciones o restricciones en relaci&oacute;n con la transferencia a terceras partes, ser&aacute; de ayuda que esta informaci&oacute;n est&eacute; disponible por conducto del Centro de Intercambio de Informaci&oacute;n sobre APB a fin de hacer un seguimiento de la utilizaci&oacute;n de los recursos gen&eacute;ticos y mejorar la certeza jur&iacute;dica.</span><div km-rich-textbox name="thirdPartyTransferCondition" rows="4" ng-model="document.thirdPartyTransferCondition" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <legend>Documentaci&oacute;n</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="permitFiles" caption="Copia del permiso o su equivalente, u otros documentos pertinentes de acceso abierto"><span class="help-info">S&iacute;rvase usar este campo para cargar una copia del permiso o su equivalente u otro documento pertinente, si se desea, o proporcionar el enlace a su equivalente en un sitio web nacional. Incluir una descripci&oacute;n breve del enlace o el adjunto. Tenga en cuenta que esta informaci&oacute;n estar&aacute; disponible p&uacute;blicamente a trav&eacute;s del Centro de Intercambio de Informaci&oacute;n sobre APB y, por consiguiente, no deber&iacute;a contener informaci&oacute;n confidencial ni enlaces a informaci&oacute;n de acceso restringido.</span><div km-link name="permitFiles" ng-model="document.permitFiles" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="permitDescription" caption="Descripci&oacute;n breve del/de los enlace(s) y/o archivo(s) adjunto(s)">
                                        <div km-rich-textbox name="permitDescription" rows="6" ng-model="document.permitDescription" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </div>

                        </section>

                        <section>
                            <legend>Informaci&oacute;n adicional</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="relevantInformation" caption="Informaci&oacute;n adicional">
                                        <div class="help-info">Por favor, utilice este campo para facilitar cualquier otra informaci&oacute;n pertinente que no se haya incluido en otro lugar del registro.</div>
                                        <div km-rich-textbox name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="relevantDocuments" caption="Otra direcci&oacute;n de sitio web pertinente o documentos adjuntos">
                                        <div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section>
                            <legend>Notas</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="notes">
                                        <div class="help-info">El campo &quot;Notas&quot; es para sus notas u observaciones personales y quedar&aacute; oculto al ver el registro. Este campo no est&aacute; destinado a ser usado para informaci&oacute;n confidencial.</div>
                                        <textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>

                <div class="row" ng-show="tab=='review'" km-tab="review">
                    <div class="col-xs-12">

                        <div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
                            <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
                        </div>
                        <div class="view-abs-permit" show-pdf="false" ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
