
<div ng-controller="editAuthority">
    <div><!--help schema="55e073c2e81495f09996b4d8" show-help="showHelp" repalce-glossary-terms="true">--><div ng-include="'/app/views/forms/edit/edit_header.html'"></div>
        <div style="padding: 24px;background-color:#FFF;;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

                <div class="alert alert-danger" ng-show="hasError()"><strong>Se produjo un error...</strong><div>{{error}}</div>
                </div>

                <warning-message-cna doc="document"></warning-message-cna><!--<div ng-show="isLoading()">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>--><div ng-show="!isLoading() && status!='hidden'">

                    <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" />

                    <div km-document-validation ng-model="validationReport"></div>
                    <form class="editForm" name="editForm">

                        <div ng-show="tab=='edit'" km-tab="edit">
                            <legend name="formInfo" style="display:none"></legend>

                            <section>
                                <legend name="generalInfo">Informaci&oacute;n general</legend>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="government" required caption="Pa&iacute;s">
                                            <div>
                                                <div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Seleccione un pa&iacute;s"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="name" required caption="Nombre de la Autoridad Nacional Competente">
                                           <div class="help-info">Proporcione el nombre de la entidad responsable, por ej., Ministerio de Medio Ambiente. Tenga en cuenta que el nombre de la Autoridad Nacional Competente (ANC) ayudar&aacute; a identificar el registro en el Centro de Intercambio de Informaci&oacute;n sobre APB.</div>
                                            <div km-textbox-ml name="name" required ng-model="document.name" rows="1" placeholder="" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <legend name="coordinates">Coordenadas</legend>
                                <div class="help-info">Las coordenadas ayudar&aacute;n a los usuarios de recursos gen&eacute;ticos a estar en contacto con la ANC. Es importante mantener actualizada esta informaci&oacute;n a fin de que los usuarios reciban informaci&oacute;n reciente y precisa.</div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="address" caption="Direcci&oacute;n">
                                            <div km-textbox-ml ng-model="document.address" rows="2" placeholder="ejemplo: 413 St Jacques Street, Suite 800" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="city" required caption="Ciudad">
                                            <div km-textbox-ml name="city" ng-model="document.city" required locales="document.header.languages" placeholder="ejemplo: Montreal"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="state" caption="Estado o provincia">
                                            <div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages" placeholder="ejemplo: Quebec"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="postalCode" caption="C&oacute;digo postal">
                                            <div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="ejemplo: H2Y 1N9 "></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="country" required caption="Pa&iacute;s">
                                            <div afc-autocomplete name="country" ng-model="document.country" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" required></div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="phones" required caption="N&uacute;meros de tel&eacute;fono"><!-- <div class="help-info">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div> --><div km-inputtext-list name="phones" ng-model="document.phones" required placeholder="ejemplo: +1 514.288.2220"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="faxes" caption="N&uacute;meros de fax"><!-- <div class="help-info">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div> --><div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="ejemplo: +1 514.288.6588"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="emails" required caption="Correos electr&oacute;nicos">
                                            <div km-inputtext-list name="emails" required type="email" ng-model="document.emails" placeholder="ejemplo: secretariat@cbd.int"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="websites" caption="Direcci&oacute;n del sitio web"><!--   <div class="help-info">Please provide the URL of the website (e.g http://absch.cbd.int/) and the name of the website (e.g. ‘Access and Benefit-sharing Clearing-House’).</div> --><div km-link name="websites" ng-model="document.websites" allow-link="true" allow-file="false"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <legend name="contactInfo">Informaci&oacute;n de contacto</legend>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="contacts" caption="Otros contactos">

                                          <div document-selector ng-model="document.contacts"
                                                               question="contacts"
                                                               government="document.government"
                                                               schema="(contact authority)"
                                                               filter="true"></div>

                                    </div>
                                </div>
                            </div>
                            </section>

                            <section>
                                <legend name="policyBasis">Fundamentos jur&iacute;dicos, administrativos o de pol&iacute;tica para la competencia de la ANC</legend>
                                <div class="help-info">En esta secci&oacute;n puede incluirse una referencia a la medida relacionada con APB que otorga competencia a la ANC. A fin de establecer un enlace entre la ANC y una medida pertinente en materia de APB, el registro de la medida en materia de APB tiene que ingresarse en primer t&eacute;rmino. Por lo tanto, si todav&iacute;a no se ha presentado la medida en materia de APB pertinente, tal vez se desee grabar la ANC como un borrador y publicar antes la medida en materia de APB.</div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="absPolicyBasisForCompetencyRef" caption="Proporcione un enlace a todas las medidas jur&iacute;dicas, administrativas o de pol&iacute;tica">
                                        <div document-selector ng-model="document.absPolicyBasisForCompetencyRef"
                                                               question="absPolicyBasisForCompetencyRef"
                                                               government="document.government"
                                                               schema="measure"
                                                               filter="true"></div>
                                       </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="absPolicyBasisForCompetency" caption="Si fuese necesario, proporcione informaci&oacute;n adicional sobre el fundamento jur&iacute;dico, administrativo o de pol&iacute;tica sobre la competencia de la ANC:"></div>
                                        <div km-rich-textbox ng-model="document.absPolicyBasisForCompetency" rows="6" placeholder="" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </section>


                            <section>
                                <legend name="responsibilities">Responsabilidades</legend>
                                    <div class="help-info">En el p&aacute;rrafo 4 del art&iacute;culo 13 se establece que &quot;Si una Parte designara m&aacute;s de una autoridad nacional competente, comunicar&aacute; a la Secretar&iacute;a, junto con la notificaci&oacute;n correspondiente, la informaci&oacute;n pertinente sobre las responsabilidades respectivas de esas autoridades. En los casos en que corresponda, en esa informaci&oacute;n se deber&aacute; especificar, como m&iacute;nimo, qu&eacute; autoridad competente es responsable de los recursos gen&eacute;ticos solicitados&quot; .</div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" ng-show="showResponsibleforAllMsg()" name="absResponsibleForAllNot" caption="Ya existe una ANC para su pa&iacute;s, s&iacute;rvase especificar el alcance de las responsabilidades de cada ANC." />

                                        <div class="km-control-group" name="absResponsibleForAll" required caption="¿Esta es la &uacute;nica ANC designada en su pa&iacute;s? Si la respuesta es negativa, s&iacute;rvase describir las responsabilidades de esta autoridad nacional competente.">

                                            <div km-yes-no required ng-model="document.absResponsibleForAll" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div><!-- IF NO SECTION --><div ng-class="{'disable':(document.absResponsibleForAll==true || document.absResponsibleForAll==null), 'bg-white':!(document.absResponsibleForAll==true || document.absResponsibleForAll==null) }" class="well no-shadow" style="padding-top:0;padding-bottom:0;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h4 ng-show="document.absResponsibleForAll==null">Si no fuera as&iacute;, no es preciso completar la informaci&oacute;n a continuaci&oacute;n.</h4>
                                                    <h4 ng-show="document.absResponsibleForAll==true">Esta secci&oacute;n no es obligatoria.</h3>
                                                    <div ng-show="document.absResponsibleForAll==false">
                                                        <h4 class="color-red">Esta secci&oacute;n es obligatoria cuando existe m&aacute;s de una ANC Por favor, aseg&uacute;rese de que se describan adecuadamente las responsabilidades de cada ANC en todos los registros publicados.</h4>
                                                        </div>

                                                    <div class="km-control-group" name="responsibilities" caption="Descripci&oacute;n breve de las responsabilidades de la ANC (m&aacute;ximo 300 caracteres)." required>
                                                        <div class="help-info">En el art&iacute;culo 13, p&aacute;rrafo 2, se establece que &quot;Con arreglo a las medidas legislativas, administrativas o de pol&iacute;tica correspondientes, las autoridades nacionales competentes estar&aacute;n encargadas de conceder el acceso o, seg&uacute;n proceda, de emitir una prueba por escrito de que se ha cumplido con los requisitos de acceso, y estar&aacute;n encargadas de asesorar 
sobre los procedimientos y requisitos correspondientes para obtener el consentimiento fundamentado previo y concertar condiciones mutuamente acordadas&quot;. Recuerde que el prop&oacute;sito de esta secci&oacute;n es brindar asistencia a los usuarios para que comprendan las responsabilidades relacionadas con el acceso a recursos gen&eacute;ticos y que deber&iacute;a responder la siguiente pregunta: ¿Qui&eacute;n concede el acceso a qu&eacute;? La descripci&oacute;n de las responsabilidades deber&iacute;a ser breve y clara, a fin de que pueda comprenderse.</div>
                                                        <div km-rich-textbox name="responsibilities" ng-model="document.responsibilities" rows="6" placeholder="" locales="document.header.languages" required></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="km-control-group" name="absJurisdiction" caption="Zona de jurisdicci&oacute;n para conceder el acceso a recursos gen&eacute;ticos" required>
                                                        <div class="help-info">La informaci&oacute;n sobre la zona de jurisdicci&oacute;n (nacional/federal, subnacional o comunitaria) ayuda a indicar las diferentes responsabilidades de distintas ANC.</div>
                                                        <div km-select multiple name="absJurisdiction" ng-model="document.absJurisdiction" items="options.jurisdictions()" required></div>
                                                    </div>
                                                </div>
                                                </div>
                                                 <div class="row">
                                                <div class="col-xs-6">
                                                    <div ng-show="showJurisdictionName()">
                                                        <div class="km-control-group" name="absJurisdictionName" required caption="Nombre de la(s) jurisdicci&oacute;n(es)">
                                                            <div km-textbox-ml ng-model="document.absJurisdictionName" rows="1" locales="document.header.languages" placeholder="nombres de las jurisdicciones"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="km-control-group" name="absGeneticResourceTypes" caption="Palabras clave para describir el alcance de las responsabilidades de las ANC.">
                                                        <div class="help-info">La recopilaci&oacute;n de esta informaci&oacute;n es importante para facilitar las b&uacute;squedas armonizadas a trav&eacute;s de los registros. S&iacute;rvase seleccionar todas las palabras clave pertinentes que podr&iacute;an prestar ayuda para describir las responsabilidades de la ANC.</div>
                                                        <div km-select multiple name="absGeneticResourceTypes" ng-model="document.absGeneticResourceTypes" items="options.keywords()" show-description="true"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- END IF NO SECTION --></section>




                            <section>
                                <legend>Informaci&oacute;n adicional</legend>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="relevantInformation" caption="Informaci&oacute;n adicional">
                                            <div class="help-info">Por favor, utilice este campo para facilitar cualquier otra informaci&oacute;n pertinente que no se haya incluido en otro lugar del registro.</div>
                                            <div km-rich-textbox name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="relevantDocuments" caption="Otra direcci&oacute;n de sitio web pertinente o documentos adjuntos">
                                            <div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <legend>Notas</legend>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="notes">
                                            <div class="help-info">El campo &quot;Notas&quot; es para sus notas u observaciones personales y quedar&aacute; oculto al ver el registro. Este campo no est&aacute; destinado a ser usado para informaci&oacute;n confidencial.</div>
                                            <textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>


                    <div ng-show="tab=='review'" km-tab="review">


                        <div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
                            <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
                        </div>

                        <div view-authority ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
                    </div><!--
        <hr style="margin-top:20px;">

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">

                <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="true"/>

            </div>
        </div> --></div>



            </div>

    </div>
</div>
</div>

</div>
</div>
</div>
