<div>
	<style>
		input.ng-invalid-url, input.ng-invalid-email {
		 background-color:#f0ad4e;
		}
	</style>

	<div ng-show="document.type=='person'">

		<legend>Informaci&oacute;n Personal</legend>

		<div  class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_prefix" caption="T&iacute;tulo">
					<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="Primer nombre">
					<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'"/>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_middleName" caption="Segundo Nombre">
					<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="Apellido">
					 <input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'"/>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_organization"  caption="Organizaci&oacute;n"><!-- <div km-select name="contact_organization" ng-model="document.organization"
						items="options.organization()" required></div> --><field-embed-contact ng-model="document.contactOrganization" locales="document.header.languages"
					name="organization" caption="Link Organization »"
					sub-filter="[{'type':'organization'}]"></field-embed-contact>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_department" caption="Departamento / Divisi&oacute;n / Unidad">
					<div km-textbox-ml name="contact_department" ng-model="document.department" locales="locales"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_designation" caption="T&iacute;tulo del empleo">
					<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="document.type=='organization'">
		<legend>Informaci&oacute;n sobre la organizaci&oacute;n</legend>
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Organizaci&oacute;n">
					<div class="help-info">Nombre completo sin abreviar</div>
					<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="locales"></div>
					<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization"  locales="locales"></div>
				</div>
			</div>

			<div class="col-md-5 col-xs-12">
					<div class="km-control-group" name="contact_organizationAcronym" caption="Sigla" ng-required="!form.organization.$valid && document.type!='person'">
					<div class="help-info">Nombre completo abreviado</div>
					<div  ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="ejemplo: Secretar&iacute;a del CDB" locales="locales"></div>
					<div  ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="ejemplo: Secretar&iacute;a del CDB" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="km-control-group" name="contact_organizationType" caption="Tipo de organizaci&oacute;n">
					<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
				</div>
			</div>
			<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
				<div class="km-control-group" name="contact_organizationTypeName" caption="Otro tipo de organizaci&oacute;n">
					<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="ejemplo: Secretar&iacute;a del CDB" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="document.contactOrganization">

		<legend>Direcci&oacute;n</legend>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_address" caption="Nombre de la calle">
					<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="ejemplo: 413 St Jacques Street, Suite 800" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="km-control-group" name="contact_city" caption="Ciudad" required>
					<div km-textbox-ml name="contact_city" ng-model="document.city" locales="locales" placeholder="ejemplo: Montreal"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_state" caption="Estado o provincia">
					<div km-textbox-ml name="contact_state" ng-model="document.state" locales="locales" placeholder="ejemplo: Quebec"></div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="km-control-group" name="contact_postalCode" caption="C&oacute;digo postal">
					<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="locales" placeholder="ejemplo: H2Y 1N9"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="Direcci&oacute;n del pa&iacute;s">
					<div km-select name="contact_country" ng-model="document.country" items="options.countries()"></div>
				</div>
			</div>
		</div>
	</div>

	<legend>Informaci&oacute;n de contacto</legend>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_phones" caption="N&uacute;meros de tel&eacute;fono">
				<div class="help-info">Por favor, utilice el siguiente formato: + [c&oacute;digo del pa&iacute;s] [c&oacute;digo de ciudad] [n&uacute;mero de tel&eacute;fono] [extensi&oacute;n, si corresponde].</div>
				<div km-inputtext-list name="contact_phones" ng-model="document.phones"  placeholder="ejemplo: +1 514.288.2220" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_faxes" caption="N&uacute;meros de fax">
				<div class="help-info">Por favor, utilice el siguiente formato: + [c&oacute;digo del pa&iacute;s] [c&oacute;digo de ciudad] [n&uacute;mero de tel&eacute;fono] [extensi&oacute;n, si corresponde].</div>
				<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="ejemplo: +1 514.288.6588"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="emails" caption="Correos electr&oacute;nicos" required>
				<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="ejemplo: secretariat@cbd.int" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_websites" caption="Direcci&oacute;n del sitio web">
				<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="ejemplo: http://www.cbd.int"></div>
			</div>
		</div>
	</div>
</div>
