<div ng-controller="editContact">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>



	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<div ng-show="msg" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button><strong>{{msg}}</strong></div>
			

			<div class="alert alert-danger" ng-show="hasError()"><strong>Se produjo un error...</strong><div>{{error}}</div>
			</div><!--<div ng-show="isLoading()">
				<i class="fa fa-spinner fa-spin"></i> Loading...
			</div>--><div ng-show="!isLoading() && status!='hidden'">
				<div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" /><!-- <p class="color-litegrey">Please note that contacts are not publically available in the ABSCH as stand-alone records.
	Published contacts will only be display if they are linked to other published records.</p> --><div km-document-validation ng-model="validationReport"></div>
				<form name="editForm" class="editForm" style="margin-top:10px">
					<div ng-show="tab=='edit'" km-tab="edit">
						<legend name="formInfo" style="display:none"></legend>
						<section>
							<div class="row" ng-if="isNationalUser">
								<div class="col-sm-12">
									<div class="km-control-group" name="government" required caption="Gobierno">
										<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Seleccione un país"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<legend name="contactType">Tipo de contacto</legend>
									<div class="km-control-group" name="notes">
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="organization" name="editionContactType" />Organizaci&oacute;n</label>
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="person" name="editionContactType" />Persona</label>
									</div>
								</div>
							</div>
						</section>
						<div>
							<style>
								input.ng-invalid-url,
								input.ng-invalid-email {
									background-color: #f0ad4e;
								}
							</style>

							<div ng-show="document.type=='person'">

								<legend>Informaci&oacute;n personal</legend>

								<div class="row">

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_prefix" caption="Denominación">
											<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="Primer nombre" required>
											<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'" />
										</div>
									</div>

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_middleName" caption="Segundo Nombre">
											<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName" />
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="Apellido" required>
											<input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'" />
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_organization" caption="Organización">
											<div document-selector ng-model="document.contactOrganization" type="radio"
		                                                                 question="contactOrganization"
		                                                                 government="document.government"
		                                                                 schema="contact AND type_s:organization"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_department" caption="Departamento / División / Unidad">
											<div km-textbox-ml name="contact_department" ng-model="document.department" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_designation" caption="Título del empleo">
											<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="document.type=='organization'">
								<legend>Informaci&oacute;n sobre la organizaci&oacute;n</legend>
								<div class="row">
									<div class="col-md-7 col-xs-12">
										<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Organización">
											<div class="help-info">Nombre completo sin abreviar</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="document.header.languages"></div>
											<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-5 col-xs-12">
										<div class="km-control-group" name="contact_organizationAcronym" caption="Sigla" ng-required="!form.organization.$valid && document.type!='person'">
											<div class="help-info">Nombre completo abreviado</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="ejemplo: Secretaría del CDB" locales="document.header.languages"></div>
											<div ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="ejemplo: Secretaría del CDB" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="km-control-group" name="contact_organizationType" caption="Tipo de organización">
											<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
										</div>
									</div>
									<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
										<div class="km-control-group" name="contact_organizationTypeName" caption="Otro tipo de organización">
											<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="ejemplo: Secretaría del CDB" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-hide="document.contactOrganization">

								<legend>Direcci&oacute;n</legend>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_address" caption="Nombre de la calle">
											<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="ejemplo: 413 St Jacques Street, Suite 800" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="km-control-group" name="contact_city" caption="Ciudad" >
											<div km-textbox-ml name="contact_city" ng-model="document.city" locales="document.header.languages" placeholder="ejemplo: Montreal"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_state" caption="Estado o provincia">
											<div km-textbox-ml name="contact_state" ng-model="document.state" locales="document.header.languages" placeholder="ejemplo: Quebec"></div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-md-6">
										<div class="km-control-group" name="contact_postalCode" caption="Código postal">
											<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="ejemplo: H2Y 1N9"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="Dirección del país">
											<div km-select name="contact_country" ng-model="document.country" items="options.addressCountries()"></div>
										</div>
									</div>
								</div>
							</div>

							<legend>Informaci&oacute;n de contacto</legend>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_phones" caption="Números de teléfono">
										<div class="help-info">Por favor, utilice el siguiente formato: + [c&oacute;digo del pa&iacute;s] [c&oacute;digo de ciudad] [n&uacute;mero de tel&eacute;fono] [extensi&oacute;n, si corresponde].</div>
										<div km-inputtext-list name="contact_phones" ng-model="document.phones" placeholder="ejemplo: +1 514.288.2220"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_faxes" caption="Números de fax">
										<div class="help-info">Por favor, utilice el siguiente formato: + [c&oacute;digo del pa&iacute;s] [c&oacute;digo de ciudad] [n&uacute;mero de tel&eacute;fono] [extensi&oacute;n, si corresponde].</div>
										<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="ejemplo: +1 514.288.6588"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="emails" caption="Correos electrónicos" required>
										<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="ejemplo: secretariat@cbd.int"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_websites" caption="Dirección del sitio web">
										<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="ejemplo: http://www.cbd.int"></div>
									</div>
								</div>
							</div>
						</div>

						<section>

							<legend>Notas</legend>
							<div class="row">
								<div class="col-xs-12">
									<div class="km-control-group" name="notes">
										<div class="help-info">El campo &quot;Notas&quot; es para sus notas u observaciones personales y quedar&aacute; oculto al ver el registro. Este campo no est&aacute; destinado a ser usado para informaci&oacute;n confidencial.</div>
										<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
									</div>
								</div>
							</div>
						</section>

					</div>
				</form>

				<div ng-show="tab=='review'" km-tab="review" id="schemaView">
					<view-contact ng-model='reviewDocument' locale="review.locale"></view-contact>

				</div>
			</div>
		</div>

	</div>
</div>
