<div ng-controller="editDatabase" >

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

    <div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

    <div ng-show="msg" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button><strong>{{msg}}</strong></div>

    <div class="alert alert-danger" ng-show="hasError()"><strong>Se produjo un error...</strong><div>{{error}}</div>
    </div><!--<div ng-show="isLoading()">
        <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>--><div ng-show="!isLoading() && status!='hidden'">
    <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages"  hide-timer="false"/>

            <div km-document-validation ng-model="validationReport"></div>
		<form name="editForm" class="editForm" style="margin-top:10px">
			<div ng-show="tab=='edit'" km-tab="edit">
				<legend name="formInfo" style="display:none"></legend>
				<section>
				<legend>Informaci&oacute;n sobre el sitio web o la base de datos</legend>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="government" required caption="Pa&iacute;s">
              <div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Seleccione un pa&iacute;s"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="title" required caption="Nombre del sitio web o de la base de datos">
							<div class="help-info">Por favor, ingrese el nombre del sitio web o de la base de datos como desea que aparezca en el t&iacute;tulo del registro.</div>
							<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages" placeholder="ejemplo: T&iacute;tulo"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="description" required caption="Descripci&oacute;n">
							<div class="help-info">Por favor, ingrese una breve descripci&oacute;n del sitio web o de la base de datos nacionales, as&iacute; como como su funci&oacute;n o la informaci&oacute;n que ofrece.</div>
							<div km-rich-textbox required name="description" ng-model="document.description" rows="4" locales="document.header.languages" placeholder="ejemplo: Descripci&oacute;n"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="website" required caption="Direcci&oacute;n del sitio web">
							<div class="help-info">Proporcione el URL completo del sitio web (por ej., http://www.cbd.int).</div>
							<input type="url" ng-model="document.website.url" required class="form-control" placeholder="ejemplo: http://www.cbd.int" />
						</div>
					</div>
				</div>
				</section>

				<section>

				<legend>Informaci&oacute;n adicional</legend>

				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="address" caption="Cualquier otra informaci&oacute;n pertinente">
							<div class="help-info">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
							<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="relevantDocuments" caption="Otros documentos pertinentes">
							<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
						</div>
					</div>
				</div>
				</section>

				<section>

				<legend>Notas</legend>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="notes">
							<div class="help-info">El campo &quot;Notas&quot; es para sus notas u observaciones personales y quedar&aacute; oculto al ver el registro. Este campo no est&aacute; destinado a ser usado para informaci&oacute;n confidencial.</div>
							<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
						</div>
					</div>
				</div>
				</section>

			</div>
		</form>

		<div ng-show="tab=='review'" km-tab="review" id="schemaView">

            <div view-database ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>

		</div><!-- <hr style="margin-top:20px;">

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">

                <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="true"/>


            </div>
        </div> --></div>
  </div>
</div>

</div>

</div>
</div>
