<div class="help_content">
    <h1>Information-sharing obligations under the Protocol</h1>
    <div>
      <p>Each Party to the Nagoya Protocol is required to make available the following types of information to the ABS Clearing-House in accordance with&nbsp;<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>:<ul>
              <li>(a) Medidas legislativas, administrativas y de pol&iacute;tica sobre acceso y participaci&oacute;n en los beneficios;</li>
              <li> (b) Informaci&oacute;n acerca del punto focal nacional y la autoridad o autoridades nacionales competentes; y </li>
              <li>(c) Permisos o su equivalente, emitidos en el momento del acceso como prueba de la decisi&oacute;n&nbsp;de otorgar el consentimiento fundamentado previo y de que se 
han establecido condiciones mutuamente acordadas.</li>
          </ul>
      </p>

      <p>In accordance with&nbsp;<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-13" target="_new">Article 13, paragraph 4</a>, the contact information of a Party&rsquo;s national focal point and its competent national authority or authorities shall be provided to the Secretariat no later than the date of entry into force of the Protocol, and Parties shall subsequently notify the Secretariat of any changes. The Secretariat will make this information available through the ABS Clearing-House.</p>

      <p>Where a Party designates more than one competent national authority, it must provide to the Secretariat relevant information on the respective responsibilities of those authorities along with its notification designating the authority. En los casos en que corresponda, en esa informaci&oacute;n se deber&aacute; especificar, como m&iacute;nimo, qu&eacute; autoridad competente es responsable de los recursos gen&eacute;ticos solicitados.</p>

      <p><a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>, also requires Parties to make available through the ABS Clearing-House any information required by this Protocol. This would include:<ul>
              <li>(a) Measures to inform potential users of traditional knowledge associated with genetic resources about their obligations for access to and fair and equitable sharing of benefits arising from the utilization of such knowledge (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-12" target="_new">Article 12, paragraph 2</a>);</li>
              <li> (b) Information provided to designated checkpoints that collect or receive, as appropriate, relevant information related to prior informed consent, to the source of the genetic resource, to the establishment of mutually agreed terms, and/or to the utilization of genetic resources, including from internationally recognized certificates of compliance, where they are available (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-17" target="_new">Article 17, paragraph 1 (a) (iii)</a>); and </li>
              <li>(c) Information on capacity-building and development initiatives at national, regional and international levels that should be shared through the ABS Clearing-House with a view to promoting synergy and coordination on capacity-building and development for access and benefit-sharing (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-22" target="_new">Article 22, paragraph 6</a>).&nbsp; </li>
          </ul>
      </p>

      <p>The ABS Clearing-House will also need to provide access to other types of information that Parties may provide relevant to the implementation of the Protocol. Additional information specified in the Protocol (<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 3</a>) includes<ul>
              <li>(a) Autoridades competentes pertinentes de las comunidades ind&iacute;genas y locales, e informaci&oacute;n seg&uacute;n se decida;&nbsp;</li>
              <li>(b) Cl&aacute;usulas contractuales modelo;&nbsp;</li>
              <li>(c) M&eacute;todos e instrumentos desarrollados para vigilar los recursos gen&eacute;ticos; y&nbsp;</li>
              <li>(d) C&oacute;digos de conducta y pr&aacute;cticas &oacute;ptimas. </li>
          </ul>
      </p>

      <p>Finally,&nbsp;<a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>, provides that Parties shall make information to the ABS Clearing-House any information required pursuant to the decisions taken by the Conference of the Parties to the Protocol.</p>
      
    </div>
  </div>
