<div><strong>{{currentRealmMessage()}}</strong><div class="row">
        <div class="col-sm-12">
            <div class="well2">
                <div class="alert alert-danger col-xs-12">La fonctionnalit&eacute; pour changer de domaine devrait seulement &ecirc;tre utilis&eacute;e pour visualiser des fichiers de d&rsquo;autres domaines et non pour faire des ajouts ou des modifications.<div>    
                        <select class="form-control" ng-model="selectedRealm">
                            <option  ng-repeat="realm in realmList" value="{{realm.identifier}}">{{realm.message}}</option>
                        </select>
                        <button type="button" class="btn btn-default" ng-click="switchRealm()"><i class="glyphicon glyphicon-thumbs-up"></i> Changer</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
