<div ng-controller="editAuthority">
    <div>
        <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>
        <div style="padding: 24px;background-color:#FFF;;border-bottom:2px solid #ccc;">
            <div class="registerpage-content">

                <warning-message-cna doc="document"></warning-message-cna>

                <div workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" tab="tab">
                    <edit-form>
                        <form class="editForm" name="editForm">

                            <div ng-show="tab=='edit'" km-tab="edit">
                                <legend name="formInfo" style="display:none"></legend>
			
                                <section>
                                    <legend name="generalInfo">Informations générales</legend>

                                    <div class="row">
                                        <div class="col-xs-12" >
                                            <div class="km-control-group" name="languages" required caption="Veuillez sélectionner la ou les langues dans lesquelles vous souhaitez soumettre ce fichier :">
                                                <div class="indent">
                                                    <div km-form-languages required name="languages" ng-model="document.header.languages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="government" required caption="Pays">
                                                <div>
                                                    <div afc-autocomplete required name="government" ng-disabled="userGovernment()"
                                                        ng-model="document.government" source="options.countries"
                                                        filter="genericFilter" mapping="genericMapping" selectbox="true"
                                                        placeholder="Veuillez choisir un pays..."></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="name" required caption="Nom de l'autorité nationale compétente">
                                                <div class="help-info">Fournissez le nom de l’entité responsable par ex. : Ministère de l’Environnement Gardez en tête que le nom de l’autorité nationale compétente vous aidera à identifier le fichier au Centre d’échange d’information pour l’APA.</div>
                                                <div km-textbox-ml name="name" required ng-model="document.name" rows="1"
                                                    placeholder="" locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <legend name="coordinates">Coordonnées</legend>
                                    <div class="help-info">Les coordonnées aideront les usagers des ressources génétiques à entrer en contact avec l’ANC. Il est important que garder cette information à jour afin de donner aux usagers l'information la plus récente et la plus précise.</div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="address" caption="Adresse">
                                                <div km-textbox-ml ng-model="document.address" rows="2" placeholder="exemple: 413 rue St-Jacques Suite 800"
                                                    locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="city" required caption="Ville">
                                                <div km-textbox-ml name="city" ng-model="document.city" required
                                                    locales="document.header.languages" placeholder="exemple: Montréal :"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="state" caption="État ou province">
                                                <div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages"
                                                    placeholder="example: Québec"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="postalCode" caption="Code postal">
                                                <div km-textbox-ml name="postalCode" ng-model="document.postalCode"
                                                    locales="document.header.languages" placeholder="example: H2Y 1N9"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="country" required caption="Pays">
                                                <div afc-autocomplete name="country" ng-model="document.country" source="options.countries"
                                                    filter="genericFilter" mapping="genericMapping" selectbox="true"
                                                    required></div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="phones" required caption="Numéros de téléphone">
                                                <div km-inputtext-list name="phones" ng-model="document.phones"
                                                    required placeholder="exemple: +1 514.288.2220"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="faxes" caption="Télécopieur :">
                                                <div km-inputtext-list name="faxes" ng-model="document.faxes"
                                                    placeholder="exemple: +1 514.288.6588"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="emails" required caption="courriels :">
                                                <div km-inputtext-list name="emails" required type="email" ng-model="document.emails"
                                                    placeholder="exemple: secretariat@cbd.int"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="websites" caption="Adresse du site Web">
                                                <div km-link name="websites" ng-model="document.websites" allow-link="true"
                                                    allow-file="false"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <legend name="contactInfo">Coordonnées</legend>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="contacts" caption="Coordonnées supplémentaires">

                                            <div document-selector ng-model="document.contacts" question="contacts"
                                                government="document.government" schema="(contact authority)" filter="true"></div>

                                        </div>
                                    </div>
                                </div>
                                </section>

                                <section>
                                    <legend name="policyBasis">Bases juridiques, administratives et politiques pour la compétence de l’ANC</legend>
                                    <div class="help-info">Dans cette section, une référence aux mesures d’APA liés qui accordent la compétence à l’ANC peut être incluse. Afin de lier l’ANC à une mesure APA pertinente, le fichier de la mesure APA doit être enregistré en premier. Ainsi, si vous n’avez pas encore soumis la mesure APA pertinente, vous voudrez peut-être sauvegarder l’ANC en tant que brouillon et publier d’abord la mesure APA.</div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="absPolicyBasisForCompetencyRef" caption="Fournir un lien vers toute mesure juridique, administrative ou politique pertinente">
                                                <div document-selector ng-model="document.absPolicyBasisForCompetencyRef"
                                                    question="absPolicyBasisForCompetencyRef" government="document.government"
                                                    schema="measure" filter="true"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="absPolicyBasisForCompetency" caption="Au besoin, fournir toute information supplémentaire sur les bases juridiques, administratives ou politique en ce qui concerne la compétence de l’ANC."></div>
                                            <div km-rich-textbox ng-model="document.absPolicyBasisForCompetency" rows="6"
                                                placeholder="" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </section>


                                <section>
                                    <legend name="responsibilities">Responsabilités</legend>
                                    <div class="help-info">Le paragraphe 4 de l’article 13 prévoit que lorsqu'une Partie désigne plus d'une autorité nationale compétente, elle indique au Secrétariat, avec sa notification à cet effet, quels sont les domaines de responsabilité respectifs de ces autorités. Le cas échéant, il sera au moins précisé quelle est l’autorité compétente responsable des ressources génétiques sollicitées.</div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" ng-show="showResponsibleforAllMsg()" name="absResponsibleForAllNot"
                                                caption="Il existe déjà une ANC pour votre pays, veuille spécifier l’étendue des responsabilités de chacune des ANC." />

                                            <div class="km-control-group" name="absResponsibleForAll" required caption="S’agit-il de l’unique autorité nationale compétente (ANC) dans votre pays? Si non, veuillez décrire les responsabilités de cette autorité nationale compétente (ANC).">

                                                <div km-yes-no required ng-model="document.absResponsibleForAll"
                                                    locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div><!-- IF NO SECTION --><div ng-class="{'disable':(document.absResponsibleForAll==true || document.absResponsibleForAll==null), 'bg-white':!(document.absResponsibleForAll==true || document.absResponsibleForAll==null) }"
                                        class="well no-shadow" style="padding-top:0;padding-bottom:0;">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h4 ng-show="document.absResponsibleForAll==null">Si non, l’information suivante est requise.</h4>
                                                        <h4 ng-show="document.absResponsibleForAll==true">Cette section n'est pas requise.</h3>
                                                            <div ng-show="document.absResponsibleForAll==false">
                                                                <h4 class="color-red">Cette section est requise lorsqu’il existe plus d’une autorité nationale compétente (ANC). Veuillez vous assurer que les responsabilités pour chacune des autorités nationales compétentes (ANC) soit bien décrite dans tous les fichiers publiés.</h4>
                                                            </div>

                                                            <div class="km-control-group" name="responsibilities"
                                                                caption="Brève description des responsabilités de l’ANC (maximum 300 caractères)."
                                                                required>
                                                                <div class="help-info">Le paragraphe 2 de l’Article 13, prévoit à ce que les autorités nationales compétentes, en conformité avec les mesures législatives et administratives ainsi que les politiques nationales applicables, sont chargées d’accorder l’accès ou, s’il y a lieu, de délivrer une preuve écrite que les conditions d’accès ont été respectées, et de fournir des conseils sur les procédures et les conditions d’obtention du consentement préalable donné en connaissance de cause et de conclusion de conditions convenues d’un commun accord ». Rappelez-vous que la raison d’être de cette section est d’aider les usagers à comprendre les responsabilités relatives à l’accès aux ressources génétiques en répondant à la question : Qui accorde un accès et pour quoi? La description des responsabilité doit être brève et facile à comprendre.</div>
                                                                <div km-rich-textbox name="responsibilities" ng-model="document.responsibilities"
                                                                    rows="6" placeholder="" locales="document.header.languages"
                                                                    required></div>
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="km-control-group" name="absJurisdiction" caption="La zone de juridiction pour octroyer l’accès aux ressources génétiques"
                                                            required>
                                                            <div class="help-info">L’information sur La zone de juridiction (échelon national/fédéral, infra national ou communautaire) aide à inventorier sur une carte les différentes responsabilités parmi les ANC.</div>
                                                            <div km-select multiple name="absJurisdiction" ng-model="document.absJurisdiction"
                                                                items="options.jurisdictions()" required></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div ng-show="showJurisdictionName()">
                                                            <div class="km-control-group" name="absJurisdictionName"
                                                                required caption="Nom de la/des  juridiction(s)">
                                                                <div km-textbox-ml ng-model="document.absJurisdictionName"
                                                                    rows="1" locales="document.header.languages"
                                                                    placeholder="Noms de juridiction"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="km-control-group" name="absGeneticResourceTypes"
                                                            caption="Mots clés pour décrire l’étendue des responsabilités de l’ANC">
                                                            <div class="help-info">La collecte de ces informations est importante pour faciliter des recherches harmonisées parmi les fichiers. Veuillez sélectionner tous les mots clés pertinents qui peuvent aider à décrire les responsabilités de l’autorité nationale compétente.</div>
                                                            <div km-select multiple name="absGeneticResourceTypes"
                                                                ng-model="document.absGeneticResourceTypes" items="options.keywords()"
                                                                show-description="true"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- END IF NO SECTION --></section>




                                <section>
                                    <legend>Information supplémentaire</legend>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="relevantInformation" caption="Informations supplémentaires">
                                                <div class="help-info">Veuillez utiliser ce champ pour tout autre renseignement pertinent n'ayant pas été abordé ailleurs dans le fichier.</div>
                                                <div km-rich-textbox name="relevantInformation" rows="6" ng-model="document.relevantInformation"
                                                    locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="relevantDocuments" caption="Autres sites Internet ou fichiers en pièces jointes">
                                                <div km-link name="relevantDocuments" ng-model="document.relevantDocuments"
                                                    identifier="document.header.identifier"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <legend>Notes</legend>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="notes">
                                                <div class="help-info">Le champ «Notes» est destiné à vos notes ou commentaires personnels et sera masqué lors de la visualisation du fichier. This field is not meant to be used for confidential information.</div>
                                                <textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </edit-form>
                    <review-form>
                        <view-authority ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></view-authority>
                    </review-form>
                </div>

            </div>

        </div>
    </div>
</div>
