<div>
	<style>input.ng-invalid-url, input.ng-invalid-email { background-color:#f0ad4e; }</style>

	<div ng-show="document.type=='person'">

		<legend>Renseignements personnels</legend>

		<div  class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_prefix" caption="Titre">
					<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="Pr&eacute;nom">
					<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'"/>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_middleName" caption="Deuxi&egrave;me pr&eacute;nom">
					<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="Nom">
					 <input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'"/>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_organization"  caption="Organisation"><!-- <div km-select name="contact_organization" ng-model="document.organization"
						items="options.organization()" required></div> --><field-embed-contact ng-model="document.contactOrganization" locales="document.header.languages"
					name="organization" caption="Link Organization »"
					sub-filter="[{'type':'organization'}]"></field-embed-contact>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_department" caption="Section / division / unit&eacute;">
					<div km-textbox-ml name="contact_department" ng-model="document.department" locales="locales"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_designation" caption="Titre du poste">
					<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="document.type=='organization'">
		<legend>Information de l&rsquo;organisation</legend>
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Organisation">
					<div class="help-info">Nom complet sans abr&eacute;viation</div>
					<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="locales"></div>
					<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization"  locales="locales"></div>
				</div>
			</div>

			<div class="col-md-5 col-xs-12">
					<div class="km-control-group" name="contact_organizationAcronym" caption="Acronyme" ng-required="!form.organization.$valid && document.type!='person'">
					<div class="help-info">Abr&eacute;viation pour un nom long</div>
					<div  ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="exemple: SCDB" locales="locales"></div>
					<div  ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="exemple: SCDB" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="km-control-group" name="contact_organizationType" caption="Type d&apos;organisation">
					<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
				</div>
			</div>
			<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
				<div class="km-control-group" name="contact_organizationTypeName" caption="Autre type d&rsquo;organisation">
					<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="exemple: SCDB" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="document.contactOrganization">

		<legend>Adresse</legend>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_address" caption="Adresse civique">
					<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="exemple: 413 rue St-Jacques Suite 800" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="km-control-group" name="contact_city" caption="Ville" required>
					<div km-textbox-ml name="contact_city" ng-model="document.city" locales="locales" placeholder="exemple: Montr&eacute;al :"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_state" caption="&Eacute;tat ou province">
					<div km-textbox-ml name="contact_state" ng-model="document.state" locales="locales" placeholder="exemple: Qu&eacute;bec"></div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="km-control-group" name="contact_postalCode" caption="Code postal">
					<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="locales" placeholder="exemple: H2Y 1N9"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="Adresse au pays">
					<div km-select name="contact_country" ng-model="document.country" items="options.countries()"></div>
				</div>
			</div>
		</div>
	</div>

	<legend>Coordonn&eacute;es</legend>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_phones" caption="Num&eacute;ros de t&eacute;l&eacute;phone">
				<div class="help-info">Veuillez utiliser le format suivant&nbsp;: + (code du pays) (code de la ville) (num&eacute;ro de t&eacute;l&eacute;phone) (poste, s&apos;il y a lieu&nbsp;.</div>
				<div km-inputtext-list name="contact_phones" ng-model="document.phones"  placeholder="exemple: +1 514.288.2220" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_faxes" caption="T&eacute;l&eacute;copieur&nbsp;:">
				<div class="help-info">Veuillez utiliser le format suivant&nbsp;: + (code du pays) (code de la ville) (num&eacute;ro de t&eacute;l&eacute;phone) (poste, s&apos;il y a lieu&nbsp;.</div>
				<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="exemple: +1 514.288.6588"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="emails" caption="courriels&nbsp;:" required>
				<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="exemple: secretariat@cbd.int" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_websites" caption="Adresses Web">
				<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="exemple: http://www.cbd.int"></div>
			</div>
		</div>
	</div>
</div>
