<div class="md-whiteframe-z2" ng-controller="editCapacityBuildingInitiative">

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

    <div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

            <div class="alert alert-success alert-dismissable" ng-show="msg">
                <button aria-hidden="true" class="close" data-dismiss="alert" ng-click="msg=''" type="button">&times;</button><strong>{{msg}}</strong></div>

            <div class="alert alert-danger" ng-show="hasError()"><strong>Une erreur est survenue...</strong><div>{{error}}</div>
            </div>

            <div ng-show="isLoading()"><i class="fa fa-spinner fa-spin"></i> chargement en cours...</div>

            <div ng-show="!isLoading() && status!='hidden'">

                <div document="getCleanDocument()" hide-timer="false" languages="document.header.languages" workflow-std-buttons/>

                <div km-document-validation ng-model="validationReport"></div><!-- edit form --><form name="editForm" style="margin-top:10px"><!-- <div km-tab="general"> --><div ng-show="tab=='edit'" km-tab="edit">
						<legend>Informations g&eacute;n&eacute;rales</legend>

						<div class="row">

							<div class="col-md-12">
								<div class="km-control-group" required name="title" caption="Titre">
									<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="projectNumber" caption="Num&eacute;ro du projet ou identificateur">
                                    <div class="help-info">Veuillez fournir un num&eacute;ro de projet, un identificateur ou un num&eacute;ro de r&eacute;f&eacute;rence, le cas &eacute;ch&eacute;ant.</div>
									<div km-textbox-ml name="projectNumber" ng-model="document.projectNumber" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="geographicScope" caption="Couverture g&eacute;ographique">
									<div km-select name="geographicScope" required ng-model="document.geographicScope.scope" placeholder="Veuillez choisir une option" items="options.geographicScope()"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="document.geographicScope.scope">
							<div class="col-md-12">
								<div class="km-control-group" required name="regionsOrCountries" caption="Pays ou groupe(s) g&eacute;ographique(s) ou politique(s)">
									<div km-select multiple required name="regionsOrCountries" ng-model="document.geographicScope.regionsOrCountries" placeholder="Veuillez choisir une option" items="options.regions()"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-show="isSubnational()">
							<div class="col-md-12">
								<div class="km-control-group" required="isSubnational()" name="jurisdiction" caption="Juridiction">
									<div km-textbox-ml required="isSubnational()" name="jurisdiction" ng-model="document.geographicScope.jurisdiction" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="isCommunity()">
							<div class="col-md-12">
								<div class="km-control-group" required="isCommunity()" name="community" caption="Communaut&eacute;">
									<div km-textbox-ml required="isCommunity()" name="community" ng-model="document.geographicScope.community" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="status" caption="Statut du document">
									<div km-select name="status" required ng-model="document.status" id="documentStatus"
									placeholder="Veuillez choisir une option" items="options.status()"  show-description="true"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group well well-sm" name="timeframe" required caption="Calendrier">
									<div class="row">
									  	<div class="col-md-3">
											<div class="km-control-group" name="startDate" caption="Date de d&eacute;but">
												<div km-date name="startDate" ng-model="document.startDate" ng-change="clearDuration()"></div>
											</div>
									  	</div>
										<div class="col-md-3">
											<div class="km-control-group" name="endDate" caption="Date de fin">
												<div km-date name="endDate" ng-model="document.endDate" ng-change="clearDuration()"></div>
											</div>
										</div>
										<div class="col-md-1 text-center">
											<div class="km-control-group bold" name="enddate" style="margin-top:30px;" >OU</div>
										</div>
										<div class="col-md-5">
											<div class="km-control-group" name="duration" caption="Dur&eacute;e">
												<div km-textbox-ml name="duration" ng-model="document.duration" placeholder="Par ex, : 24 mois" locales="document.header.languages" ng-change="clearDates()"></div>
											</div>
									  	</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="organizations" caption="Organisme(s) ou organisation(s) mettant en oeuvre ou op&eacute;rant  l&apos;initiative">
                                <div class="help-info">Dans certaines circonstances, une organisme peut jouer &agrave; la fois le r&ocirc;le de mise en oeuvre et le r&ocirc;le d&rsquo;ex&eacute;cutant. Dans ces cas, veuillez s&eacute;lectionner les deux cases.</div>
								<div class="checkbox"><label><input type="checkbox" ng-model="document.isImplementedByAgencies">organisme(s) organisation(s) de mise en oeuvre</label></div>

                                <div class="row" >
                                    <div class="col-md-12">
                                        <div class="km-control-group" ng-show="document.isImplementedByAgencies" name="implementingAgencies" caption="Veuillez s&eacute;lectionner le/les organisme(s) ou organisation(s) de mise en oeuvre">
                                            <div class="help-info">Les organismes de mise en oeuvre sont les organisations ou entit&eacute;s juridiques responsables du d&eacute;veloppement de l&apos;initiative et de la supervision de sa mise en &oelig;uvre, de son suivi et de son &eacute;valuation, y compris la mise &agrave; disposition de fonds, en veillant &agrave; ce que les normes fiduciaires et l&apos;assurance de la qualit&eacute; soient appliqu&eacute;es et &agrave; ce que la pr&eacute;paration des rapports d&apos;ach&egrave;vement du projet soit faite. L&apos;organisme de mise en oeuvre est en fin de compte l&apos;entit&eacute; responsable de l&apos;ach&egrave;vement de l&apos;initiative et celle qui rend des comptes au donateur.</div>


                                            <field-embed-contact multiple ng-model="document.implementingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                        </div>
                                    </div>
                                </div>

								<div class="checkbox"><label><input type="checkbox" ng-model="document.isExecutededByAgencies">Organisme(s) ou organisation(s) de mise en oeuvre</label></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="km-control-group" ng-show="document.isExecutededByAgencies" name="executingAgencies" caption="Veuillez s&eacute;lectionner le/les organisme(s) ou organisation(s) de mise en oeuvre">
                                            <div class="help-info">L&rsquo;organisme d&apos;ex&eacute;cution est l&apos;organisation/institution qui g&egrave;re directement l&apos;initiative, y compris la planification quotidienne, la coordination et l&apos;ex&eacute;cution de ses activit&eacute;s, le suivi et l&apos;&eacute;tablissement de rapports sur les progr&egrave;s r&eacute;alis&eacute;s, le recrutement et la gestion des ressources (personnel, fonds, &eacute;quipement, etc. ) et qui remplit d&apos;autres fonctions de gestion de projet.</div>

                                            <field-embed-contact multiple ng-model="document.executingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                        </div>
                                    </div>
                                </div>

								<div class="checkbox"><label><input type="checkbox" ng-model="document.isCollaboratededByPartners">Partenaire(s) collaborateur(s)</label></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="km-control-group" ng-show="document.isCollaboratededByPartners" name="collaboratingPartners" caption="Veuillez s&eacute;lectionner le(s) partenaire(s) collaborateur(s)">
                                            <div class="help-info">Les partenaires collaborateurs sont les entit&eacute;s ou organisations qui apportent une contribution financi&egrave;re ou autre &agrave; l&apos;initiative et/ou qui soutiennent ou collaborent activement dans la mise en &oelig;uvre de l&apos;initiative.</div>
                                             
                                            <field-embed-contact multiple ng-model="document.collaboratingPartners" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                        </div>
                                    </div>
                                </div>
                                </div>
							</div>
						</div><!-- <div class="row">
                            <div class="col-md-12">
                                <div class="km-control-group" name="contacts" caption="Contact person(s)"> --> <!-- <div document-selector ng-model="document.contacts"
                                                                        question="contacts"
                                                                        schema="contact"
                                                                        government="document.government"
                                                                        filter="true"
                                                                        ></div> --> <!-- <field-embed-contact multiple ng-model="document.contacts" locales="document.header.languages" caption="{{'Add a contact »'}}"></field-embed-contact> --> <!-- </div>
                            </div>
                        </div> --><div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="type" caption="Type d&rsquo;initiative de renforcement des capacit&eacute;s">
                                    <div km-select name="type" required ng-model="document.type" items="options.cbiTypes()" show-description="true"></div>
								</div>
							</div>
						</div>


						<div class="row" ng-show="isPartofBroaderInitiative()">
							<div class="col-md-12">
								<div class="km-control-group" required="isPartofBroaderInitiative()" name="partOfBroaderInitiative" caption="Veuillez fournir des informations suppl&eacute;mentaires sur le projet/programme/initiative plus largement.">
									<div km-textbox-ml required="isPartofBroaderInitiative()" rows="2" name="partOfBroaderInitiative" ng-model="document.typeInfo" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="projectDocument" caption="Document de projet ou document qui d&eacute;crit l&rsquo;initiative">
									<div class="help-info">Pri&egrave;re de toujours joindre le ou les documents pertinents &agrave; int&eacute;grer &agrave; la base de donn&eacute;es afin que les utilisateurs puissent les t&eacute;l&eacute;charger. Veuillez &eacute;galement ajouter le lien vers les ressources qui sont disponibles sur Internet.</div>
									<div km-link name="projectDocument" required ng-model="document.projectDocument" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<legend>Renseignements d&eacute;taill&eacute;s</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="description" caption="Br&egrave;ve description de l&rsquo;initiative, y compris ses buts et objectifs">
									<div km-textbox-ml required ng-model="document.description" rows="3" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="audience" caption="Groupe (s) b&eacute;n&eacute;ficiaire (s) cibl&eacute;(s)">
									<div km-term-check name="audience" required ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="categories" caption="Cat&eacute;gorie(s) d&rsquo;activit&eacute;s de renforcement des capacit&eacute;s">
									<div km-term-check show-description="true" name="categories" required ng-model="document.categories" terms="options.categories()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<legend>Information sur les fonds</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="fundingSourceTypes" caption="Type de source de financement">
                                    <div km-term-check show-description="true" name="fundingSourceTypes" required ng-model="document.fundingSourceTypes" terms="options.fundingSources()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="isSelfFunding()">
							<div class="col-md-12">

								<div class="km-control-group" required="isSelfFunding()" name="selfFunding" caption="Veuillez fournir des informations compl&eacute;mentaires sur le financement">
									<div km-textbox-ml required="isSelfFunding()" rows="2" name="selfFunding" ng-model="document.selfFundingInfo" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="km-control-group" name="corefundingsources" caption="Sources principales de financement"><!-- <div document-selector ng-model="document.coreFundingSources"
                                                                        question="coreFundingSources"
                                                                        schema="contact"
                                                                        government="document.government"
                                                                        filter="true"
                                                                        ></div> --><field-embed-contact multiple ng-model="document.coreFundingSources" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="km-control-group" name="cofinancingsources" caption="Sources de co-financement"><!-- <div document-selector ng-model="document.coFinancingSources"
                                                                        question="coFinancingSources"
                                                                        schema="contact"
                                                                        government="document.government"
                                                                        filter="true"
                                                                        ></div> --><field-embed-contact multiple ng-model="document.coFinancingSources" locales="document.header.languages" caption="{{'Add an organization »'}}"></field-embed-contact>
                                </div>
                            </div>
                        </div>

						<div class="row">
							<div class="col-md-3">
								<div class="km-control-group" name="totalBudget" caption="Budget total (montant en dollars des &Eacute;.-U.)">
                                     <div class="help-info">Cela peut inclure des contributions non mon&eacute;taires toutefois exprim&eacute;es en termes mon&eacute;taires.</div><!-- <div km-textbox-ml name="totalBudget" ng-model="document.totalBudget" rows="1" locales="document.header.languages"></div> --><div class="input-group"><span class="input-group-addon">Dollars des &Eacute;.-U.</span><input type="text" class="form-control" style="width:200px" required name="totalBudget" ng-model="document.totalBudget" />
									</div>
								</div>
							</div>
						</div>


						<legend>R&eacute;sultats du renforcement des capacit&eacute;s</legend>
                        <div class="help-info">Cette information peut &ecirc;tre fournie une fois qu&apos;il existe des r&eacute;sultats (r&eacute;sultats, donn&eacute;es ou impacts) ou des pratiques exemplaires et des le&ccedil;ons tir&eacute;es de l&apos;initiative en cours ou termin&eacute;e.</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="resultsAchievements" caption="R&eacute;sultats : Principaux accomplissements"><span class="help-info">Veuillez fournir un bref r&eacute;sum&eacute; des principales r&eacute;alisations de l&apos;initiative, y compris celles li&eacute;es &agrave; la promotion de l&apos;&eacute;galit&eacute; des sexes dans la r&eacute;alisation des objectifs de la Convention et de ses Protocoles, le cas &eacute;ch&eacute;ant. (max. 200 caract&egrave;res)</span><div km-textbox-ml name="resultsAchievements" ng-model="document.resultsAchievements" rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="resultsOutputs" caption="R&eacute;sultats : Principaux r&eacute;sultats"><span class="help-info">Veuillez joindre/t&eacute;l&eacute;charger une copie ou fournir un hyperlien vers les &eacute;l&eacute;ments pertinents (ex.: outils, mat&eacute;riel) &eacute;labor&eacute;s par l&rsquo;initiative et/ou ses rapports.</span><div km-link name="resultsOutputs" ng-model="document.resultsOutputs" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
								</div>
							</div>
						</div><!-- <div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="resultsReference" caption="Clearing-house record containing relevant information">
									<div km-reference multiple name="resultsReference" ng-model="document.resultsReference" loader="loadRecords(identifier, 'organization')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div> --><div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="bestPractices" caption="Pratiques exemplaires et le&ccedil;ons apprises"><span class="help-info">Veuillez fournir un bref r&eacute;sum&eacute; des pratiques exemplaires et des le&ccedil;ons tir&eacute;s (maximum de 500 mots)</span><div km-textbox-ml name="bestPractices" ng-model="document.bestPractices" rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

                        <legend>Information sur la couverture th&eacute;matique de l&rsquo;initiative</legend>

                        <div class="row" >
							<div class="col-md-12">
								<div class="km-control-group" required name="aichiTargets" caption="Objectifs d&apos;Aichi pour la biodiversit&eacute; en lien avec ce th&egrave;me(s)">
									<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
                               <div class="km-control-group" name="absKeyAreas" required caption="Domaines cl&eacute;s et mesures strat&eacute;giques pour le renforcement et le d&eacute;veloppement des capacit&eacute;s">
									 <div class="help-info">Les domaines cl&eacute;s sont identifi&eacute;s par le Cadre strat&eacute;gique pour le renforcement des capacit&eacute;s et le d&eacute;veloppement pour appuyer la mise en &oelig;uvre effective du Protocole de Nagoya (d&eacute;cision NP-1/8).</div>
									 <div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
								</div>
							</div>
						</div><a translation-url  name="#AdditionalInformation"></a><legend>Information suppl&eacute;mentaire</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="address" caption="Toute autre information utile" >
									<div class="help-info">Veuillez utiliser ce champ pour tout autre renseignement pertinent n&apos;ayant pas &eacute;t&eacute; int&eacute;gr&eacute; ailleurs dans cet enregistrement.</div>
									<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="relevantDocuments" caption="Autres documents pertinents">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="notes">
									<legend>Notes</legend><span class="help-info">Le champ «&nbsp;Notes&nbsp;» est r&eacute;serv&eacute; &agrave; votre usage personnel. Il ne peut &ecirc;tre vu que pendant la modification de l&apos;enregistrement.</span><div km-notes name="notes" ng-model="document.notes"></div>
								</div>
							</div>
						</div>
					</div>


				</form>

            	<div ng-show="tab=='review'" km-tab="review" id="schemaView">
                    <div view-capacity-building-initiative ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
                </div>

                <hr>

            </div>
        </div>
    </div>
</div>

</div>
</div>
