<div ng-controller="editContact">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>



	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<div ng-show="msg" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button><strong>{{msg}}</strong></div>
			

			<div class="alert alert-danger" ng-show="hasError()"><strong>Une erreur est survenue...</strong><div>{{error}}</div>
			</div><!--<div ng-show="isLoading()">
				<i class="fa fa-spinner fa-spin"></i> Loading...
			</div>--><div ng-show="!isLoading() && status!='hidden'">
				<div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" />
				<p class="color-litegrey">Veuillez noter que les coordonn&eacute;es des contacts nationaux ne sont pas disponibles pour le public au Centre d&rsquo;&eacute;change APA mais sont des fichiers autonomes. Les contacts nationaux publi&eacute;s seront seulement affich&eacute;s si ils sont li&eacute;s &agrave; d&rsquo;autres fichiers nationaux d&eacute;j&agrave; publi&eacute;s.</p>

				<div km-document-validation ng-model="validationReport"></div>
				<form name="editForm" class="editForm" style="margin-top:10px">
					<div ng-show="tab=='edit'" km-tab="edit">
						<legend name="formInfo" style="display:none"></legend>
						<section>
							<div class="row">
								<div class="col-sm-12">
									<div class="km-control-group" name="government" required caption="Gouvernements">
										<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Veuillez choisir un pays..."></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<legend name="contactType">Type de contact</legend>
									<div class="km-control-group" name="notes">
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="organization" name="editionContactType" />Organisation</label>
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="person" name="editionContactType" />Personne</label>
									</div>
								</div>
							</div>
						</section>
						<div>
							<style>input.ng-invalid-url, input.ng-invalid-email { background-color: #f0ad4e; }</style>

							<div ng-show="document.type=='person'">

								<legend>Renseignements personnels</legend>

								<div class="row">

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_prefix" caption="Titre">
											<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="contact_firstName" ng-required="!form.contact_firstNameX.$valid" caption="Pr&eacute;nom" required>
											<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'" />
										</div>
									</div>

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_middleName" caption="Deuxi&egrave;me pr&eacute;nom">
											<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName" />
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="Nom" required>
											<input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'" />
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_organization" caption="Organisation">
											<div document-selector ng-model="document.contactOrganization" type="radio"
		                                                                 question="contactOrganization"
		                                                                 government="document.government"
		                                                                 schema="contact AND type_s:organization"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_department" caption="Section / division / unit&eacute;">
											<div km-textbox-ml name="contact_department" ng-model="document.department" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_designation" caption="Titre du poste">
											<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="document.type=='organization'">
								<legend>Information de l&rsquo;organisation</legend>
								<div class="row">
									<div class="col-md-7 col-xs-12">
										<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Organisation">
											<div class="help-info">Nom complet sans abr&eacute;viation</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="document.header.languages"></div>
											<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-5 col-xs-12">
										<div class="km-control-group" name="contact_organizationAcronym" caption="Acronyme" ng-required="!form.organization.$valid && document.type!='person'">
											<div class="help-info">Abr&eacute;viation pour un nom long</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="exemple: SCDB" locales="document.header.languages"></div>
											<div ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="exemple: SCDB" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="km-control-group" name="contact_organizationType" caption="Type d&apos;organisation">
											<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
										</div>
									</div>
									<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
										<div class="km-control-group" name="contact_organizationTypeName" caption="Autre type d&rsquo;organisation">
											<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="exemple: SCDB" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-hide="document.contactOrganization">

								<legend>Adresse</legend>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_address" caption="Adresse civique">
											<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="exemple: 413 rue St-Jacques Suite 800" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="km-control-group" name="contact_city" caption="Ville" >
											<div km-textbox-ml name="contact_city" ng-model="document.city" locales="document.header.languages" placeholder="exemple: Montr&eacute;al :"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_state" caption="&Eacute;tat ou province">
											<div km-textbox-ml name="contact_state" ng-model="document.state" locales="document.header.languages" placeholder="exemple: Qu&eacute;bec"></div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-md-6">
										<div class="km-control-group" name="contact_postalCode" caption="Code postal">
											<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="exemple: H2Y 1N9"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="Adresse au pays">
											<div km-select name="contact_country" ng-model="document.country" items="options.addressCountries()"></div>
										</div>
									</div>
								</div>
							</div>

							<legend>Coordonn&eacute;es</legend>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_phones" caption="Num&eacute;ros de t&eacute;l&eacute;phone">
										<div class="help-info">Veuillez utiliser le format suivant&nbsp;: + (code du pays) (code de la ville) (num&eacute;ro de t&eacute;l&eacute;phone) (poste, s&apos;il y a lieu&nbsp;.</div>
										<div km-inputtext-list name="contact_phones" ng-model="document.phones" placeholder="exemple: +1 514.288.2220"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_faxes" caption="T&eacute;l&eacute;copieur&nbsp;:">
										<div class="help-info">Veuillez utiliser le format suivant&nbsp;: + (code du pays) (code de la ville) (num&eacute;ro de t&eacute;l&eacute;phone) (poste, s&apos;il y a lieu&nbsp;.</div>
										<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="exemple: +1 514.288.6588"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_emails" caption="courriels&nbsp;:" required>
										<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="exemple: secretariat@cbd.int"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_websites" caption="Adresses Web">
										<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="exemple: http://www.cbd.int"></div>
									</div>
								</div>
							</div>
						</div>

						<section>

							<legend>Notes</legend>
							<div class="row">
								<div class="col-xs-12">
									<div class="km-control-group" name="notes">
										<div class="help-info">The &ldquo;Notes&rdquo; field is for your personal notes or comments and will be hidden when viewing the record. Ce champ est pas destin&eacute; &agrave; &ecirc;tre utilis&eacute; pour obtenir des informations confidentielles.</div>
										<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
									</div>
								</div>
							</div>
						</section>

					</div>
				</form>

				<div ng-show="tab=='review'" km-tab="review" id="schemaView">
					<view-contact ng-model='reviewDocument' locale="review.locale"></view-contact>

				</div>
			</div>
		</div>

	</div>
</div>
