<div ng-controller="editContact">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>



	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<div ng-show="msg" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button><strong>{{msg}}</strong></div>
			

			<div class="alert alert-danger" ng-show="hasError()"><strong>发生错误...</strong><div>{{error}}</div>
			</div><!--<div ng-show="isLoading()">
				<i class="fa fa-spinner fa-spin"></i> Loading...
			</div>--><div ng-show="!isLoading() && status!='hidden'">
				<div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" />
				<p class="color-litegrey">请注意，国家联系人未在获取和惠益分享信息交换所中作为独立记录公开提供。仅当与其他公开的国家记录相关联时才显示所公布的国家联系人。</p>

				<div km-document-validation ng-model="validationReport"></div>
				<form name="editForm" class="editForm" style="margin-top:10px">
					<div ng-show="tab=='edit'" km-tab="edit">
						<legend name="formInfo" style="display:none"></legend>
						<section>
							<div class="row">
								<div class="col-sm-12">
									<div class="km-control-group" name="government" required caption="政府">
										<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="请选择一个国家..."></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<legend name="contactType">联系人类型</legend>
									<div class="km-control-group" name="notes">
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="organization" name="editionContactType" />组织</label>
										<label class="radio-inline">
											<input type="radio" ng-model="document.type" value="person" name="editionContactType" />个人</label>
									</div>
								</div>
							</div>
						</section>
						<div>
							<style>
								input.ng-invalid-url,
								input.ng-invalid-email {
									background-color: #f0ad4e;
								}
							</style>

							<div ng-show="document.type=='person'">

								<legend>个人信息</legend>

								<div class="row">

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_prefix" caption="标题">
											<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="contact_firstName" ng-required="!form.contact_firstNameX.$valid" caption="名字" required>
											<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'" />
										</div>
									</div>

									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="km-control-group" name="contact_middleName" caption="中间名">
											<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName" />
										</div>
									</div>

									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="姓氏" required>
											<input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'" />
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_organization" caption="组织">
											<div document-selector ng-model="document.contactOrganization" type="radio"
		                                                                 question="contactOrganization"
		                                                                 government="document.government"
		                                                                 schema="contact AND type_s:organization"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_department" caption="部门/分支机构/单位">
											<div km-textbox-ml name="contact_department" ng-model="document.department" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_designation" caption="头衔">
											<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="document.type=='organization'">
								<legend>组织信息</legend>
								<div class="row">
									<div class="col-md-7 col-xs-12">
										<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="组织">
											<div class="help-info">全名，无缩写</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="document.header.languages"></div>
											<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization" locales="document.header.languages"></div>
										</div>
									</div>

									<div class="col-md-5 col-xs-12">
										<div class="km-control-group" name="contact_organizationAcronym" caption="缩写" ng-required="!form.organization.$valid && document.type!='person'">
											<div class="help-info">长名缩写</div>
											<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="例如：生物多样性公约秘书处" locales="document.header.languages"></div>
											<div ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="例如：生物多样性公约秘书处" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="km-control-group" name="contact_organizationType" caption="机构类型">
											<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
										</div>
									</div>
									<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
										<div class="km-control-group" name="contact_organizationTypeName" caption="其他组织类型">
											<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="例如：生物多样性公约秘书处" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-hide="document.contactOrganization">

								<legend>地址</legend>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="contact_address" caption="街道地址">
											<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="例如：413 St-Jacques Ouest, Suite 800" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="km-control-group" name="contact_city" caption="城市" >
											<div km-textbox-ml name="contact_city" ng-model="document.city" locales="document.header.languages" placeholder="例如：蒙特利尔"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_state" caption="州/省">
											<div km-textbox-ml name="contact_state" ng-model="document.state" locales="document.header.languages" placeholder="例如：Quebec（魁北克）"></div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-md-6">
										<div class="km-control-group" name="contact_postalCode" caption="邮编">
											<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="例如：H2Y 1N9"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="国家地址">
											<div km-select name="contact_country" ng-model="document.country" items="options.addressCountries()"></div>
										</div>
									</div>
								</div>
							</div>

							<legend>联系信息</legend>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_phones" caption="电话号码">
										<div class="help-info">请使用下列格式：+ [国家码] [城市码] [电话号码] [分机号码（如需）]。</div>
										<div km-inputtext-list name="contact_phones" ng-model="document.phones" placeholder="例如：+1 514.288.2220"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_faxes" caption="传真号码">
										<div class="help-info">请使用下列格式：+ [国家码] [城市码] [电话号码] [分机号码（如需）]。</div>
										<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="例如：+1 514.288.6588"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_emails" caption="电子邮箱" required>
										<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="示例：secretariat@cbd.int"></div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="km-control-group" name="contact_websites" caption="网址">
										<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="例如：http://www.cbd.int"></div>
									</div>
								</div>
							</div>
						</div>

						<section>

							<legend>备注</legend>
							<div class="row">
								<div class="col-xs-12">
									<div class="km-control-group" name="notes">
										<div class="help-info">&ldquo;备注&rdquo;字段用于填写您的个人注释或评论，在查看记录时将被隐藏。此字段不适用于保密信息。</div>
										<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
									</div>
								</div>
							</div>
						</section>

					</div>
				</form>

				<div ng-show="tab=='review'" km-tab="review">

					<div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
						<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
					</div>
					<view-contact ng-model='reviewDocument' locale="review.locale"></view-contact>

				</div>
			</div>
		</div>

	</div>
</div>
