
<div ng-controller="editAuthority">
    <div><!--help schema="55e073c2e81495f09996b4d8" show-help="showHelp" repalce-glossary-terms="true">--><div ng-include="'/app/views/forms/edit/edit_header.html'"></div>
        <div style="padding: 24px;background-color:#FFF;;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

                <div class="alert alert-danger" ng-show="hasError()"><strong>发生错误...</strong><div>{{error}}</div>
                </div>

                <warning-message-cna doc="document"></warning-message-cna><!--<div ng-show="isLoading()">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>--><div ng-show="!isLoading() && status!='hidden'">

                    <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" />

                    <div km-document-validation ng-model="validationReport"></div>
                    <form class="editForm" name="editForm">

                        <div ng-show="tab=='edit'" km-tab="edit">
                            <legend name="formInfo" style="display:none"></legend>

                            <section>
                                <legend name="generalInfo">一般信息</legend>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="government" required caption="国家">
                                            <div>
                                                <div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="请选择一个国家..."></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="name" required caption="国家主管机关名称">
                                           <div class="help-info">提供负责实体的名称，如环境部。请记住国家主管部门名称将有助于查明获取和惠益分享信息交换所的记录。</div>
                                            <div km-textbox-ml name="name" required ng-model="document.name" rows="1" placeholder="" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <legend name="coordinates">联系方式</legend>
                                <div class="help-info">这些联系方式将帮助遗传资源用户与国家主管部门保持联系。务必及时更新此信息，以为用户提供最新准确的信息。</div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="address" caption="地址">
                                            <div km-textbox-ml ng-model="document.address" rows="2" placeholder="例如：413 St-Jacques Ouest, Suite 800" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="city" required caption="城市">
                                            <div km-textbox-ml name="city" ng-model="document.city" required locales="document.header.languages" placeholder="例如：Montreal（蒙特利尔）"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="state" caption="State or Province">
                                            <div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages" placeholder="例如：Quebec（魁北克）"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="postalCode" caption="邮编">
                                            <div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="例如：H2Y 1N9"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="country" required caption="国家">
                                            <div afc-autocomplete name="country" ng-model="document.country" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" required></div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="phones" required caption="电话号码"><!-- <div class="help-info">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div> --><div km-inputtext-list name="phones" ng-model="document.phones" required placeholder="例如：+1 514.288.2220"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="faxes" caption="传真号码"><!-- <div class="help-info">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div> --><div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="例如：+1 514.288.6588"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="emails" required caption="电子邮箱">
                                            <div km-inputtext-list name="emails" required type="email" ng-model="document.emails" placeholder="示例：secretariat@cbd.int"></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="km-control-group" name="websites" caption="网址"><!--   <div class="help-info">Please provide the URL of the website (e.g http://absch.cbd.int/) and the name of the website (e.g. ‘Access and Benefit-sharing Clearing-House’).</div> --><div km-link name="websites" ng-model="document.websites" allow-link="true" allow-file="false"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <legend name="contactInfo">联系信息</legend>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="km-control-group" name="contacts" caption="额外联系人">

                                          <div document-selector ng-model="document.contacts"
                                                               question="contacts"
                                                               government="document.government"
                                                               schema="(contact authority)"
                                                               filter="true"></div>

                                    </div>
                                </div>
                            </div>
                            </section>

                            <section>
                                <legend name="policyBasis">国家主管部门能力的法律、行政或政策依据</legend>
                                <div class="help-info">在本部分中，可提及赋予国家主管部门权职的相关获取和惠益分享措施。为能将国家主管部门与相关获取和惠益分享措施联系起来，需先记录该获取和惠益分享措施。因此，如果您尚未提交相关获取和惠益分享措施，您可能希望将国家主管部门作为草案保存，然后先发布获取和惠益分享措施。</div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="absPolicyBasisForCompetencyRef" caption="提供指向所有相关法律、行政或政策措施的链接">
                                        <div document-selector ng-model="document.absPolicyBasisForCompetencyRef"
                                                               question="absPolicyBasisForCompetencyRef"
                                                               government="document.government"
                                                               schema="measure"
                                                               filter="true"></div>
                                       </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="absPolicyBasisForCompetency" caption="如需要，请就国家主管部门职权的法律、行政或政策依据提供补充信息："></div>
                                        <div km-rich-textbox ng-model="document.absPolicyBasisForCompetency" rows="6" placeholder="" locales="document.header.languages"></div>
                                    </div>
                                </div>
                            </section>


                            <section>
                                <legend name="responsibilities">职责</legend>
                                    <div class="help-info">第 13 条第 4 款规定：&ldquo;缔约方如果指定了一个以上的国家主管部门，则应将有关这些主管部门各自职责的资料随通知一并送交秘书处。如果属于此种情况，则此种资料至少应明确说明由哪一主管部门负责所搜寻的遗传资源。&rdquo;</div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" ng-show="showResponsibleforAllMsg()" name="absResponsibleForAllNot" caption="贵国已有一个国家主管部门，请具体说明每个国家主管部门的职责范围。" />

                                        <div class="km-control-group" name="absResponsibleForAll" required caption="这是贵国唯一指定的国家主管部门（CNA）吗？如为“否”，则请描述这个国家主管部门（CNA）的职责。">

                                            <div km-yes-no required ng-model="document.absResponsibleForAll" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div><!-- IF NO SECTION --><div ng-class="{'disable':(document.absResponsibleForAll==true || document.absResponsibleForAll==null), 'bg-white':!(document.absResponsibleForAll==true || document.absResponsibleForAll==null) }" class="well no-shadow" style="padding-top:0;padding-bottom:0;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h4 ng-show="document.absResponsibleForAll==null">如为&ldquo;否&rdquo;，则需要提供以下信息。</h4>
                                                    <h4 ng-show="document.absResponsibleForAll==true">此部分非必填项。</h3>
                                                    <div ng-show="document.absResponsibleForAll==false">
                                                        <h4 class="color-red">当不止一个国家​​主管部门（CNA）时，本部分为必填项。请确保在所有已发布记录中妥当描述各个国家主管部门（CNA）的责任。</h4>
                                                        </div>

                                                    <div class="km-control-group" name="responsibilities" caption="国家主管部门责任简述（最多 300 个字符）。" required>
                                                        <div class="help-info">第13条第2款规定，&ldquo;国家主管部门应依照适用的国家立法、行政或政策措施，负责批准获取或酌情签发符合获取要求的书面证明，并负责就获得事先知情同意和设立共同商定条件的适用程序与要求提供建议。&rdquo;请记住，本部分旨在帮助用户理解与获取遗传资源相关的责任，并回答以下问题：由谁批准获取？可获取哪些资源？对责任的描述应该简短易懂。</div>
                                                        <div km-rich-textbox name="responsibilities" ng-model="document.responsibilities" rows="6" placeholder="" locales="document.header.languages" required></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="km-control-group" name="absJurisdiction" caption="可批准获取遗传资源的辖区" required>
                                                        <div class="help-info">有关辖区（国家/联邦、次国家或社区层面）的信息有助于描绘不同国家主管部门的不同责任。</div>
                                                        <div km-select multiple name="absJurisdiction" ng-model="document.absJurisdiction" items="options.jurisdictions()" required></div>
                                                    </div>
                                                </div>
                                                </div>
                                                 <div class="row">
                                                <div class="col-xs-6">
                                                    <div ng-show="showJurisdictionName()">
                                                        <div class="km-control-group" name="absJurisdictionName" required caption="辖区名称">
                                                            <div km-textbox-ml ng-model="document.absJurisdictionName" rows="1" locales="document.header.languages" placeholder="辖区名称"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="km-control-group" name="absGeneticResourceTypes" caption="描述国家主管部门责任范围的关键词">
                                                        <div class="help-info">收集这些信息对于促进在各记录间进行统一搜索很重要。请选择有助于描述国家主管部门职责的所有相关关键词。</div>
                                                        <div km-select multiple name="absGeneticResourceTypes" ng-model="document.absGeneticResourceTypes" items="options.keywords()" show-description="true"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- END IF NO SECTION --></section>




                            <section>
                                <legend>更多信息</legend>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="relevantInformation" caption="更多信息">
                                            <div class="help-info">请在此处提供记录中其它位置未能提到的任何其它相关信息。</div>
                                            <div km-rich-textbox name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="relevantDocuments" caption="其它相关网址或附加文档">
                                            <div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <legend>备注</legend>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="notes">
                                            <div class="help-info">&ldquo;备注&rdquo;字段用于填写您的个人注释或评论，在查看记录时将被隐藏。此字段不适用于保密信息。</div>
                                            <textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>


                    <div ng-show="tab=='review'" km-tab="review" id="schemaView">
                       <div view-authority ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>
                    </div><!--
        <hr style="margin-top:20px;">

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">

                <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="true"/>

            </div>
        </div> --></div>



            </div>

    </div>
</div>
</div>

</div>
</div>
</div>
