<div>
	<style>input.ng-invalid-url, input.ng-invalid-email { background-color:#f0ad4e; }</style>

	<div ng-show="document.type=='person'">

		<legend>个人信息</legend>

		<div  class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_prefix" caption="称谓">
					<div km-textbox-ml name="contact_prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="名字">
					<input type="text" class="form-control" name="contact_firstNameX" ng-model="document.firstName" ng-required="document.type=='person'"/>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="contact_middleName" caption="中间名">
					<input type="text" class="form-control" name="contact_middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="姓氏">
					 <input type="text" class="form-control" name="contact_lastNameX" ng-model="document.lastName" ng-required="document.type=='person'"/>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_organization"  caption="Organization"><!-- <div km-select name="contact_organization" ng-model="document.organization"
						items="options.organization()" required></div> --><field-embed-contact ng-model="document.contactOrganization" locales="document.header.languages"
					name="organization" caption="Link Organization »"
					sub-filter="[{'type':'organization'}]"></field-embed-contact>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_department" caption="部门/分支机构/单位">
					<div km-textbox-ml name="contact_department" ng-model="document.department" locales="locales"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_designation" caption="头衔">
					<div km-textbox-ml name="contact_designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="document.type=='organization'">
		<legend>组织信息</legend>
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<div class="km-control-group" name="contact_organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Organization">
					<div class="help-info">全名，无缩写</div>
					<div ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organization" ng-model="document.name" required locales="locales"></div>
					<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="contact_organization" ng-model="document.organization"  locales="locales"></div>
				</div>
			</div>

			<div class="col-md-5 col-xs-12">
					<div class="km-control-group" name="contact_organizationAcronym" caption="Acronym" ng-required="!form.organization.$valid && document.type!='person'">
					<div class="help-info">长名缩写</div>
					<div  ng-if="document.header.schema=='organization'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.acronym" placeholder="例如：生物多样性公约秘书处" locales="locales"></div>
					<div  ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="contact_organizationAcronym" ng-model="document.organizationAcronym" placeholder="例如：生物多样性公约秘书处" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="km-control-group" name="contact_organizationType" caption="组织类型">
					<div km-select name="contact_organizationType" ng-model="document.organizationType" items="options.organizationTypes()"></div>
				</div>
			</div>
			<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
				<div class="km-control-group" name="contact_organizationTypeName" caption="其他组织类型">
					<div km-textbox-ml name="contact_organizationTypeName" ng-model="document.organizationType.customValue" placeholder="例如：生物多样性公约秘书处" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="document.contactOrganization">

		<legend>地址</legend>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="contact_address" caption="街道地址">
					<div km-textbox-ml name="contact_address" ng-model="document.address" rows="2" placeholder="例如：413 St-Jacques Ouest, Suite 800" locales="locales"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="km-control-group" name="contact_city" caption="城市" required>
					<div km-textbox-ml name="contact_city" ng-model="document.city" locales="locales" placeholder="例如：Montreal（蒙特利尔）"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_state" caption="State or Province">
					<div km-textbox-ml name="contact_state" ng-model="document.state" locales="locales" placeholder="例如：Quebec（魁北克）"></div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="km-control-group" name="contact_postalCode" caption="邮编">
					<div km-textbox-ml name="contact_postalCode" ng-model="document.postalCode" locales="locales" placeholder="例如：H2Y 1N9"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="km-control-group" name="contact_country" ng-required="!form.contact_country.$valid" caption="国家地址">
					<div km-select name="contact_country" ng-model="document.country" items="options.countries()"></div>
				</div>
			</div>
		</div>
	</div>

	<legend>联系信息</legend>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_phones" caption="电话号码">
				<div class="help-info">请使用以下格式：+ [国家码] [城市码] [电话号码] [分机号码（如需）]。</div>
				<div km-inputtext-list name="contact_phones" ng-model="document.phones"  placeholder="例如：+1 514.288.2220" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_faxes" caption="传真号码">
				<div class="help-info">Please use the following format:+ [国家码] [城市码] [电话号码] [分机号码（如需）]。</div>
				<div km-inputtext-list name="contact_faxes" ng-model="document.faxes" placeholder="例如：+1 514.288.6588"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="emails" caption="电子邮箱" required>
				<div km-inputtext-list name="contact_emails" type="email" ng-model="document.emails" placeholder="示例：secretariat@cbd.int" ></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="contact_websites" caption="网址">
				<div km-inputtext-list name="contact_websites" type="url" ng-model="doc._urls" placeholder="例如：http://www.cbd.int"></div>
			</div>
		</div>
	</div>
</div>
