<div class="md-whiteframe-z2" ng-controller="editCapacityBuildingInitiative">

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

    <div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

            <div class="alert alert-success alert-dismissable" ng-show="msg">
                <button aria-hidden="true" class="close" data-dismiss="alert" ng-click="msg=''" type="button">&times;</button><strong>{{msg}}</strong></div>

            <div workflow-arrow-buttons document="getCleanDocument()" 
                languages="document.header.languages" tab="tab"><!-- <intro-form></intro-form> --> <!--only use it if default article intro is not required --><edit-form>
							<form name="editForm" style="margin-top:10px"><!-- <div km-tab="general"> --><div ng-show="tab=='edit'" km-tab="edit">
											
										<legend>一般信息</legend>
				
										<div class="row">
											<div class="col-xs-12" >
												<div class="km-control-group" name="languages" required caption="Please select in which language(s) you wish to submit this record:">
													<div class="indent">
														<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
				
											<div class="col-md-12">
												<div class="km-control-group" required name="title" caption="1.Title">
													<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="projectNumber" caption="2.项目编号或标识符">
													<div class="help-info">请提供任意项目编号、标识符或参考编号（如适用）。</div>
													<div km-textbox-ml name="projectNumber" ng-model="document.projectNumber" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="geographicScope" caption="3.地理范围">
													<div km-select name="geographicScope" required ng-model="document.geographicScope.scope"
													 placeholder="请选择一个选项" items="options.geographicScope()" ng-change="clearGeographicSelection()"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="document.geographicScope.scope && (isGlobalOrRegional() || isNational())">
											
												<div class="col-md-12">
												<div class="km-control-group well well-sm" name="regionsOrCountries"
												required caption="Geographical or political/economic group(s) or Country(ies)" style="padding:10px;">
													<div class="row">
														<div class="col-md-5" ng-show="!isNational()"><!-- document.geographicScope.regionsOrCountries --><div class="km-control-group"  name="regions" 
															caption="Geographical or political/economic group(s)">
																<div km-select multiple required name="geographicalRegions" 
																ng-model="document.geographicScope.regions" placeholder="请选择一个选项" 
																items="options.regions()"></div>
															</div>
														</div>
														<div class="col-md-2" ng-hide="!isGlobalOrRegional()">和/或</div>
														<div class="col-md-5">
															<div class="km-control-group"  name="countries" caption="国家">
																<div km-select multiple required name="geographicalCountries" ng-model="document.geographicScope.countries" placeholder="请选择一个选项" items="options.countries()"></div>
															</div>
														</div>
													</div>
												</div></div>
										</div>
				
										<div class="row" ng-show="isSubnational()">
											<div class="col-md-12">
												<div class="km-control-group" required="isSubnational()" name="jurisdiction" caption="辖区">
													<div km-textbox-ml required="isSubnational()" name="jurisdiction" ng-model="document.geographicScope.jurisdiction" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="isCommunity()">
											<div class="col-md-12">
												<div class="km-control-group" required="isCommunity()" name="community" caption="社区">
													<div km-textbox-ml required="isCommunity()" name="community" ng-model="document.geographicScope.community" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="capacityBuildingType" caption="4.能力建设倡议类型">
													<label for="capacityBuildingTypeYes" style="width:0px;height:0px;display:inline"><span style="display:none">4.至少一个问题的回答为是</span></label>
													<div style="padding-left:20px" class="well">
														<div class="km-control-group"  bold="true" required name="isProjectProgramme" caption="a. 这是专门的获取和惠益分享能力建设项目/方案吗？">
															<div class="km-yes-no" required name="isProjectProgramme" ng-model="document.capacityBuildingType.isProjectProgramme"></div>
														</div>
														<div class="km-control-group"  bold="true" required name="isBroaderProjectPart" caption="b. 这一获取和惠益分享活动或组成部分是否属于更广泛的能力建设项目或方案？">
															<div class="km-yes-no" required name="isBroaderProjectPart" ng-model="document.capacityBuildingType.isBroaderProjectPart"></div>
														</div>
														<div class="km-control-group" name="broaderProjects" caption="Please identify the broader project" ng-show="document.capacityBuildingType.isBroaderProjectPart">
																
															<div document-selector ng-model="document.capacityBuildingType.broaderProjects"
																							question="capacityBuildingInitiative"
																							schema="capacityBuildingInitiative" filter="true" skip-government="true"></div>
														</div>
														<div class="km-control-group"  bold="true" required name="isStandaloneProject" caption="c. 这一独立获取和惠益分享活动是否独立于更广泛的能力建设项目或方案？">
															<div class="km-yes-no" required name="isStandaloneProject" ng-model="document.capacityBuildingType.isStandaloneProject"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="status" caption="5.文件状况">
													<div km-select name="status" required ng-model="document.status" id="documentStatus"
													placeholder="请选择一个选项" items="options.status()"  show-description="true"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="timeframe" required caption="6.时间表">
													<div class=" well well-sm">
														<div class="row">
															<div class="col-md-3">
																<div class="km-control-group" name="startDate" caption="开始日期">
																	<div km-date name="startDate" ng-model="document.startDate" ng-change="clearDuration()"></div>
																</div>
															</div>
															<div class="col-md-3">
																<div class="km-control-group" name="endDate" caption="结束日期">
																	<div km-date name="endDate" ng-model="document.endDate" ng-change="clearDuration()"></div>
																</div>
															</div>
															<div class="col-md-1 text-center" ng-show="!document.status || isProposedOrApproved()">
																<div class="km-control-group bold" name="enddate" style="margin-top:30px;" >或者</div>
															</div>
															<div class="col-md-5">
																<div class="km-control-group" name="duration" caption="持续时间" ng-show="!document.status || isProposedOrApproved()">
																	<label for="durationPeriod" style="width:0px;height:0px;display:inline"><span style="display:none">6.请以数字输入持续时间，例如 24</span></label>
																	<label for="durationText" style="width:0px;height:0px;display:inline"><span style="display:none">6.请指出持续时间的单位是年、月还是日</span></label>
																	<input type="number" name="durationPeriod" ng-model="document.durationPeriod"
																	minlength="1" placeholder="eg. 24" ng-change="clearDates()" class="form-control"
																	style="display:inline-block;width:100px"/>
																	<select name="durationText" ng-model="document.durationText"  class="form-control"
																	style="display:inline-block;width:100px" placeholder="eg. Months">
																		<option value=""></option>	
																		<option value="days">日</option>
																		<option value="months">月</option>
																		<option value="years">年</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="organizations" caption="7.实施和/或执行该倡议的机构或组织">
												<div class="help-info">在某些情况下，一个机构可同时扮演实施角色和执行角色。在这些情况下，请同时勾选两个选项框。</div>
												<div class="checkbox"><label><input type="checkbox" ng-model="document.isImplementedByAgencies">实施机构或组织</label></div>
				
												<div class="row" >
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isImplementedByAgencies" name="implementingAgencies" caption="请选择实施机构或组织">
															<div class="help-info">实施机构是指负责制定倡议，监控实施，以及监督和评估的组织或法律实体，其任务还包括提供资金、确保信托标准和质量保证得到应用，以及编制项目完成报告。执行机构是指对倡议的完成最终负责的实体，并向捐助者负责。</div>
				
				
															<organization-selector multiple ng-model="document.implementingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
														</div>
													</div>
												</div>
				
												<div class="checkbox"><label><input type="checkbox" ng-model="document.isExecutededByAgencies">执行机构或组织</label></div>
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isExecutededByAgencies" name="executingAgencies" caption="请选择执行机构或组织">
															<div class="help-info">执行机构是指直接管理倡议的组织/机构，包括其活动的日常规划、协调和执行，监测和报告进度，采购和管理资源（员工、资金、设备等），以及，并执行其他项目管理职能。</div>
				
															<organization-selector multiple ng-model="document.executingAgencies" locales="document.header.languages" caption="{{'Add an organization »'}}"></organization-selector>
														</div>
													</div>
												</div>
				
												<div class="checkbox"><label><input type="checkbox" ng-model="document.isCollaboratededByPartners">合作伙伴</label></div>
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isCollaboratededByPartners" name="collaboratingPartners" caption="请选择合作伙伴">
															<div class="help-info">合作伙伴是指对该倡议有重大财务或其他贡献，和/或积极支持或配合该倡议实施的实体或组织。</div>
															 
															<organization-selector multiple ng-model="document.collaboratingPartners" locales="document.header.languages" caption="8.联系人"></organization-selector>
														</div>
													</div>
												</div>
												</div>
											</div>
										</div>
				
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="contacts" caption="8.联系人">
				
													 <div document-selector ng-model="document.contacts"
																						question="contacts"
																						schema="((schema_s:contact AND type_s:person))"
																						filter="true" skip-government="true"></div><!-- (focalpoint authority) OR  --></div>
											</div>
										</div>
				
				
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="projectDocument" caption="9.描述倡议的项目文件或文件">
													<div class="help-info">请始终附加相关文档。该文档将存储在数据库中，以供用户下载。对于可在互联网上找到的文档，还请提供这些资源的链接。</div>
													<div km-link name="projectDocument" required ng-model="document.projectDocument" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
												</div>
											</div>
										</div>
				
										<legend>详细信息</legend>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="description" caption="10.倡议的简短描述，包括其目标和子目标">
													<div km-textbox-ml required ng-model="document.description" rows="3" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="audience" caption="11.目标群体/受益人">
													<div km-term-check name="audience" required ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="categories" caption="12.能力建设活动类别">
													<div km-term-check show-description="true" name="categories" required ng-model="document.categories" terms="options.categories()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
				
										<legend>资金信息</legend>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="fundingSourceTypes" caption="13.资金来源类型">
													<div km-term-check show-description="true" name="fundingSourceTypes" required ng-model="document.fundingSourceTypes" terms="options.fundingSources()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="isSelfFunding()">
											<div class="col-md-12">
				
												<div class="km-control-group" required="isSelfFunding()" name="selfFunding" caption="请提供有关资金的进一步信息">
													<div km-textbox-ml required="isSelfFunding()" rows="2" name="selfFunding" ng-model="document.selfFundingInfo" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="corefundingsources" caption="14.核心资金来源"><!-- <div document-selector ng-model="document.coreFundingSources"
																						question="coreFundingSources"
																						schema="contact"
																						government="document.government"
																						filter="true"
																						></div> --><organization-selector multiple ng-model="document.coreFundingSources" locales="document.header.languages" caption="15.共同出资来源"></organization-selector>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="cofinancingsources" caption="15.共同出资来源"><!-- <div document-selector ng-model="document.coFinancingSources"
																						question="coFinancingSources"
																						schema="contact"
																						government="document.government"
																						filter="true"
																						></div> --><organization-selector multiple ng-model="document.coFinancingSources" locales="document.header.languages" caption="16.总预算（金额，美元）"></organization-selector>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-3">
												<div class="km-control-group" name="totalBudget" caption="16.总预算（金额，美元）">
													 <div class="help-info">这可包括以货币形式表达的实物捐助。</div><!-- <div km-textbox-ml name="totalBudget" ng-model="document.totalBudget" rows="1" locales="document.header.languages"></div> --><div class="input-group"><span class="input-group-addon">美元</span><input type="text" class="form-control" style="width:200px" required name="totalBudget" ng-model="document.totalBudget" />
													</div>
												</div>
											</div>
										</div>
				
				
										<legend>能力建设成果</legend>
										<div class="help-info">一旦从正在进行的或已完成的倡议中得到一些结果（产出、成果或影响）或最佳做法以及涉及的经验教训，则可以提供这些信息。</div>
										<div class="well">
											<div class="km-control-group" name="totalBudget" caption="17.结果">
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" name="resultsAchievements" caption="结果：主要成就"><span class="help-info">请简要总结该倡议的主要成就，包括在实现《公约》及其各项议定书目标的过程中与促进两性平等相关的情况。（最多 200 单词）</span><div km-textbox-ml name="resultsAchievements" ng-model="document.resultsAchievements" rows="4" locales="document.header.languages"></div>
														</div>
													</div>
												</div>
				
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" name="resultsOutputs" caption="结果：主要产出"><span class="help-info">请附上/上传由倡议和/或报告形成的相关产品（例如工具和材料）的副本或提供它们的网页链接</span><div km-link name="resultsOutputs" ng-model="document.resultsOutputs" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
														</div>
													</div>
												</div>								
											</div>
										</div><!-- <div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="resultsReference" caption="Clearing-house record containing relevant information">
													<div km-reference multiple name="resultsReference" ng-model="document.resultsReference" loader="loadRecords(identifier, 'organization')">
														<div>
															<div><strong>{{reference.title | lstring}}</strong></div>
															<div>{{reference.summary | lstring}}</div>
														</div>
													</div>
												</div>
											</div>
										</div> --><div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="bestPractices" caption="18.最佳做法和经验教训"><span class="help-info">请简要总结最佳做法和经验教训（最多 500 单词）</span><div km-textbox-ml name="bestPractices" ng-model="document.bestPractices" rows="4" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<legend>与对该倡议的主题报道相关信息</legend>
				
										<div class="row" >
											<div class="col-md-12">
												<div class="km-control-group" required name="aichiTargets" caption="19.相关爱知生物多样性目标">
													<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()" binding-type="term[]"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
											   <div class="km-control-group" name="absKeyAreas" required caption="20.能力建设和发展的关键领域和战略措施">
													 <div class="help-info">《能力建设和培养战略框架》确定的关键领域，旨在支持对《名古屋议定书》的有效执行（决定 NP-1/8）。</div>
													 <div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
												</div>
											</div>
										</div><a translation-url  name="#AdditionalInformation"></a><legend>21.Additional information</legend>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="address" caption="其它相关信息" >
													<div class="help-info">请在此处提供记录中其它位置未能提到的任何其它相关信息。</div>
													<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="relevantDocuments" caption="任何其他相关文件">
													<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
												</div>
											</div>
										</div>
				
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" name="notes">
													<legend>22.备注</legend><span class="help-info">The field “Notes” is for personal reference and can be seen only when the record is being edited.</span><div km-notes name="notes" ng-model="document.notes"></div>
												</div>
											</div>
										</div>
									</div>
				
				
								</form>
                    </edit-form>
                    <review-form>
                        <view-capacity-building-initiative ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></view-capacity-building-initiative>
                    </review-form><!-- <publish-form></publish-form> --> <!-- use when you wan to display more than publish buttons --></div>

        </div>
    </div>
</div>
