<div ng-controller="editLaw">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>一般信息</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption="请选择您希望提交此报告的语言">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="government" required caption="国家提交决定或通讯往来">
												<div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government"
												 source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="请选择一个国家..."></div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="jurisdiction" required caption="管辖权">
												<div class="help-block">如果辖区不同于国家名称，则请提供适用法律、法规、准则或协议所属的辖区。示例：国家：Denmark, Jurisdiction:&ldquo;法罗群岛和格陵兰属于例外领土&rdquo;。 <br/> <strong>Important note for EU Members only: if the law, regulation, guideline or agreement applies to all EU Member States please select &quot;European Union&quot; in the &apos;Jurisdiction&apos; field.</strong></div>
												<div km-select multiple required name="jurisdiction" ng-model="document.jurisdictions"
												 items="options.jurisdiction()" placeholder="Please select a Jurisdiction..."></div>
												 <div class="row">
													<div class="col-sm-12" ng-if="hasOther(document.jurisdictions)">
														<div class="km-control-group" name="otherJurisdiction" caption="Other jurisdiction"><!-- <div ng-repeat="jurisdiction in jurisdictionNames" style="padding-bottom:5px;"> {{$index}}--><div km-textbox-ml name="jurisdictionNames" ng-model="otherJurisdictionValue" locales="document.header.languages"></div><!-- </div>
															<button class="btn btn-primary" ng-click="jurisdictionNames.push({})">Add a item</button> --></div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="title" caption="Title of document">
												<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>立法细节</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="type" required caption="Type of document">
												<div class="help-block">A law is usually legislation (a statute) enacted by a state government.A regulation is usually an act or process of controlling by rule or restriction, having legal force, issued by an administrative agency or a local government.A guideline is usually a document that announces the policy an agency intends to implement in future decision-making, or which will otherwise guide the agency in the exercise of its administrative discretion.A regulatory summary is a text summary of the national biosafety regulatory framework in place, or being developed in a country.</div>
												<div km-term-radio required ng-model="document.type" locales="document.header.languages"
													terms="options.legislationAgreementTypes()" binding-type="term" show-other="true"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="cpbSubjectAreas" required caption="Subject areas">
												<div class="help-block">本节提供了与所涉主题相关的关键词，以协助记录搜索和翻译（可在记录的其它地方提供完整的描述）。</div>
												<div km-term-check required ng-model="document.cpbSubjectAreas" locales="document.header.languages"
													terms="options.subjectAreas()" show-other="true" binding-type="term[]"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="type" required caption="Types of LMOs addressed">
												<div class="help-block">本节提供了与所涉改性活生物体类别相关的关键词，以协助记录搜索和翻译（可在记录的其它地方提供完整的描述）。</div>
												<div km-term-check required ng-model="document.cpbOrganismTypes" locales="document.header.languages"
													terms="options.typeOfOrganisms()" show-other="true" binding-type="term[]"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="description" caption="Brief description of the document including objective and scope">
												<div class="help-block">Objective Example:&quot;The objective of this Act is to contribute to ensuring an adequate level of protection in the field of the safe transfer, handling and use of living modified organisms resulting from modern biotechnology that may have adverse effects on the conservation and sustainable use of biological diversity, taking also into account risks to human health, and specifically focusing on transboundary movements.&quot; <br/> <br/> Scope Example:&quot;These regulations apply to the transboundary movement, transit, handling and use of all living modified plants that may have adverse effects on the conservation and sustainable use of biological diversity, taking also into account risks to human health.&quot;</div>
												<div km-rich-textbox ng-model="document.description" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="entryIntoForce" caption="生效日期">
												<div km-date placeholder="YYYY-MM-DD" name="entryIntoForce" ng-model="document.entryIntoForce"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>文档细节</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="documents" caption="Document text">
												<div class="help-block">最好提供附件。否则，请提供文档位置(如网页地址，包括网站网址(如http://bch.biodiv.org)和网站名称(如&ldquo;生物安全信息交换所&rdquo;)。</div>
												<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="unofficialDocuments" caption="Unofficial Documents">
												<div class="help-block">Unofficial document and / or courtesy translation.</div>
												<div km-link name="unofficialDocuments" ng-model="document.unofficialDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="documentsInfo" caption="">
												<div class="help-block">Use this field to provide any relevant information about document text including details of how to obtain a copy of the document if it is not available as an attachment or online.</div>
												<div km-rich-textbox ng-model="document.documentsInfo" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="amendedRecords" caption="Amendments">	
												<div class="help-block">请说明该文档是否有任何修正。如果修正已作为另一记录登记，则请提供交叉引用链接。</div>										
												<div document-selector ng-model="document.amendedRecords" question="amendedRecords"
													government="document.government" schema="(biosafetyLaw)" caption="法律、法规或准则"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" name="amendmentsDetails" caption="">
												<div km-rich-textbox ng-model="document.amendmentsDetails" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>监管联系方式</legend>
									<div class="row">
										<div  class="col-xs-12">
											<div class="km-control-group" name="authorities" caption="国家主管部门" required>	
												<div document-selector ng-model="document.authorities" question="authorities"
													government="document.government" schema="(authority)"></div>			
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>确认或更新信息的时间表</legend>
									<div class="row">
										<div  class="col-xs-12">
											<div class="km-control-group" name="authorities" caption="是否要求在提交日期两年之后对此信息进行确认或更新？" required>	
												<div class="help-block">如果答案是&ldquo;是&rdquo;，在提交日期两年之后，您将必须在3个月内确认或更新此记录。在此阶段之后，如果没有收到确认，该记录将被标记为&ldquo;未确认&rdquo;。</div>     
												<div class="km-yes-no" name="expires" ng-model="document.expires"></div>			
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>更多信息</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="其它相关信息">
												<div class="help-block">请在此处提供记录中其它位置未能提到的任何其它相关信息。</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="任何其他相关文件">
												<div class="help-block">请在此处提供任何其它相关网站地址和/或将储存在数据库中供用户下载的一个或多个相关文档。</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>备注</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">备注项仅为个人用途：当您编辑记录时，您可以看到此项，但是当其它用户通过搜索页面查看记录时，此项不可见。</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-biosafety-law ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
