<div ng-controller="editLmo">

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;"><span block-region activate="isLoading()" ng-if="isLoading()"></span><div class="registerpage-content">

			<workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" tab="tab"
			 validation-report="validationReport" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
			 on-post-publish="onPostPublishOrRequest(data)" on-pre-publish="onPrePublish()" on-pre-save-draft="onPreSaveDraft()"
			 on-post-save-draft="onPostSaveDraft(data)" on-post-request="onPostPublishOrRequest(data)" on-pre-request="onPreRequest()"
			 data-container="{{container}}" is-dialog="{{isDialog}}">
				<edit-form>
					<form class="editForm" name="editForm" style="margin-top:10px">
						<div>

							<section>
								<div class="well no-shadow bg-white">
									<legend>一般信息</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="languages" required caption="Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages required name="languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>改性活生物体（LMO）的身份。</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="identity" caption="改性活生物体的名称">
												<div class="help-block">名称常用来识别改性活生物体，例如商品名（如Roundup soy, NewLeaf® potato,等）</div>
												<div km-textbox-ml name="identity"  ng-model="document.identity" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="transformationEvent" caption="转化事件">
												<div class="help-block">转化事件名称，如MON810</div>
												<input type="text" class="form-control" name="transformationEvent" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="hasUniqueIdentification" required caption="此改性活生物体是否有独特识别码？">
												<div class="help-block">生物安全信息交换所目前使用的是根据经济合作与发展组织（OECD）设计的独特识别码系统，用于为转基因植物指定独特识别码（如MON-ØØ81Ø-6）。如需更多信息，请查看<a href="http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml">http://bch.cbd.int/database/organisms/uniqueidentifiers/about.shtml</a>。</div>
												<div km-yes-no required ng-model="hasUniqueIdentification" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12" ng-if="hasUniqueIdentification">
											<div class="km-control-group" required name="uniqueIdentification" caption="唯一识别码">
												<input type="text" class="form-control" name="uniqueIdentification" required ng-model="document.transformationEvent"/>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="developers" caption="开发者">	
												<div document-selector ng-model="document.developers" question="developers"
													schema="(contact)" caption="联系人"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="description" caption="Description">
												<div km-textbox-ml name="description" required ng-model="document.description" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="recipientOrganisms" caption="受体生物体或亲本生物体">	
												<div class="help-block">“受体生物体”一词是指经受基因改性的生物体（已改性或未改性），而“亲本生物体”是指那些参与交叉育种或细胞融合的生物体。</div>
												<div document-selector required ng-model="document.recipientOrganisms" question="recipientOrganisms"
													schema="(organism modifiedOrganism)" caption="Add Organism / Modified Organism"></div>			
											</div>
										</div>

										<div class="col-sm-12">
											<div class="km-control-group"  name="recipientOrganismCollectionPoint" caption="收集或获得受体生物体或亲本生物体的地点">
												<div km-textbox-ml name="recipientOrganismCollectionPoint"  ng-model="document.recipientOrganismCollectionPoint" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="linkedModifiedOrganisms" caption="相关改性活生物体">	
												<div class="help-block">此字段涉及具有类似特征的其他改性活生物体。</div>
												<div document-selector ng-model="document.linkedModifiedOrganisms" question="linkedModifiedOrganisms"
													schema="(modifiedOrganism)"></div>			
											</div>
										</div>
									</div>
								</div>
							</section>
							

							<section>
								<div class="well no-shadow bg-white">
									<legend>改性过程的特点</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group"  name="vector" caption="载体">
												<div class="help-block">载体用于与DNA序列结合（一般为启动子-基因-终止子结构）以协助将其转移到受体生物体中。例子：土壤农杆菌Ti质粒和pBIN19质粒</div>
												<div km-textbox-ml name="vector"  ng-model="document.vector" locales="document.header.languages"></div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group"  name="techniqueUsed" caption="基因修饰所用技术">
												<div km-term-check name="techniqueUsed" required ng-model="document.techniqueUsed" terms="options.techniqueUsed" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="genes" caption="引入或改性基因片断">	
												<div class="help-block">本部分中最好提及当前改性活生物体引入的所有基因片断，如启动子、蛋白质编码序列和终结子。至少填写全部蛋白质编码序列。</div>
												<div document-selector ng-model="document.genes" question="genes"
													schema="(dnaSequence)" caption="基因和DNA序列"></div>			
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="geneConstructs" caption="基因片断构造">
												<div class="help-block"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="有关该改性活生物体中存在之基因片断的注释">	
												<div class="help-block">请说明是否有任何基因片断是自生物安全信息交换所基因片断登记薄所登记的序列改性而得，以及它们在当前改性活生物体中的相互关系，例如“在35S启动子和nos终结子控制下的epsps蛋白质编码序列。</div>
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
									</div>
								</div>
							</section>
	
							
							<section>
								<div class="well no-shadow bg-white">
									<legend>改性活生物体的特征</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" required name="traits" caption="Modified Traits">
												<div km-term-check name="traits" required ng-model="document.traits" terms="options.traits" binding-type="term[]"></div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" required name="affectedGenes" caption="表达受到转化影响的其他基因">	
												<div class="help-block">此部分应用于指出基因表达的变化，而不是插入改性活生物体的基因； 如基因沉默或诱导。</div>
												<div document-selector ng-model="document.affectedGenes" question="affectedGenes"
													schema="(dnaSequence)" caption="基因和DNA序列"></div>			
											</div>
										</div>
										<div class="col-xs-12">
											<div class="km-control-group" name="geneNotes" caption="请描述基因表达如何受到影响">	
												<div km-textbox-ml name="geneNotes"  ng-model="document.geneNotes" locales="document.header.languages"></div>	
											</div>
										</div>
										<div class="col-sm-12">
											<div class="km-control-group" required name="commonUses" caption="改性活生物体的常见用途">
												<div class="help-block">选择所有适用选项</div>
												<div km-term-check name="commonUses" required ng-model="document.commonUses" terms="options.commonUses" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>探测方法</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethod" caption="外部链接">
												<div km-rich-textbox ng-model="document.detectionMethod" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="detectionMethodLinks" caption="Additional information">
												<div km-link name="detectionMethodLinks" ng-model="document.detectionMethodLinks" allow-link="true" allow-file="true"
													identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>更多信息</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="address" caption="其它相关信息">
												<div class="help-block">请在此处提供记录中其它位置未能提到的任何其它相关信息。</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="km-control-group" name="relevantDocuments" caption="任何其他相关文件">
												<div class="help-block">请在此处提供任何其它相关网站地址和/或将储存在数据库中供用户下载的一个或多个相关文档。</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<legend>备注</legend>

								<div class="row">
									<div class="col-sm-12">
										<div class="km-control-group" name="notes">
											<div class="help-block">The “Notes” field is for your personal notes or comments and will be hidden when viewing the record.此字段不适用于保密信息。</div>
											<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
										</div>
									</div>
								</div>
							</section>

						</div>
					</form>
				</edit-form>
				<review-form>
					<div view-lmo ng-model="document" locale="review.locale" allow-drafts="true"></div>
				</review-form>
			</workflow-arrow-buttons>
		</div>
	</div>
</div>
</div>
