<div id="Search-Filter"  class="row" ng-show="rf_filters.length" style="margin-bottom:30px;">
    <div  class="col-md-12"  >
    <div class="heading color-orange" ng-if="rf_filters.length">Справочные записи</div>
    <hr class="heading" ng-if="rf_filters.length">
        <p class="helpinfo" ng-if="rf_filters.length"><i class="fa fa-info-circle helpicon" ></i> Справочные записи включают некоторые материалы и информацию по вопросам ДГРСИВ. Они могут представляться любым зарегистрированным пользователем Механизма посредничества для регулирования ДГРСИВ, в том числе Сторонами, странами, не являющимися Сторонами, правительствами, международными организациями, коренными и местными общинами и соответствующие заинтересованными сторонами.</p>
        
    <div ng-repeat="doc in rf_filters = (rf_searchFilters | filter:searchKeyword | orderBy:['filterSort', 'sort'])"><a translation-url  class="filter"  ng-click="saveFilter(doc)"><i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i> {{doc.name}} <!--<span class="badge">100</span>--></a> <!--<p class="helpinfo" ><i class="fa fa-info-circle helpicon" ng-if="doc.description"></i> {{doc.description}} </p>--> <span ng-if="doc.description" href="#" class="helpinfoInline fa fa-info-circle color-white" data-toggle="tooltip" data-html="true" data-title="{{doc.description}}" data-container="body"></span></div>
    <div ng-if="(searchKeyword && !showFilters) && rf_filters.length" style="margin-bottom:10px;"></div>  
    </div>
</div>