<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Changer la langue</h1>
        <hr>
       <div class="well">
           <p>Veuillez patienter pendant que nous vous redirigeons vers le site Centre d'échange APA en {{currentLanguage}}</p>
           <h3 class="color-green">For technical support please contact our help desk at: <span class="color-blue">absch@cbd.int</span></h3>
       </div>
      </div>
    </div>
</div>
