<div>
    <div  ng-show="!user.isAuthenticated" style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Veuillez vous connecter pour publier de l&rsquo;information au Centre d&rsquo;&eacute;change APA</h1>
        <hr>
       <div class="well">
       <h3>Comment m&rsquo;inscrire pour obtenir un compte CDB?</h3>
       <p>Toute personne peut avoir un compte CBD qui lui permettra d&apos;enregistrer des informations dans toutes les centres d&rsquo;&eacute;chage d&rsquo;information de la CDB, y compris le Centre d&apos;&eacute;change pour la pr&eacute;vention des risques biotechnologiques, le Centre d&apos;&eacute;change sur l&apos;acc&egrave;s et le partage des avantages et le Centre d&apos;&eacute;change en vertu de la Convention. Vous pouvez vous inscrire pour cr&eacute;er un compte au <a translation-url  href="http://accounts.cbd.int/signin" class="bold">accounts.cbd.int/signin</a></p>
        <p>Assure-vous d&rsquo;entrer toutes les informations requises, tel qu&rsquo;indiqu&eacute; dans le formulaire. Vous recevrez automatique un courriel avec un hyperlien sur lequel vous devrez cliquer pour confirmer votre compte.</p>
       <h3>Vous avez oubli&eacute; votre mot de passe&nbsp;?</h3>
        <p>Cliquez ici <a translation-url  href="http://accounts.cbd.int/password/reset" class="bold">accounts.cbd.int/password/reset</a> pour un nouveau mot de passe. On vous demandera votre adresse &eacute;lectronique et, si vous &ecirc;tes un utilisateur inscrit, un courriel vous sera imm&eacute;diatement envoy&eacute; &agrave; votre compte de messagerie &eacute;lectronique inscrit avec les instructions &agrave; suivre pour cr&eacute;er un nouveau mot de passe.</p>
        <h3>Avez-vous des probl&egrave;mes avec l&apos;affichage du Centre d&rsquo;&eacute;change APA?</h3>
        <p> Le Centre d&rsquo;&eacute;change APA a &eacute;t&eacute; con&ccedil;u pour l&rsquo;usager qui utilise les versions r&eacute;centes des navigateurs Internet r&eacute;cents (Firefox, Chrome or Internet Explorer 9+)</p>
        <h3 class="color-green">Pour du soutien technique, contactez notre service d&rsquo;aide au : <span class="color-blue">absch@cbd.int</span></h3>
       </div>
      </div>
</div>
