<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">V&eacute;rification du courriel en cours</h1>
        <hr>
       <div class="well">
           <p>V&eacute;rification du courriel en cours. Veuillez v&eacute;rifier votre courriel avant de soumettre toute donn&eacute;e.</p>
           <h3 class="color-green">Veuillez cliquer sur le lien de confirmation disponibile dans le courriel envoy&eacute; au : {{user.email}}. cliquer <a href="https://accounts.cbd.int/activate/resend">ici</a> pour re-envoyer le courriel d&rsquo;activation.</h3>
       </div>
      </div>
    </div>
</div>



